  <p>
    <%= f.label :name, "Display Name" %><br />
    <%= f.text_field :name %>
  </p>
  <% if self.pricing_component.numerical? %>
  <p>
    <%= f.label :minimum %><br />
    <%= f.text_field :minimum %>
  </p>
  <p>
    <%= f.label :maximum %><br />
    <%= f.text_field :maximum %>
  </p>
  <% else %>
  <p>
    <%= f.label :matcher, "Value to Match Pulled Value Against (only if different from display name)" %><br />
    <%= f.text_field :matcher %>
  </p>
  <% end %>
  <p>
    <%= f.label :value %><br />
    <%= f.text_field :value %>
  </p>
