  <p>
    <%= f.label :pricing_component_id %><br />
    <%= f.text_field :pricing_component_id %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :matcher %><br />
    <%= f.text_field :matcher %>
  </p>
  <p>
    <%= f.label :minimum %><br />
    <%= f.text_field :minimum %>
  </p>
  <p>
    <%= f.label :maximum %><br />
    <%= f.text_field :maximum %>
  </p>
  <p>
    <%= f.label :value_cents %><br />
    <%= f.text_field :value_cents %>
  </p>
  <p>
    <%= f.label :active %><br />
    <%= f.check_box :active %>
  </p>
