<% hash = get_hash(@date, @worker) %>
<% pay_period = hash[:pay_period] %>
<h1>Staff hours for <%= @worker.name %> in pay period between <%= pay_period.range.min %> and <%= pay_period.range.max %></h1>
<%= pay_period.to_html(@worker, @controller) %>
<br />
<table class="awesome">
<% [
     [:total_pay_period, "Total hours worked"],
     [:expected_minimum, "Minimum so far in pay period"],
     [:expected_maximum, "Maximum so far in pay period"],
     [:pto, "PTO at this rate"],
].each do |k,v| -%>
<tr><td><%= v %>:</td><td style="text-align: right;"><%= sprintf("%.2f", hash[k]) %></td></tr>
<% end %>
</table>
