<p>
  Note: This component is part of the following Pricing Types: <%= f.object.pricing_types.map(&:name).join(", ")%>
</p>
<% unless f.object.id %>
<%= hidden_field_tag :pricing_expression_id, @pricing_expression.id %>
<% end %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :pull_from, "Pulled Value to Match Against" %><br />
    <%= f.select :pull_from, [["<optional for automatic detection>", nil]] + SystemPricing.valid_pulls.map{|x| [x.to_s.titleize, x.to_s]} %>
  </p>
  <% if f.object.pull_from.to_s.length > 0 %>
  <p>
    <%= f.label :lookup_type, "Lookup Pulled Value Against (Name of Table must match Pulled Value above exactly)" %><br />
    <%= f.select :lookup_type, [["<optional for automatic database lookup>", nil]] + PricingData.distinct('lookup_type', ['printme_pull_from = ?', f.object.pull_from]).map{|x| [x.to_s, x.to_s]} %>
  </p>
  <% end %>
  <p>
    <%= f.label :numerical, "Handle Pulled Value as Number? (to match against ranges)" %><br />
    <%= f.check_box :numerical %>
  </p>
  <p>
    <%= f.label :multiple, "Allow multiple selected? (as optional field)" %><br />
    <%= f.check_box :multiple %>
  </p>
<% if f.object.id %>
<%= render :partial => "pricing_values/list" %>
<%= link_to "Download as CSV", :action => "to_csv", :id => @pricing_component.id %> | 
<%= link_to "Add new pricing value", {:controller => "pricing_values", :action => "new", :pricing_component_id => @pricing_component.id} %>
<% end %>
