  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :pull_from %><br />
    <%= f.select :pull_from, SystemPricing.valid_pulls.map{|x| [x.to_s.titleize, x.to_s]} %>
  </p>
  <p>
    <%= f.label :numerical %><br />
    <%= f.check_box :numerical %>
  </p>
  <p>
    <%= f.label :multiple %><br />
    <%= f.check_box :multiple %>
  </p>
