  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :pull_from %><br />
    <%= f.text_field :pull_from %>
  </p>
  <p>
    <%= f.label :numerical %><br />
    <%= f.check_box :numerical %>
  </p>
  <p>
    <%= f.label :multiple %><br />
    <%= f.check_box :multiple %>
  </p>
