<table>
  <tr>
    <th>Name</th>
    <th>Pull from</th>
    <th>Numerical</th>
    <th>Multiple</th>
  </tr>

<% for pricing_component in @pricing_components %>
  <tr>
    <td><%=h pricing_component.name %></td>
    <td><%=h pricing_component.pull_from %></td>
    <td><%=h pricing_component.numerical %></td>
    <td><%=h pricing_component.multiple %></td>
    <td><%= link_to 'Show', {:action => "show", :id => pricing_component.id} %></td>
    <td><%= link_to 'Edit', {:action => "edit", :id => pricing_component.id} %></td>
    <td><%= link_to 'Destroy', {:action => "destroy", :id => pricing_component.id}, :confirm => 'Are you sure?' %></td>
  </tr>
<% end %>
</table>
