<h1>Editing <%= @pricing_component.display_name %> pricing component</h1>

<h3>Import Value Table:</h3>
<% @import = OpenStruct.new %>
<% if flash[:error] %>
<span class="error">
<%= flash[:error] %>
</span>
<% end %>
<%= form_for @import, :html => {:enctype => "multipart/form-data"}, :url => {:action => "import_table", :id => @pricing_component.id} do |f| %>
<%= f.label :csv, "CSV file (with correct column headers, download example below)" %>
<%= f.file_field :csv %><br />
<%= f.submit "Import" %>
<% end %>

<%= form_for(@pricing_component, :url => {:action => "update", :id => @pricing_component.id}) do |f| %>
  <%= f.error_messages %>

  <%= render :partial => "form", :locals => {:f => f} %>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Back', session[:pricing_refer] || {:controller => "pricing_types"} %>
