<h1>New pricing component</h1>

<%= form_for(@pricing_component, :url => {:action => "create"}) do |f| %>
  <%= f.error_messages %>

  <%= render :partial => "form", :locals => {:f => f} %>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', {:controller => "pricing_types", :action => "edit", :id => @pricing_expression.pricing_type.id} %>
