<p>
  <b>Name:</b>
  <%=h @pricing_component.name %>
</p>

<p>
  <b>Pull from:</b>
  <%=h @pricing_component.pull_from %>
</p>

<p>
  <b>Numerical:</b>
  <%=h @pricing_component.numerical %>
</p>

<p>
  <b>Multiple:</b>
  <%=h @pricing_component.multiple %>
</p>


<%= link_to 'Edit', {:action => "edit", :id => @pricing_component.id} %> |
<%= link_to 'Back', {:action => "index"} %>
