<% form_remote_tag :url => "/sessions/create" do -%>
<% if session[:unauthorized_controller] && session[:unauthorized_action] %>
<input type="hidden" name="goto[controller]" value="<%= session[:unauthorized_controller] %>" />
<input type="hidden" name="goto[action]" value="<%= session[:unauthorized_action] %>" />
<% end %>

<div class="form-element">
  <label for="login">Login</label>
  <%= text_field_tag 'login' %>
</div>

<div class="form-element">
  <label for="password">Password</label>
  <%= password_field_tag 'password' %>
</div>

<div class="form-element">
  <%= submit_tag 'Log in' %>
</div>
<% end -%>
