  <p>
    <%= f.label :contact_id, "Volunteer ID" %><br />
    <%= f.text_field :contact_id %>
  </p>
  <p>
    <%= f.label :system_id %><br />
    <%= f.text_field :system_id, :readonly => "readonly" %>
  </p>
  <p>
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </p>
