<h1>Editing note</h1>

<%= form_for(@note, :url => {:action => "update", :id => @note.id}) do |f| %>
  <%= f.error_messages %>

  <%= render :partial => "form", :locals => {:f => f} %>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Back', {:action => "show", :id => @note.id} %>

