<h1>Editing gizmo_type_group</h1>

<%= form_for(@gizmo_type_group) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <%=  render :partial => 'gizmo_types' %>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @gizmo_type_group %> |
<%= link_to 'Back', gizmo_type_groups_path %>
