<h1>Listing gizmo_type_groups</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Gizmo Types</th>
  </tr>

<% @gizmo_type_groups.each do |gizmo_type_group| %>
  <tr>
    <td><%=h gizmo_type_group.name %></td>
    <td><%= gizmo_type_group.gizmo_type_list %></td>
    <td><%= link_to 'Show', gizmo_type_group %></td>
    <td><%= link_to 'Edit', edit_gizmo_type_group_path(gizmo_type_group) %></td>
    <td><%= link_to 'Destroy', gizmo_type_group, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New gizmo_type_group', new_gizmo_type_group_path %>
