<h1>New gizmo_type_group</h1>

<%= form_for(@gizmo_type_group) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <%= render :partial => 'gizmo_types' %>

  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', gizmo_type_groups_path %>
