<h2>New Class</h2>

<% if @notice.length > 0 %>
<h3 style="color: green;"><%= @notice %></h3>
<%= link_to "Click here to edit the new class", {:action => "edit", :id => @notice_id} %>
<% end %>

<%= error_messages_for :volunteer_event %>

<% form_for :klass, :url => {:action => "new_class"} do |f| %>
  <p>
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.label :date %><br />
    <%= calendar_box f.object_name, :date %>
  </p>
  <p>
    <%= f.label :notes %><br />
    <%= f.text_area :notes %>
  </p>
  <p>
    <%= f.label :student_slot_count %><br />
    <%= f.text_field :student_slot_count %>
  </p>
  <p>
    <%= f.label :audit_slot_count %><br />
    <%= f.text_field :audit_slot_count %>
  </p>
  <p>
    <%= f.label :instructor_slot_count %><br />
    <%= f.text_field :instructor_slot_count %>
  </p>
<p>
<%= contact_field('@klass', 'contact_id') %>
</p>

<p>
<%= contact_field('@klass', 'contact2_id', :locals => {:options => {:field_name => "contact2_id"}}) %>
</p>

  <p>
    <%= f.label :roster_id %><br />
    <%= f.select("roster_id", [Roster.new(:name => ""),  Roster.find(:all)].flatten.map{|x| [x.name, x.id]}) %>
  </p>
  <p>
    <%= f.label :program_id %><br />
    <%= f.select("program_id", [Program.new(:name => ""),  Program.find(:all, :conditions => {:volunteer => true})].flatten.map{|x| [x.name, x.id]}) %>
  </p>
<p>
    <%= f.label :start_time %><br />
<%= time_select :klass, :start_time, :twelve_hour => true, :minute_step => 15 %>
</p>
<p>
    <%= f.label :end_time %><br />
<%= time_select :klass, :end_time, :twelve_hour => true, :minute_step => 15 %>
</p>

  <p>
    <%= f.label :resource_id %><br />
    <%= f.select("resource_id", [Resource.new(:name => ""),  Resource.find(:all)].flatten.map{|x| [x.name, x.id]}) %>
  </p>

<p><%= f.submit "Continue" %>
</p>
<% end %>
