  <p>
    <%= f.label :meeting_id %><br />
    <%= f.text_field :meeting_id %>
  </p>
  <p>
    <%= f.label :days_before %><br />
    <%= f.text_field :days_before %>
  </p>
  <p>
    <%= f.label :recipient %><br />
    <%= f.text_field :recipient %>
  </p>
  <p>
    <%= f.label :subject %><br />
    <%= f.text_field :subject %>
  </p>
  <p>
    <%= f.label :script %><br />
    <%= f.text_field :script %>
  </p>
  <p>
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </p>
