<h2><%= params[:controller].humanize %>:</h2>

<%= do_jsalert %>

<span class="error">
<%= flash[:error] %><br />
</span>

<% unless @readonly %>
<%= has_privileges('admin_skedjul') ? (link_to "add intern", :action => "add_shift", :controller => (params[:controller] == "assignments") ? "volunteer_events" : "volunteer_default_events") : "" %>

<% if params[:controller] == "volunteer_shifts" %>
<%= link_to "Add new class event", :controller => "volunteer_events", :action => "new_class" %>
<% end %>
<%= has_privileges('admin_skedjul') ? (link_to "add new arbitrary event", :action => "new", :controller => (params[:controller] == "assignments") ? "volunteer_events" : "volunteer_default_events") : "" %>
<% end %>

<% to_action = params[:action] %>

<div>
<h3>By Schedule</h3>
<% c_last = "" %>
<% if s = Sked.find_by_name("Sandbox") %>
<% conds = {:sked_enabled => "true", :sked_id => s.id, :sked_excluded => "sked_excluded"} %>
<% else %>
<% conds = {:empty_enabled => "true"} %>
<% end %>
<%= link_to "ALL", {:action => to_action, :conditions => conds} %><br />
<% s = Sked.find(:all) %>
<% s.select{|x| x.category_type.to_s.strip.length == 0 }.each do |x| %>
<%= link_to x.name, {:action => to_action, :conditions => {:sked_enabled => "true", :sked_id => x.id}} %> (Rosters included: <%= x.rosters_s %>)<br />
<% end %>
<% s.select{|x| x.category_type.to_s.strip.length >0}.sort{|x,y| q = (y.category_type || "") <=> (x.category_type || ""); q == 0 ? x.name <=> y.name: q}.each do |x| %>
<% c_this = x.category_type.to_s %>
<% if c_this != c_last %>
<h4>Schedules By <%= c_last = c_this%></h4>
<% end %>
<%= link_to x.name, {:action => to_action, :conditions => {:sked_enabled => "true", :sked_id => x.id}} %> (Rosters included: <%= x.rosters_s %>)<br />
<% end %>
</div>

<div>
<h3>By Roster</h3>
<% Roster.enabled.sort_by(&:name).each do |x| %>
<%= link_to x.name, {:action => to_action, :conditions => {:roster_enabled => "true", :roster_id => x.id}} %><br />
<% end %>
</div>
