<%# todo: rename this file.. %>

<% is_r = params[:controller] == "assignments"%>
<div>
<% if is_r %>
<% my_date = Date.strptime(block_anchor, "%Y%m%d") %>
<% else %>
<% my_date = Weekday.find_by_name(block_anchor) %>
<% end %>
<% my_events = skedj.results %>
<% if is_r %>
<% my_events = my_events.map{|x| x.volunteer_shift.volunteer_event}.uniq.select{|x| x.date == my_date} %>
<% else %>
<% my_events = my_events.map{|x| x.volunteer_default_shift.volunteer_default_event}.uniq.select{|x| x.weekday == my_date} %>
<% end %>
<% my_events.each do |x| %>
<% resources = is_r ? x.resources_volunteer_events : x.resources_volunteer_default_events %>
<% next if resources.length == 0 and x.description.match(/^Roster #/) %>
<fieldset style="float: left">
<h4><%= x.description %> (<%= x.time_range_s %>) <%= has_privileges('admin_skedjul') ? (link_to "a", :action => "add_shift", :id => x.id, :controller => is_r ? "volunteer_events" : "volunteer_default_events") : "" %> <%= has_privileges('admin_skedjul') ? (link_to "e", :action => "edit", :id => x.id, :controller => is_r ? "volunteer_events" : "volunteer_default_events") : "" %></h4>
<% if is_r && x.volunteer_shifts.select{|y| y.volunteer_task_type_id.nil? }.length > 0 %>
<%= link_to "View Student List", {:controller => "volunteer_events", :action => "display", :id => x.id} %>
<% end %>
<% resources = resources.map{|q| q.resource.name}.join(", ") %>
<% if resources.length > 0 %>
Resources: <%= resources %><br />
<% end %>
<%= markdown(x.notes) %>
</fieldset>
<% end %>
</div>

<% unless @readonly %>
<div style="clear: left">
<%= button_to_function "Multi-Edit", "do_multi_edit();" %>
</div>
<% end %>

<div class="skedj">
<fieldset>
<h3>Shift Background Legend</h3>
<table cellpadding="10" cellspacing="5"><tr>
<td class="available">Available</td>
<td class="checked_in">Checked In</td>
<td class="shift">Filled Shift</td>
<td class="hardconflict">Conflict</td>
<td class="mediumconflict">Beyond Shift Time</td>
<td class="cancelled">Cancelled</td>
</tr></table>
</fieldset>
</div>
