<p>
  <b>Contact:</b>
  <%=h @assignment.contact.nil? ? "(available)" : @assignment.contact.display_name %>
</p>

<p>
  <b>Task:</b>
  <%=h @assignment.volunteer_shift.volunteer_task_type.description %>, 
  slot <%=h @assignment.volunteer_shift.slot_number %>
</p>

<p>
  <b>Date:</b>
  <%=h @assignment.volunteer_shift.date.strftime("%D") %>
</p>

<p>
  <b>Start time:</b>
  <%=h @assignment.start_time.strftime("%I:%M %p") %>
</p>

<p>
  <b>End time:</b>
  <%=h @assignment.end_time.strftime("%I:%M %p") %>
</p>


<%= link_to 'Edit', {:action => "edit", :id => @assignment.id} %> |
<%= link_to 'Back', {:action => "index"} %>
