  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :enabled %><br />
    <%= f.check_box :enabled %>
  </p>
  <h2>Schedules:</h2>
  <% for sked in Sked.find(:all) %>
    <div>
      <%= check_box_tag "roster[sked_ids][]", sked.id, @roster.skeds.include?(sked) %>
      <%= sked.name %> (<%= sked.category_type %>)
    </div>
  <% end %>
