<table>
  <tr>
    <th>Name</th>
    <th>Skeds</th>
  </tr>

<% for roster in @rosters %>
  <tr>
    <td><%=h roster.name %></td>
    <td><%=h roster.skeds_s %></td>
    <td><%= link_to 'Show', {:action => "show", :id => roster.id} %></td>
    <td><%= link_to 'Edit', {:action => "edit", :id => roster.id} %></td>
    <td><%= link_to 'Destroy', {:action => "destroy", :id => roster.id}, :confirm => 'Are you sure?' %></td>
  </tr>
<% end %>
</table>
