<h1>Editing roster</h1>

<%= form_for(@roster, :url => {:action => "update", :id => @roster.id}) do |f| %>
  <%= f.error_messages %>

  <%= render :partial => "form", :locals => {:f => f} %>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', {:action => "show", :id => @roster.id} %> |
<%= link_to 'Back', {:action => "index"} %>
