<div id="computer">
  <h2>Computer</h2>
  <table>
    <tr>
      <td>
        Vendor:
      </td>
      <td>
        <%= h @report.system.vendor %>
      </td>
    </tr>
    <tr>
      <td>
        Model:
      </td>
      <td>
        <%= h @report.system.model %>
      </td>
    </tr>
    <tr>
      <td>
        Serial Number:
      </td>
      <td>
        <%= h @report.system.serial_number %>
      </td>
    </tr>
    <% @parser.xml_foreach("//*[@class='processor']") do %>
      <% if @parser.xml_if("product") %>
        <tr>
          <td>
            Processor:
          </td>
          <td>
            <%= @parser.xml_value_of("product") %>
          </td>
        </tr>
        <% if @parser.xml_if("size") %>
          <tr>
            <td>
              Speed:
            </td>
            <td>
              <%= @parser.xml_value_of("size").to_hertz %>
            </td>
          </tr>
        <% end %>
      <% end %>
    <% end %>
    <tr>
      <td>
        BIOS Version:
      </td>
      <td>
        <%= @parser.xml_value_of("//*[contains(@id, 'firmware')]/version") %>
      </td>
    </tr>
    <% @parser.find_the_biggest("//node[contains(@id, 'usbhost')]/capabilities/capability", "USB ") do |value| %>
      <tr>
        <td>
          Supports:
        </td>
        <td>
          USB <%= value %>
        </td>
      </tr>
    <% end %>
    <% a = []; @parser.xml_foreach("//*[contains(@id, 'storage') or contains(@id, 'ide') or contains(@id, 'scsi')]") do a << @parser.xml_value_of(".//product") + @parser.xml_value_of(".//description") end %>
    <% a.collect{|x| if x.match(/(scsi|sata|ide)/i); $1.upcase; else nil; end}.delete_if{|x| x.nil?}.uniq.each do |x| %>
      <tr>
        <td>
          Supports:
        </td>
        <td>
          <%= x %>
        </td>
      </tr>
    <% end %>
  </table>
</div>
