<div id="computer">
  <h2>Computer</h2>
  <table>
    <tr>
      <td>
        Vendor:
      </td>
      <td>
        <%= h @report.system.vendor %>
      </td>
    </tr>
    <tr>
      <td>
        Model:
      </td>
      <td>
        <%= h @report.system.model %>
      </td>
    </tr>
    <tr>
      <td>
        Serial Number:
      </td>
      <td>
        <%= h @report.system.serial_number %>
      </td>
    </tr>
    <% @system_parser.processors.each do |x| %>
        <tr>
          <td>
            Processor:
          </td>
          <td>
            <%= link_to x.processor, {:action => "lookup_proc", :proc => x.processor} %>
          </td>
        </tr>
        <% if x.speed %>
          <tr>
            <td>
              Speed:
            </td>
            <td>
              <%= x.speed %>
            </td>
          </tr>
        <% end %>
	<% find_these = ["lm", "svm", "vmx", "x86-64"] %>
        <% x.supports.each do |y| %>
    <tr><td>Supports:</td><td>
        <%= y %>
    </td></tr>
        <% end %>
    <% end %>
    <% @system_parser.l2_cache.each do |x| %>
           <tr>
            <td>
              L2 Cache:
            </td>
            <td>
              <%= x %>
            </td>
          </tr>
    <% end %>
    <% if @system_parser.bios %>
    <tr>
      <td>
        BIOS Version:
      </td>
      <td>
        <%= @system_parser.bios %>
      </td>
    </tr>
    <% end %>
    <% if @system_parser.usb_supports %>
      <tr>
        <td>
          Supports:
        </td>
        <td>
          USB <%= @system_parser.usb_supports %>
        </td>
      </tr>
    <% end %>
    <% @system_parser.drive_supports.each do |x| %>
      <tr>
        <td>
          Supports:
        </td>
        <td>
          <%= x %>
        </td>
      </tr>
    <% end %>
  </table>
</div>
