<div id="computer">
  <h2>Computer</h2>
  <table>
    <tr>
      <td>
        Vendor:
      </td>
      <td>
        <%= h @report.system.vendor %>
      </td>
    </tr>
    <tr>
      <td>
        Model:
      </td>
      <td>
        <%= h @report.system.model %>
      </td>
    </tr>
    <tr>
      <td>
        Serial Number:
      </td>
      <td>
        <%= h @report.system.serial_number %>
      </td>
    </tr>
    <% @parser.xml_foreach("class", "processor") do %>
      <% if @parser.xml_if("product") %>
        <tr>
          <td>
            Processor:
          </td>
          <td>
            <%= @parser.xml_value_of("product") %>
          </td>
        </tr>
        <% if @parser.xml_if("size") %>
          <tr>
            <td>
              Speed:
            </td>
            <td>
              <%= @parser.xml_value_of("size").to_hertz %>
            </td>
          </tr>
        <% end %>
      <% end %>
    <% end %>
    <tr>
      <td>
        BIOS Version:
      </td>
      <td>
        <%= @parser.xml_first("id", "firmware") do @parser.xml_value_of("version") end %>
      </td>
    </tr>
    <% @parser.find_the_biggest("id", "usbhost", "capability", "USB ") do |value| %>
      <tr>
        <td>
          USB Version:
        </td>
        <td>
          <%= value %>
        </td>
      </tr>
    <% end %>
  </table>
</div>
