<div id="posted_info">
  <h2>Gizmo Info</h2>
  <table>
    <tr>
      <td>
        Date:
      </td>
      <td>
        <%= @report.created_at.strftime("%D %I:%M%p") %>
      </td>
    </tr>
    <tr>
      <td>
        System ID:
      </td>
      <td>
        <%= @report.system_id %>
      </td>
    </tr>
    <tr>
      <td>
        System Barcode:
      </td>
      <td>
        <%= barcode @report.system_id %>
      </td>
    </tr>
    <tr>
      <td>
        Type:
      </td>
      <td>
        <%= @report.type && h(@report.type.description) || "Unknown" %>
      </td>
    </tr>
    <tr>
      <td>
        Report ID:
      </td>
      <td>
        <%= @report.id %>
      </td>
    </tr>
    <tr>
      <td>
        OS:
      </td>
      <td>
        <%= h @report.os %>
      </td>
    </tr>
    <tr>
      <td>
        Job:
      </td>
      <td>
        <%= @report.action && h(@report.action.description) || "Unknown" %>
      </td>
    </tr>
    <tr>
      <td>
        Technician:
      </td>
      <td>
        <%= @report.contact_id %>
      </td>
    </tr>
    <tr>
      <td>
        Contract:
      </td>
      <td>
        <%= h @report.system.contract.description %>
      </td>
    </tr>
    <% if coveredness_enabled %>
    <tr>
      <td>
        Covered:
      </td>
      <td>
        <%= h @report.system.covered.nil? ? "unknown" : @report.system.covered ? "yes" : "no" %>
      </td>
    </tr>
    <% end %>
    <tr>
      <td>
        Old ID:
      </td>
      <td>
        <%= @report.old_id %>
      </td>
    </tr>
    <tr>
      <td class="line_label">
        Instructor Initials:
      </td>
      <td>
        <br />
        _________________________
      </td>
    </tr>
    <% if @report.type == Type.find_by_name("laptop") %>
      <tr>
        <td class="line_label">
          Battery Life:
        </td>
        <td>
          <br />
          _________________________
        </td>
      </tr>
      <tr>
        <td class="line_label">
          Suspend States:
        </td>
        <td>
          <br />
          _________________________
        </td>
      </tr>
      <tr>
        <td class="line_label">
          Wireless Capabilities:
        </td>
        <td>
          <br />
          _________________________
        </td>
      </tr>
    <% end %>
    <tr>
      <td>
        Notes:
      </td>
      <td>
        <%= h(@report.notes).gsub("\n", "<br />") %>
      </td>
    </tr>
  </table>
</div>
