  <div id="hard_drives">
    <h2>Hard Drives</h2>
    <% xml_foreach("id", "disk") do %>
    <table>
      <tr>
        <td>
          Drive:
        </td>
        <td>
          <%= xml_value_of("logicalname") %>
        </td>
      </tr>
      <tr>
        <td>
          Vendor:
        </td>
        <td>
          <%= xml_value_of("vendor") %>
        </td>
      </tr>
      <tr>
        <td>
          Model:
        </td>
        <td>
          <%= xml_value_of("product") %>
        </td>
      </tr>
      <% if xml_if("size") %>
      <tr>
        <td>
          Capacity:
        </td>
        <td>
          <%= xml_value_of("size").to_bytes(0, false, false) %>
        </td>
      </tr>
      <% end %>
      <% counter = 0 %>
      <% xml_foreach("id", "volume") do |x| counter += 1 end %>
      <% if counter > 0 %>
      <tr>
        <td valign="top">Volumes: </td>
        <td>
          <table>
            <% xml_foreach("id", "volume") do %>
            <tr>
              <td>
                <%= xml_value_of("logicalname") %>
              </td>
              <td>
                <%= xml_value_of("description") %>
              </td>
              <td>
                <%= xml_value_of("capacity").to_bytes(0, false, false) %>
              </td>
            </tr>
            <% end %>
          </table>
        </td>
      </tr>
      <% end %>
    </table>
    <% end %>
  </div>
