<div id="hard_drives">
  <h2>Hard Drives</h2>
  <% @system_parser.harddrives.each do |h| %>
    <table>
      <tr>
        <td>
          Drive:
        </td>
        <td>
          <%= h.name %>
        </td>
      </tr>
      <tr>
        <td>
          Type:
        </td>
        <td>
            <%= h.my_type %>
        </td>
      </tr>
      <% if h.vendor %>
      <tr>
        <td>
          Vendor:
        </td>
        <td>
          <%= h.vendor %>
        </td>
      </tr>
      <% end %>
      <tr>
        <td>
          Model:
        </td>
        <td>
          <%= h.model %>
        </td>
      </tr>
      <% if h.size %>
        <tr>
          <td>
            Size:
          </td>
          <td>
            <%= h.size %>
          </td>
        </tr>
      <% end %>
      <% if h.volumes.size > 0 %>
        <tr>
          <td valign="top">Volumes: </td>
          <td>
            <table>
              <% h.volumes.each do |v| %>
                <tr>
                  <td>
                    <%= v.name %>
                  </td>
                  <td>
                    <%= v.description %>
                  </td>
                  <td>
                    <%= v.size %>
                  </td>
                </tr>
              <% end %>
            </table>
          </td>
        </tr>
      <% end %>
    </table>
  <% end %>
</div>
