<div id="hard_drives">
  <h2>Hard Drives</h2>
  <% @parser.xml_foreach("id", "disk") do %>
    <table>
      <tr>
        <td>
          Drive:
        </td>
        <td>
          <%= @parser.xml_value_of("logicalname") %>
        </td>
      </tr>
      <tr>
        <td>
          Type:
        </td>
        <td>
          <% if (@parser.do_with_parent do @parser.xml_value_of("product") + @parser.xml_value_of("description") end).match(/(scsi|sata|ide)/i) %>
            <%= $1.upcase %>
          <% else %>
            Unknown
          <% end %>
        </td>
      </tr>
      <tr>
        <td>
          Vendor:
        </td>
        <td>
          <%= @parser.xml_value_of("vendor") %>
        </td>
      </tr>
      <tr>
        <td>
          Model:
        </td>
        <td>
          <%= @parser.xml_value_of("product") %>
        </td>
      </tr>
      <% if @parser.xml_if("size") %>
        <tr>
          <td>
            Size:
          </td>
          <td>
            <%= @parser.xml_value_of("size").to_bytes(0, false, false) %>
          </td>
        </tr>
      <% elsif @parser.xml_if("capacity")%>
        <tr>
          <td>
            Size:
          </td>
          <td>
            <%= @parser.xml_value_of("capacity").to_bytes(0, false, false) %>
          </td>
        </tr>
      <% end %>
      <% counter = 0 %>
      <% @parser.xml_foreach("id", "volume") do counter += 1 end %>
      <% if counter > 0 %>
        <tr>
          <td valign="top">Volumes: </td>
          <td>
            <table>
              <% @parser.xml_foreach("id", "volume") do %>
                <tr>
                  <td>
                    <%= @parser.xml_value_of("logicalname") %>
                  </td>
                  <td>
                    <%= @parser.xml_value_of("description") %>
                  </td>
                  <td>
                    <%= @parser.xml_value_of("capacity").to_bytes(0, false, false) %>
                  </td>
                </tr>
              <% end %>
            </table>
          </td>
        </tr>
      <% end %>
    </table>
  <% end %>
</div>
