<table style="white-space:nowrap; width: 100%;">
  <tr>
    <th>Report ID</th>
    <th>Person</th>
    <th>System</th>
    <th>Type</th>
    <th>Action</th>
    <th>Processor</th>
    <th>OS</th>
    <th>Created at</th>
    <th>Flag</th>
    <th>Go Somewhere</th>
    <th>Bug Correction</th>
    <th>Notes</th>
    <th>Signed off by</th>
  </tr>
  <% for builder_task in reports %>
    <tr>
      <td><%= builder_task.spec_sheet ? (link_to "Spec Sheet ##{builder_task.spec_sheet.id}", {:controller => "spec_sheets", :action => "show", :id => builder_task.spec_sheet.id}) : "None" %></td>
      <td>
        <% if (has_required_privileges('/view_contact_name')) && thing = (builder_task.contact_id && builder_task.contact && builder_task.contact.display_name != "(person without name)" && builder_task.contact.display_name) || (builder_task.contact_id && builder_task.contact && builder_task.contact.id) %>
          <%= link_to h(thing), {:action => "search", :conditions => {:contact_enabled => true, :contact_id => builder_task.contact.id}} %>
        <% elsif thing = (builder_task.contact_id && builder_task.contact && builder_task.contact.id) %>
          <%= thing %>
        <% else %>
          <%= "Unknown" %>
        <% end %>
      </td>
      <td><%= builder_task.spec_sheet ? (link_to builder_task.spec_sheet.system_id.to_s, {:action => "system", :id => builder_task.spec_sheet.system_id}) : "" %></td>
      <td><%= h(builder_task.spec_sheet && builder_task.spec_sheet.type && builder_task.spec_sheet.type.description) || "Unknown" %></td>
      <td><%= h(builder_task.action && builder_task.action.description) || "Unknown" %></td>
      <td><%= h builder_task.spec_sheet ? builder_task.spec_sheet.system.processor_product : "" %></td>
      <td><%= h builder_task.spec_sheet ? builder_task.spec_sheet.os : "" %></td>
      <td><%= builder_task.created_at.strftime("%D %I:%M%p") %></td>
      <td style="color: red;"><%= if builder_task.spec_sheet && builder_task.spec_sheet.flag; "FLAGGED"; else; ""; end %></td>
      <td><% if builder_task.spec_sheet %>
          <%= link_to 'Show', {:action => "show", :id => builder_task.spec_sheet.id} %>
        <%= link_to 'XML', {:action => "dump", :id => builder_task.spec_sheet.id} %>
      <% else %>
          <%= link_to 'Show', {:action => "show", :id => builder_task.id, :controller => "builder_tasks"} %>
          <%= link_to 'Edit', {:action => "edit", :id => builder_task.id, :controller => "builder_tasks"} %>
      <% end %></td>
      <td><%= h builder_task.spec_sheet ? builder_task.spec_sheet.bug_correction : "" %></td>
      <td><%= h builder_task.notes %></td>
      <td style="text-align: right">
        <% signer = builder_task.cashier_signed_off_by && User.find(builder_task.cashier_signed_off_by) %>
        <% string = signer ? signer.send((has_required_privileges('/view_contact_name')) ? :contact_display_name : :login) : "" %>
        <% if signer and has_required_privileges('show/sign_off') %>
          <%= link_to h(string), {:action => "search", :conditions => {:signed_off_by_enabled => true, :signed_off_by => builder_task.cashier_signed_off_by}} %>
        <% else %>
          <%= h(string) %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
