<div id="memory">
  <h2>Memory</h2>
      <% if @system_parser.maximum_memory or @system_parser.total_memory %>
      <table>
        <% if @system_parser.total_memory %>
        <tr>
          <td>
            Total:
          </td>
          <td>
            <%= @system_parser.total_memory %>
          </td>
        </tr>
        <% end %>
      <% if @system_parser.maximum_memory %>
        <tr>
          <td>
            Maximum supported:
          </td>
          <td>
            <%= @system_parser.maximum_memory %>
          </td>
        </tr>
      <% end %>
      </table>
      <% end %>

    <% @system_parser.memories.each do |m| %>
      <div class="indent">
        <table>
          <tr>
            <td>
              Bank:
            </td>
            <td>
              <%= m.bank %>
            </td>
          </tr>
          <tr>
            <td>
              Description:
            </td>
            <td>
              <%= m.description %>
            </td>
          </tr>
          <% if m.size %>
            <tr>
              <td>
                Size:
              </td>
              <td>
                <%= m.size %>
              </td>
            </tr>
          <% end %>
        </table>
      </div>
  <% end %>
</div>
