<% if defined?(@mistakes) && @mistakes != [] %>
  <fieldset style="background-color: Red; width: auto; font-size: 16pt;">
    <h1>
      <%= @mistake_title || "Possible Mistakes:" %>
    </h1>
    <ul>
      <% for mistake in @mistakes %>
        <li>
          <%= mistake %>
        </li>
      <% end %>
    </ul>
  <hr />
<% else %>
<fieldset style="background-color: Lime; width: auto">
<% end %>

  <h1>
    Summary of this report:
  </h1>
  <table style="font-size: 15pt;">
    <tr>
      <td>
        Report ID:
      </td>
      <td>
        <%= @report.id %>
      </td>
    </tr>
    <tr>
      <td>
        Signed off by:
      </td>
      <td>
        <%= @report.signed_off_by %>
        <% form_for "sign_off", :html => {:class => "cashierable_form"}, :url => {:action => "sign_off", :id => @report.id} do |f| %>
          To sign off, enter <%= cashiers_field(true, "sign_off") %>
          <%= submit_tag "Sign off" %>
        <% end %>

          <%= cashiers_javascript(true, "sign_off") %>
     </td>
    </tr>
    <tr>
      <td>
        Technician:
      </td>
      <td>
        <% if true %>
          <%= h(@report.contact_id && @report.contact && @report.contact.display_name != "(person without name)" && @report.contact.display_name) || (@report.contact_id && @report.contact && @report.contact.id) || "Unknown" %>
        <% else %>
          <%= (@report.contact_id && @report.contact && @report.contact.id) || "Unknown" %>
        <% end %>
      </td>
    </tr>
    <tr>
      <td>
        Technician's Job:
      </td>
      <td>
        <%= @report.action && h(@report.action.description) || "Unknown" %>
      </td>
    </tr>
    <tr>
      <td>
        System ID:
      </td>
      <td>
        <% if @report.system %>
          <%= link_to @report.system.id, :action => "system", :id => @report.system.id %>
        <% else %>
          N/A
        <% end %>
      </td>
    </tr>
    <tr>
      <td>
        Type of System:
      </td>
      <td>
        <%= @report.type && h(@report.type.description) || "Unknown" %>
      </td>
    </tr>
    <% if @report.system %>
    <tr>
      <td>
        Contract:
      </td>
      <td>
        <%= h @report.system.contract.description %>
      </td>
    </tr>
    <% if coveredness_enabled %>
    <tr>
      <td>
        Covered:
      </td>
      <td>
        <%= h @report.system.covered.nil? ? "unknown" : @report.system.covered ? "yes" : "no" %>
      </td>
    </tr>
    <% end %>
    <% end %>
    <tr>
      <td>
        Date:
      </td>
      <td>
        <%= @report.created_at.strftime("%D") %>
      </td>
    </tr>
    <% if @report.bug_correction and @report.bug_correction.length > 0 %>
    <tr>
      <td>
        Bug Corrections:
      </td>
      <td>
        <%= h(@report.bug_correction) %>
      </td>
    </tr>
    <% end %>
    <tr>
      <td>
        Notes:
      </td>
      <td>
        <%= h(@report.notes).gsub("\n", "<br />") %>
      </td>
    </tr>
    <tr>
      <td>
        Do something:
      </td>
      <td>
        <%= link_to "Print", "#", {:onclick=>"window.print();"} %>
        <%= link_to "Edit", { :action=>"edit", :id=>@report.id } %>
      </td>
    </tr>
  </table>
</fieldset>
<fieldset style="background-color: Yellow; font-size: 15pt; width: auto;">
  <h1>
    DO A REALITY CHECK
  </h1>
  <p>
    Sometimes the hardware lies. Sometimes the software is broken.
    <br /><br />
    Always check to see if the report shows accurate information.
    <br /><br/>
    Especially check hard drive size, amount of memory, and processor information. If you find problems, correct the report and alert the build instructor.
    <br />
    (If you are a build instructor, please email the report id to the buildteachers email list and tell us what was wrong)
  </p>
</fieldset>
