<div id="optical_drives">
  <h2>Optical Drives</h2>
  <% @system_parser.opticals.each do |c| %>
    <table>
      <tr>
        <td>Drive:</td>
        <td>
          <%= c.name %>
        </td>
      </tr>
      <% if c.description %>
      <tr>
        <td>
          Description:
        </td>
        <td>
          <%= c.description %>
        </td>
      </tr>
      <% end %>
      <% if c.capabilities %>
      <tr>
        <td>
          Capabilities:
        </td>
        <td>
          <%= c.capabilities %>
        </td>
      </tr>
      <% end %>
      <tr>
        <td>
          Type:
        </td>
        <td>
            <%= c.my_type %>
        </td>
      </tr>
      <tr>
        <td>
          Model:
        </td>
        <td>
          <%= c.model %>
        </td>
      </tr>
    </table>
  <% end %>
</div>
