    <table>
      <% if xml_if("@class") %>
      <tr>
        <td>Type: </td>
        <td>
          <%= xml_value_of("@class") %>
        </td>
      </tr>
      <% end %>
      <% if xml_if("description") %>
      <tr>
        <td>Description: </td>
        <td>
          <%= xml_value_of("description") %>
          (<%= xml_value_of("@handle").sub(" ", "") %>)
        </td>
      </tr>
      <% end %>
      <% if xml_if("vendor") %>
      <tr>
        <td>Vendor: </td>
        <td>
          <%= xml_value_of("vendor") %>
        </td>
      </tr>
      <% end %>
      <% if xml_if("product") %>
      <tr>
        <td>Product: </td>
        <td>
          <%= xml_value_of("product") %>
        </td>
      </tr>
      <% end %>
      <% if xml_value_of("@class")==" display" && xml_if("size") %>
      <tr>
        <td>Video Ram: </td>
        <td>
          <%= xml_value_of("size").to_bytes %>
        </td>
      </tr>
      <% end %>
      <% if false && xml_value_of("@class")==" network" && xml_if("configuration/setting[@id='wireless']") %>
      <tr>
        <td>Wireless Capabilities: </td>
        <td>
          <%= xml_value_of("configuration/setting[@id='wireless']/@value") %>
        </td>
      </tr>
      <% end %>
      <% if false && xml_value_of("@class")==" network" && xml_if("logicalname") %>
      <tr>
        <td>Ethernet Interface: </td>
        <td>
          <%= xml_value_of("logicalname") %>
        </td>
      </tr>
      <% end %>
      <% if xml_value_of("@class")==" network" && xml_if("capabilities") %>
      <%# find_the_biggest("capabilities/capability", "@id") do |value| %>
      <tr>
        <td>Speed: </td>
        <td>
	      <%# value.to_i.to_s.to_bitspersecond %>
        </td>
      </tr>
      <%# end %>
      <% end %>
    </table>
