<table>
  <% if d.my_type %>
    <tr>
      <td>Type: </td>
      <td>
        <%= d.my_type %>
      </td>
    </tr>
  <% end %>
  <% if d.description %>
    <tr>
      <td>Description: </td>
      <td>
        <%= d.description %>
      </td>
    </tr>
  <% end %>
  <% if d.vendor %>
    <tr>
      <td>Vendor: </td>
      <td>
        <%= d.vendor %>
      </td>
    </tr>
  <% end %>
  <% if d.product %>
    <tr>
      <td>Product: </td>
      <td>
        <%= d.product %>
      </td>
    </tr>
  <% end %>
  <% if d.speed %>
      <tr>
        <td>Speed: </td>
        <td>
          <%= d.speed %>
        </td>
      </tr>
  <% end %>
</table>
