<div id="form-header">
  <h1>Go to report:</h1>

  <% if @error!=nil %>
    <span style="color: red">ERROR: <%= @error %></span>
  <% end %>

</div>

<% if @reports -%>
  <%= render :partial => 'list', 'reports' => @reports %>
<% end -%>

<div id="main-section">
  <% form_tag :action => 'search' do -%>
  <% filters = {} -%>
  <% filters['flagged'] = "" -%>
  <% if @current_user and @current_user.has_role?('CONTACT_MANAGER') %>
    <% filters['contact'] =
         contact_field('@conditions', 'contact_id',
                       :locals => {:options =>
                         {
                           :object_name => 'conditions',
                           :field_name => 'contact_id',
                           :element_prefix => 'filter_contact',
                           :display_edit => false,
                           :display_create => false,
                           :show_label => false,
                         },
                         :contact => @conditions.contact
                       } ) %>
  <% end %>
  <% filters['system'] = text_field('conditions', 'system_id') -%>
  <% filters['id'] = text_field('conditions', 'id') %>
  <% filters['created_at'] = date_or_date_range_picker('conditions', 'created_at') %>
  <%= multiselect_of_form_elements('conditions', filters ) %>
  <%= submit_tag "Search", :class => "submit" %>
<% end -%>
<br />
<%= link_to 'New report', {:action => "new"} %>
</div>
