<div id="form-header">
  <% if @error!=nil %>
    <span style="color: red">ERROR: <%= @error %></span>
  <% end %>
</div>

<% if flash[:error] %><div class="error"><%= flash[:error] %></div><% end %>

<%= render :partial => 'system_form' %>

<% if has_required_privileges("builder") %>
<h2>Show builder status sheet</h2>

<%= form_for "", nil, :url => {:action => "builder" }, :html => {:method => "get"} do |f| %>
<%= submit_tag 'Show' %>
<%= contact_field('@nil', 'contact_id') %>
<% end %>
<% end %>

<h2>Search for spec sheets</h2>

<% if @reports -%>
  <%= render :partial => 'list', :locals => {:reports => @reports} %>
  <%= will_paginate @reports, :params => {:conditions => params[:conditions]} %>
<% end -%>

<div id="main-section">
  <%= form_tag :action => 'search' do -%>
  <%= error_messages_for :conditions, :header_message  => "Invalid search conditions" %>

  <% filters = [] -%>
  <% filters << 'flagged' -%>
  <% if has_required_privileges('/search_by_contact') %>
    <% filters << 'contact' %>
  <% end %>
  <% filters << 'system' -%>
  <% filters << 'processor_product' -%>
  <% filters << 'id' %>
  <% filters << 'created_at' %>
  <% filters << 'action' %>
  <% filters << 'type' %>
  <% filters << 'serial_number' %>
  <% filters << 'hard_drive_serial_number' %>
  <% if has_required_privileges('show/sign_off') %>
    <% filters << 'signed_off_by' %>
  <% end %>
  <%= conditions_html("conditions", filters) %>
  <%= submit_tag "Search", :class => "submit" %>
<% end -%>
<br />
<%= link_to 'New spec sheet', {:action => "new"} %>
<% if has_required_privileges("show/sign_off") %>
<br /><%= link_to 'New builder task credit without spec sheet', {:action => "new", :controller => "builder_tasks"} %>
<% end %>
</div>
