<div id="form-header">
  <h1>Go to report:</h1>

  <% if @error!=nil %>
    <span style="color: red">ERROR: <%= @error %></span>
  <% end %>

</div>

<% if @reports -%>
  <%= render :partial => 'list', 'reports' => @reports %>
<% end -%>

<div id="main-section">
  <% form_tag :action => 'search' do -%>
  <% filters = [] -%>
  <% filters << 'flagged' -%>
  <% if @current_user and @current_user.has_role?('CONTACT_MANAGER') %>
    <% filters << 'contact' %>
  <% end %>
  <% filters << 'system' -%>
  <% filters << 'id' %>
  <% filters << 'created_at' %>
  <%= conditions_html("conditions", filters) %>
  <%= submit_tag "Search", :class => "submit" %>
<% end -%>
<br />
<%= link_to 'New report', {:action => "new"} %>
</div>
