<div id="form-header">
  <% if @error!=nil %>
    <span style="color: red">ERROR: <%= @error %></span>
  <% end %>
</div>

<h2>Show system history</h2>

<% form_for "", nil, :url => {:action => "system" }, :html => {:method => "get"} do |f| %>
<%= (f.text_field "id").sub(/\[id\]/, "id") %>
<%= submit_tag 'Show' %>
<% end %>

<h2>Search for reports</h2>

<% if @reports -%>
  <%= render :partial => 'list', 'reports' => @reports %>
<% end -%>

<div id="main-section">
  <% form_tag :action => 'search' do -%>
  <% filters = [] -%>
  <% filters << 'flagged' -%>
  <% if @current_user and @current_user.has_role?('CONTACT_MANAGER') %>
    <% filters << 'contact' %>
  <% end %>
  <% filters << 'system' -%>
  <% filters << 'id' %>
  <% filters << 'created_at' %>
  <% filters << 'action' %>
  <%= conditions_html("conditions", filters) %>
  <%= submit_tag "Search", :class => "submit" %>
<% end -%>
<br />
<%= link_to 'New report', {:action => "new"} %>
</div>
