<h1>System Pricing</h1>
<div class="noprint">
<% form_for "", nil, :url => { :action => "pricing" } do |f| %>
<div class="form-element">
<%= f.label :id, "System #" %>
<%= f.text_field :id, :size => 10, :value => @system.nil? ? "" : @system.id %>
</div>
<div class="form-element" style="clear: left">
<%= f.submit "Pull Up System Information" %>
</div>
<% end %>
</div>

<% if @system %>
<fieldset style="clear: left" width="100%">
<h2>Pricing Information for <%= link_to "System ##{@system.id}", {:controller => "spec_sheets", :action => "system", :id => @system.id} %></h2>
Information pulled from Spec Sheet <%= link_to "Report ##{@spec_sheet.id}", {:controller => "spec_sheets", :action => "show", :id => @spec_sheet.id} %>:
<%= error_messages_for :system_pricing, :header_message => "Some problems were found with this system's pricing" %>
<table class="awesome" width="100%">
  <% SystemPricing.valid_pulls.each do |k| %>
  <tr>
    <th><%= k.to_s.titleize %>:</th>
    <td><%= @values[k] %></td>
  </tr>
  <% end %>
</table>
</fieldset>
<% end %>
