<div id="hidden" class="noprint">
  <%= render :partial => "my_info" %>
</div>
<div id="left" class="left">
  <%= render :partial => "computer" %>
  <%= render :partial => "procdb" %>
  <%= render :partial => "gizmo" %>
  <%= render :partial => "disburse" %>
  <%= render :partial => "harddrives" %>
</div>
<div id="right" class="right">
  <%= render :partial => "memory" %>
  <%= render :partial => "optical" %>
  <%= render :partial => "pci" %>
</div>
