<div class="noprint">
<% if @error %>
<span class="error"><%= @error %><br /><br /></span>
<% end %>
<% form_for "", nil, :url => {:action => "workorder" }, :html => {:method => "get"} do |f| %>
<%= f.label(:id, "RT Ticket #").sub(/\[id\]/, "id") %>
<%= (f.text_field "id").sub(/\[id\]/, "id") %>
<%= f.label(:contact_id, "Receiving Technician Contact ID").sub(/\[contact_id\]/, "contact_id") %>
<%= (f.text_field "contact_id").sub(/\[contact_id\]/, "contact_id") %><br />
<%= submit_tag 'Show Work Order', :style => "clear: left" %>
<% end %>
</div>
<% if @data %>
<span class="onlyprint" style="float: left; clear: left;">
<img src="<%= h Default['logo'] || "/images/freegeeklogo.png" %>" alt="freegeeklogo.png"/>
</span>
<center><h1>Tech Support Work Order<br /><br />Help Ticket #<%= @data["ID"] %></h1></center>
<hr style="clear: both; border: none;" />
<% def value_or_none(val)
   value = @data[val]
   value.length > 0 ? value : "&nbsp;"
end
def system_or_none(val)
   return "&nbsp;" if @system.nil?
   value = @system.send(val).to_s
   value && value.length > 0 ? value : "&nbsp;"
end
%>
<div style="float: left; clear: left; font-size: 16pt; width: 30%; border: 1px solid black; height: 300px;">
<table width="100%">
<tr><td style="font-size: 16pt; border-bottom: 1px solid black;"><%= value_or_none("Adopter Name") %></td></tr>
<tr><td style="font-size: 12pt; padding-bottom: 25px;">Name</td></tr>
<tr><td style="font-size: 16pt; border-bottom: 1px solid black;"><%= value_or_none("Adopter ID") %></td></tr>
<tr><td style="font-size: 12pt; padding-bottom: 25px;">Contact ID #</td></tr>
<tr><td style="font-size: 16pt; border-bottom: 1px solid black;"><%= value_or_none("Phone") %></td></tr>
<tr><td style="font-size: 12pt; padding-bottom: 25px;">Phone</td></tr>
<tr><td style="font-size: 16pt; border-bottom: 1px solid black;"><%= value_or_none("Email") %></td></tr>
<tr><td style="font-size: 12pt;">E-mail</td></tr>
</table>
</div>
<div style="float: left; position: absolute; left: 32%; border: 1px solid black; width: 30%; font-size: 16pt; height: 300px;">
<table width="100%">
<tr><td style="font-size: 16pt; border-bottom: 1px solid black;"><%= value_or_none("System ID") %></td></tr>
<tr><td style="font-size: 12pt; padding-bottom: 25px;">System ID #</td></tr>
<tr><td style="font-size: 16pt; border-bottom: 1px solid black;"><%= system_or_none("went_out_date") %></td></tr>
<tr><td style="font-size: 12pt; padding-bottom: 25px;">Sale/Disbursement Date</td></tr>
<tr><td style="font-size: 16pt; border-bottom: 1px solid black;"><%= system_or_none("warranty_date") %></td></tr>
<tr><td style="font-size: 12pt; padding-bottom: 25px;">Warranty Status</td></tr>
<tr><td style="font-size: 16pt; border-bottom: 1px solid black;"><%= system_or_none("tech_support_source") %></td></tr>
<tr><td style="font-size: 12pt;">Source</td></tr>
</table>
</div>
<div style="float: left; clear: top; position: absolute; left: 62%; border-right: 1px solid black; border-top: 1px solid black; border-bottom: 1px solid black; width: 37%; font-size: 16pt; height: 300px;">
<table width="100%">
<tr><td style="font-size: 16pt;">Type:</td><td style="font-size: 16pt;"><%= value_or_none("Type of Box") %></td></tr>
<tr><td style="vertical-align: top; font-size: 16pt;">Issue(s):</td><td style="font-size: 12pt;"><%= value_or_none("Issues").gsub(", ", "<br />") %></td></tr>
</table>
</div>
<hr style="clear: both; border: none;" />
<div style="font-size: 16pt; clear: both; width: 100%; height: 400px; border: 1px solid black;">
Problems/Diagnosis:<br />
<%= value_or_none("Initial Content").gsub("\n", "<br />") %>
</div>
<br />
<span style="font-size: 16pt; float: right;">Recv'd by: #<%= params[:contact_id].to_i %> Date: <%= Date.today.to_s %></span>
<% end %>

