  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :category_type %><br />
    <%= f.text_field :category_type %>
  </p>
  <h2>Rosters:</h2>
  <% for roster in Roster.find(:all) %>
    <div>
      <%= check_box_tag "sked[roster_ids][]", roster.id, @sked.rosters.include?(roster) %>
      <%= roster.name %>
    </div>
  <% end %>
