<table>
  <tr>
    <th>Name</th>
    <th>Rosters</th>
    <th>Category</th>
  </tr>

<% for sked in @skeds %>
  <tr>
    <td><%=h sked.name %></td>
    <td><%=h sked.rosters_s %></td>
    <td><%=h sked.category_type %>
    <td><%= link_to 'Show', {:action => "show", :id => sked.id} %></td>
    <td><%= link_to 'Edit', {:action => "edit", :id => sked.id} %></td>
    <td><%= link_to 'Destroy', {:action => "destroy", :id => sked.id}, :confirm => 'Are you sure?' %></td>
  </tr>
<% end %>
</table>
