<h1>Editing sked</h1>

<% form_for(@sked, :url => {:action => "update", :id => @sked.id}) do |f| %>
  <%= f.error_messages %>

  <%= render :partial => "form", :locals => {:f => f} %>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', {:action => "show", :id => @sked.id} %> |
<%= link_to 'Back', {:action => "index"} %>

<h2>Reorder Rosters</h2>
<table>
<% @sked.rosters.each do |roster| %>
<tr>
<th>
<%= roster.name %>
</th>
<td>
<% unless @sked.rosters.first == roster -%>
<%= link_to "Move up", {:action => "move_higher", :id => @sked.id, :roster_id => roster.id} %>
<% end %>
</td>
<td>
<% unless @sked.rosters.last == roster -%>
<%= link_to "Move down", {:action => "move_lower", :id => @sked.id, :roster_id => roster.id} %>
<% end %>
</td>
</tr>

<% end %>
</table>
