  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :type_id %><br />
    <%= f.select :type_id, Type.all.map{|x| [x.name.titleize, x.id]} %>
  </p>
  <p>
    <%= f.label :pull_from %><br />
    <%= f.select :pull_from, SystemPricing.valid_pulls.map{|x| [x.to_s.titleize, x.to_s]} %>
  </p>
  <p>
    <%= f.label :matcher %><br />
    <%= f.text_field :matcher %>
  </p>
  <p>
    <%= f.label :base_value_cents %><br />
    <%= f.text_field :base_value_cents %>
  </p>
  <p>
    <%= f.label :active %><br />
    <%= f.check_box :active %>
  </p>
