  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :gizmo_type_id, "Gizmo Type" %><br />
    <%= f.select :gizmo_type_id, [["<to set automatically during sales entry>", nil]] + GizmoContext.sale.gizmo_types.for_systems.sort_by(&:description).map{|x| [x.description, x.id]} %>
  </p>
  <p>
    <%= f.label :base_value, "Base Price (before multiplier)" %><br />
    <%= f.text_field :base_value %>
  </p>
  <p>
    <%= f.label :multiplier, "Multiplier (for sum of base price and pricing component values)" %><br />
    <%= f.text_field :multiplier %>
  </p>
  <p>
    <%= f.label :type_id, "Build Type" %><br />
    <%= f.select :type_id, [["<optional for automatic detection>", nil]] + Type.all.map{|x| [x.name.titleize, x.id]} %>
  </p>
  <p>
    <%= f.label :pull_from, "Pulled Value to Match Against" %><br />
    <%= f.select :pull_from, [["<optional for automatic detection>", nil]] + SystemPricing.valid_pulls.map{|x| [x.to_s.titleize, x.to_s]} %>
  </p>
  <p>
    <%= f.label :matcher, "Value to Match Pulled Value Against (if a pulled value is chosen)" %><br />
    <%= f.text_field :matcher %>
  </p>
<% if f.object.id %>
<div class="form-element" style="clear: both">
  To add a new or existing component to this pricing type:
</div>
  <% PricingComponent.all.each do |x| %>
      <% field_id = "pricing_component_#{x.id}" %>
      <div class="form-element" style="clear: both">
      <%= check_box_tag "#{f.object_name}[pricing_component_ids][]", x.id, f.object.pricing_components.include?(x), {:id => field_id} -%>
      <%= label_tag field_id, x.name -%>
      <%= link_to "Edit", :action => "edit", :id => x.id, :controller => "pricing_components" %>
      </div><br />
  <% end %>
  <div class="form-element" style="clear: both">
    <%= link_to "Create a new component", {:action => "new", :pricing_type_id => f.object.id, :controller => "pricing_components"} %>
  </div>
<% end %>
