  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :type_id %><br />
    <%= f.text_field :type_id %>
  </p>
  <p>
    <%= f.label :pull_from %><br />
    <%= f.text_field :pull_from %>
  </p>
  <p>
    <%= f.label :matcher %><br />
    <%= f.text_field :matcher %>
  </p>
  <p>
    <%= f.label :base_value_cents %><br />
    <%= f.text_field :base_value_cents %>
  </p>
  <p>
    <%= f.label :active %><br />
    <%= f.check_box :active %>
  </p>
