<h1>Editing pricing type</h1>

<% form_for(@pricing_type, :url => {:action => "update", :id => @pricing_type.id}) do |f| %>
  <%= f.error_messages %>

Equation:
  <%= @pricing_type.to_equation_text %> <br />
  WARNING: The inner most multiplier for individual components may affect multiple different pricing sheets or previous versions which use that same component. If you do not want to do this, modify the multiplier outside of the subexpression instead.<br/><br/>
  <%= f.text_field(:multiplier, :size => 6) + ' * (' + ([f.text_field(:base_value, :size => 6)] + @pricing_type.pricing_expressions.map{|x| '(' + ([text_field_tag("expr_mult[#{x.id}]", x.multiplier, :size => 6)] + x.pricing_components.map{|y| '(' + text_field_tag("comp_mult[#{y.id}]", y.multiplier, :size => 6) + ' * ' + y.name + ') ' + link_to('[x]', :action => "remove_term", :pricing_expression_id => x.id, :pricing_component_id => y.id)} + [link_to "...", {:action => "add_term", :pricing_expression_id => x.id}, :target => "_blank"]).join(" * ") + ') ' + link_to('[x]', :action => "remove_expression", :pricing_expression_id => x.id)} + [link_to "...", {:action => "add_expression", :pricing_type_id => @pricing_type.id}]).join(' + ') + ')' %>
<br/>
<br />
Equation modification instructions:<br />
* Modify the equation multipliers and save them on this page<br />
* Click the [x] next to a term or subexpression to remove it<br />
* Click on a ... to add a new term or subexpression there<br />

  <%= render :partial => "form", :locals => {:f => f} %>

  <p style="clear: left">
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Back', {:action => "index"} %>
