<h1>Listing pricing types</h1>

<%= render :partial => "list" %>

<br />

<%= link_to 'New pricing type', {:action => "new"} %>

<h2>Pricing Tables</h2>

<% PricingData.tables.each do |t| %>
<%= link_to "View #{t.humanize} table", {:action => "show_table", :id => t} %> <%= link_to ' [x]', {:action => "delete_table", :id => t}, {:title => "delete table"} %><br />
<% end %>

<h3>Import Table:</h3>
<% @import = OpenStruct.new %>
<% if flash[:error] %>
<span class="error"><%= flash[:error] %></span>
<% end %>
<% form_for @import, :html => {:enctype => "multipart/form-data"}, :url => {:action => "import_table"} do |f| %>
<%= f.label :name, "Name (must match printme pull title, any existing values will be overwritten)" %>
<%= f.text_field :name %>
<%= f.label :csv, "CSV file (with column headers)" %>
<%= f.file_field :csv %><br />
<%= f.submit "Import" %>
<% end %>

