<fieldset>

  <div class="row">
    <!--[form:volunteer_task]-->
    <div class="contact_info">
      <div class="form-element">
        <% if @volunteer_task.contact %>
          <%= hidden_field_tag "volunteer_task[contact_id]", @volunteer_task.contact_id %>
          <%= render :partial => "contact_hours", :locals => {:contact => @volunteer_task.contact} %>
        <% else %>
          <%= contact_field('@volunteer_task', 'contact',
                            :locals => {:options => {
                                :object_name => 'volunteer_task',
                                :field_name => 'contact_id' }}) %>
        <% end %>
      </div>
    </div>

    <div class="task_info">
      <div class="form-element">
        <label for="volunteer_task_duration">duration</label>
        <%= text_field 'volunteer_task', 'duration' , {:class=>"text-input", :size=>"4"} %>
      </div>

      <%= render :partial => 'task_type' %>

      <div class="form-element">
        <label for="volunteer_task_community_service_type">Community service type</label>
        <% dropdown_list = CommunityServiceType.find(:all).sort_by {|type| type.description.downcase} %>
        <select id="volunteer_task_community_service_type" name="volunteer_task[community_service_type_id]">
          <option value="">---</option>
          <%= options_from_collection_for_select(dropdown_list, "id", "display_name", @volunteer_task.community_service_type_id) %>
        </select>
      </div>

      <div class="form-element">
        <label for="volunteer_task_date_performed">what day?</label>
        <%= calendar_box 'volunteer_task', 'date_performed',{:onchange => "foobarbaz();"},{:showOthers => true} %>
  </div>
</div>

<!--[eoform:volunteer_task]-->

</div>
</fieldset>
