<div id="<%= element_row_id(@options) %>">
  <div id="<%= element_cell_id(@options) %>" class="<%= @options[:action] %>" colspan="<%= num_columns %>">

    <%= form_tag(@options.merge(:controller => '/volunteer_tasks'),
                 :remote => true,
                 :class => "cashierable_form",
                 :id => "volunteer_task_form",
                 ) do -%>
    <%= cashiers_field %>

    <h4><%= (@options[:action]).titleize %> Volunteer Task
      <%= "for " + @volunteer_task.contact.display_name if @volunteer_task.contact %></h4>

    <% if request.xhr? %>
      <div id="<%= element_messages_id(@options) %>" class="messages-container"></div>
    <% else %>
      <%= render :partial => 'form_messages' %>
    <% end %>

    <%= render :partial => 'form' %>

    <p class="form-footer">
      <%= submit_tag ('save hours').titleize, :class => "submit save" %>
      <input type="reset" name="Cancel" />

      <%= loading_indicator_tag "form_for_volunteer_task_loading" %>
    </p>

    <%= cashiers_javascript %>
<% end %>
</div>
</div>
