<div id="<%= element_row_id(@options) %>">
  <div id="<%= element_cell_id(@options) %>" class="<%= @options[:action] %>" colspan="<%= num_columns %>">

    <%= form_remote_tag :url => @options.merge(:controller => '/volunteer_tasks'),
       :loading => "Element.show('#{loading_indicator_id("form_for_volunteer_task_loading")}'); Form.disable('#{element_form_id(@options)}');",
       :before => "if(parseFloat($('volunteer_task_duration').value) > 8){if(!confirm('You are logging more than 8 hours for this volunteer, are you sure you would like to log this many hours?')){return false;}}",
       :html => { :class => "cashierable_form", :href => url_for(@options.merge(:controller => '/volunteer_tasks')),
         :id => element_form_id(@options) } do %>

    <%= cashiers_field %>

    <h4><%= (@options[:action]).titleize %> Volunteer Task
      <%= "for " + @volunteer_task.contact.display_name if @volunteer_task.contact %></h4>

    <% if request.xhr? %>
      <div id="<%= element_messages_id(@options) %>" class="messages-container"></div>
    <% else %>
      <%= render :partial => 'form_messages' %>
    <% end %>

    <%= render :partial => 'form' %>

    <p class="form-footer">
      <%= submit_tag ('save hours').titleize, :class => "submit save" %>
      <% cancel_params = @options.merge(
                                        :controller => '/volunteer_tasks', :action => 'cancel',
                                        :contact_id => @volunteer_task.contact_id,
                                        :referring_action => @options[:action]) %>
      <%= submit_to_remote "cancel", "Cancel", { :url => cancel_params, :html => {:class => "cancel"}, :loading => "Element.show('#{loading_indicator_id("form_for_volunteer_task_loading")}');" } %>

      <%= loading_indicator_tag "form_for_volunteer_task_loading" %>
    </p>

    <%= cashiers_javascript %>
<% end %>
</div>
</div>
