<%= javascript_tag "function foobarbaz() {" + remote_function(:update => "task_type", :with => "'day=' + $('volunteer_task_date_performed').value + '&current=' + $('volunteer_task_volunteer_task_type').value", :url => { :action => :update_task_types }) + "}" %>
<% if @show_wrapper %>
  <div>
    <div id="<%= component_id(params) %>">
<% end %>
<div class="header">
  <div class="actions">
    <% new_params = params.merge(:controller => '/volunteer_tasks', :action => 'new') %>
    <%= loading_indicator_tag("new_volunteer_task_loading") %>
  </div>
</div>
<div class="messages-container">
  <div id="<%= messages_id(params) %>">
    <%= render :partial => 'messages' %>
  </div>
  <p id="<%= empty_message_id(params) %>" class="empty-message" <%= " style=\"display:none;\" " if !@volunteer_tasks.empty? %>>
    No Entries
  </p>
</div>

<div id="<%= form_tbody_id(params) %>">
</div>
<table class="list">
  <tbody>
    <tr>
      <%= render :partial => 'column_headings' %>
    </tr>
  </tbody>
  <tbody id="<%= tbody_id(params) %>">
    <% if !@volunteer_tasks.empty? %>
      <%= render :partial => 'volunteer_task', :collection => @volunteer_tasks, :locals => { :hidden => false } %>
    <% end %>
  </tbody>
</table>
<div class="footer">
  <td class="indicator-container">
    <%= loading_indicator_tag("volunteer_task_footer_loading") %>
  </td>

  <%= will_paginate @volunteer_tasks, :remote_options => {
        :method => :get, :update => component_id(params), :loading => "Element.show('#{loading_indicator_id("volunteer_task_footer_loading")}');"
      }
      %>
</div>

<% if @show_wrapper %>
</div>
</div>
<% end %>
<%= javascript_tag(
                   "Element.show($('#{loading_indicator_id("new_volunteer_task_loading")}'));" +
                   remote_function( :url => new_params )
                   ) %>
