<script>
function hideall() {
a = document.getElementsByClassName('sidebar_section'); for(var i = 0; i < a.length; i++){if(a[i].style.display != "none") {Effect.SlideUp(a[i].id)}};
}

function f_hideall() {
a = document.getElementsByClassName('sidebar_section'); for(var i = 0; i < a.length; i++){a[i].hide();};
}

function show_thing(thing) {
if($(thing + '_sidebar_section').style.display == "none"){
hideall();
Effect.SlideDown(thing + '_sidebar_section');
} else {
Effect.SlideUp(thing + '_sidebar_section');
}
}
</script>
<% aliases, sidebar_hash = sidebar_stuff %>
<div id="sidebar">
  <% sidebar_hash.each do |main_name, my_hash| %>
    <% if my_hash.length > 0 %>
      <a onClick="show_thing('<%= main_name %>')"><%= main_name %></a>
      <div></div>
      <div class="sidebar_section" id="<%= main_name %>_sidebar_section">
        <% my_hash.each do |this_name, opts| %>
          <div>
            <% my_opts = opts %>
            <% aliases.each do |a, b| %>
              <% if opts[a] and !opts[b] %>
                <% my_opts[b] = opts[a] %>
                <% my_opts.delete(a) %>
              <% end %>
            <% end %>
            <%= link_to this_name, my_opts %>
          </div>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
<script>
<% if params[:controller] == "sidebar_links" %>
hideall();
<% else %>
f_hideall();
<% end %>
<%= thing = controller_to_section[params[:controller]]
   thing.nil? or thing.length == 0 ? "" : "$('#{thing}_sidebar_section').show()"
 %>
</script>
