<%= error_messages_for 'job' %>

<!--[form:job]-->
<p><label for="job_name">Name</label><br/>
<%= text_field 'job', 'name'  %></p>

<p><label for="job_description">Description</label><br/>
<%= text_area 'job', 'full_description', :cols => 50, :rows => 10 %></p>

<p><label for="job_coverage_type_id">Coverage Type</label><br/>
<%= select("job", "coverage_type_id", CoverageType.find(:all).collect {|c| [c.name, c.id] }) %></p>

<p><label for="workers">Workers:</label><br/>
<ul>
<% Worker.find(:all, :order => "name").each do |w| %>
   <li><input type="checkbox" name="job[worker_ids][]" 
          value="<%= w.id %>" 
          <% if @job.workers.include?(w) %> checked="checked" <% end %> />
<%= w.name %></li>
<% end %>
</ul>
</p>

  <div id="jobshifts" class="bottomleft">
  <p><label for="standard_shifts">Standard shifts:</label><br/>
  <ul>
  <% StandardShift.find(:all, :order => "weekday_id, start_time", :conditions => ["job_id = ?", @job.id]).each do |s| %>
    <li><%= link_to s.job_name, { :action => "edit", :controller => "standard_shifts", :id => s.id }, :popup => true %></li>
  <% end %>
  </ul>
  </div>

<!--[eoform:worker]-->

