<%= error_messages_for 'job' %>

<!--[form:job]-->
<p><%= check_box "work_shift", "offsite" %>
<label for="work_shift_training">Offsite (by default)</label></p>

<p><label for="job_name">Name</label><br/>
<%= text_field 'job', 'name'  %></p>

<p><label for="job_description">Description</label><br/>
<%= text_area 'job', 'description', :cols => 50, :rows => 10 %></p>

<p><label for="job_reason_cannot_log_hours">Reason cannot log hours (optional to disable hours logging)</label><br/>
<%= text_area 'job', 'reason_cannot_log_hours', :cols => 50, :rows => 10 %></p>

<p><label for="job_effective_on">Effective Starting (empty for forever)</label><br/>
<%= calendar_box 'job', 'effective_on'  %></p>

<p><label for="job_ineffective_on">Ineffective Starting (empty for forever)</label><br/>
<%= calendar_box 'job', 'ineffective_on'  %></p>

<p><label for="job_coverage_type_id">Coverage Type</label><br/>
<%= select("job", "coverage_type_id", CoverageType.find(:all).collect {|c| [c.name, c.id] }) %></p>

<p><label for="job_wc_category_id">Workers Comp Category</label><br/>
<%= select("job", "wc_category_id", WcCategory.find(:all).collect {|c| [c.description, c.id] }, :include_blank => true) %></p>

<p><label for="job_income_stream_id">Income Stream</label><br/>
<%= select("job", "income_stream_id", IncomeStream.find(:all).collect {|c| [c.description, c.id] }, :include_blank => true) %></p>

<p><label for="job_program_id">Program</label><br/>
<%= select("job", "program_id", Program.find(:all).collect {|c| [c.description, c.id] }, :include_blank => true) %></p>

  <div id="jobshifts" class="bottomleft">
  <p><label for="standard_shifts">Standard shifts:</label><br/>
  <ul>
  <% StandardShift.find(:all, :order => "weekday_id, start_time", :conditions => ["job_id = ?", @job.id]).each do |s| %>
    <li><%= link_to s.job_name, { :action => "edit", :controller => "shifts", :id => s.id }, :popup => true %></li>
  <% end %>
  </ul>
  </div>

<!--[eoform:worker]-->

