<h1>Editing job</h1>

<%= form_tag :action => 'update', :id => @job do %>
  <%= render :partial => 'form' %>
  <div class="follow_scroll right_side">
    <%= submit_tag 'Edit' %> <br />
    <%= link_to 'Show', :action => 'show', :id => @job %> |
    <%= link_to 'Back', :action => 'list' %>
  </div>
<% end %>

