  <p>
    <%= f.label :system_id %><br />
    <%= f.text_field :system_id %>
  </p>
  <p>
    <%= f.label :spec_sheet_id %><br />
    <%= f.text_field :spec_sheet_id %>
  </p>
  <p>
    <%= f.label :pricing_set_id %><br />
    <%= f.text_field :pricing_set_id %>
  </p>
  <p>
    <%= f.label :notes %><br />
    <%= f.text_area :notes %>
  </p>
