  <p>
  <% if @system %>
    <b>System ID #<%= @system_pricing.system_id %></b>
    <%= f.hidden_field :system_id, {:value => @system_pricing.system_id} %></td>
  <% else %>
    <%= f.label :system_id, "System ID# (blank if none)" %><br />
    <%= f.text_field :system_id, :size => 10 %>
  <% end %>
  </p>
  <% if params[:action] != "index" %>
<% if @system %>
<fieldset style="clear: left" width="100%">
<h2>Information from <%= link_to "System ##{@system.id}", {:controller => "spec_sheets", :action => "system", :id => @system.id} %></h2>
Information pulled from Spec Sheet <%= link_to "Report ##{@spec_sheet.id}", {:controller => "spec_sheets", :action => "show", :id => @spec_sheet.id} %>:
<% @system_pricing.extra_valid? %>
<%= error_messages_for :system_pricing, :header_message => "Some problems were found with this system's pricing" %>
<table class="awesome" width="100%">
  <% SystemPricing.display_pulls.each do |k| %>
  <tr>
    <th><%= k.to_s.titleize %>:</th>
    <td><%= @values[k] %></td>
  </tr>
  <% end %>
</table>
</fieldset>
<% end %>
  <p>
    <table class="awesome" width="100%">
      <caption>Components for Pricing:</caption>
      <tr>
<% if @system_pricing.pricing_type %>
        <th>Pricing Type:</th>
        <td><%= @system_pricing.pricing_type.name %> <%= f.hidden_field :pricing_type_id, {:value => @system_pricing.pricing_type_id} %></td>
<% else %>
        <th><%= f.label :pricing_type_id, "Choose a Pricing Type:" %></th>
        <td><%= f.select :pricing_type_id, PricingType.active.map{|x| [x.name, x.id]} %></td>
<% end %>
      </tr>
      <% if @system_pricing.pricing_type %>
        <% (@system_pricing.pricing_values.map{|x| x.pricing_component} + @system_pricing.pricing_type.pricing_components).uniq.each do |pc| %>
          <tr>
            <th><%= pc.name %><% unless pc.required? %> (optional)<% end %></th>
            <td><%= collection_select :system_pricing, :pricing_value_ids, (pc.multiple ? [] : [[nil, "<Select One>"]]) + pc.pricing_values.map{|x| [x.id, x.name]}, :first, :last, { :selected => @system_pricing.pricing_value_ids }, { :multiple => pc.multiple, :name => 'system_pricing[pricing_value_ids][]' } -%></td>
          </tr>
        <% end %>
      <% end %>
    </table>
  </p>
  <% end %>
<% if @system_pricing.pricing_type %>
  <%= f.hidden_field :magic_bit, {:valud => "1"} %>
  <p>
    <%= f.label :notes %><br />
    <%= f.text_area :notes %>
  </p>
<% end %>
