  <p>
  <% if @system %>
    <b>System ID #<%= @system_pricing.system_id %></b>
    <%= f.hidden_field :system_id, {:value => @system_pricing.system_id} %></td>
  <% else %>
    <%= f.label :system_id, "System ID# (blank if none)" %><br />
    <%= f.text_field :system_id, :size => 10 %>
  <% end %>
  </p>
  <% if params[:action] != "index" %>
<% if @system %>
<fieldset style="clear: left" width="100%">
<h2>Information from <%= link_to "System ##{@system.id}", {:controller => "spec_sheets", :action => "system", :id => @system.id} %></h2>
Information pulled from Spec Sheet <%= link_to "Report ##{@spec_sheet.id}", {:controller => "spec_sheets", :action => "show", :id => @spec_sheet.id} %>:
<table class="awesome" width="100%">
  <% SystemPricing.display_pulls.each do |k| %>
  <% if @values.keys.include?(k) %>
  <tr>
    <th><%= k.to_s.titleize %>:</th>
    <td><%= @values[k] %><% if @field_errors && @field_errors[k] %><br /><b><span class="error">(Warning: <%= @field_errors[k] %>)</span><% end %></b></td>
  </tr>
  <% end %>
  <% end %>
</table>
<% if @system_pricing.pricing_type && @system_pricing.pricing_type.values_to_lookup.length > 0 %>
  <br />
  <h2>Information pulled from lookup tables</h2>
  <% seen_v = [] %>
  <table class="awesome" width="100%">
  <% @system_pricing.pricing_type.values_to_lookup.each do |x| %>
    <% seen_v << [x.lookup_table, x.pull_from, x.printme_pull(@system_pricing.pricing_hash)] %>
  <% end %>
  <% seen_v.uniq.each do |tbl, pull_name, pull_value| %>
    <tr>
      <th><%= pull_name.titleize %>:</th>
      <td><%= pull_value %></td>
    </tr>
    <% result = PricingData.find_match(tbl, pull_value) %>
    <tr>
      <th><%= tbl.titleize %> Database Match:</th>
      <td><%= result || 'Not Found' %></td>
    </tr>
    <% if result %>
    <% h = {} %>
    <% PricingData.table_columns(tbl).each do |column| %>
    <% unless tbl.match(/cpu/i) && !["Cores", "Speed", "Speed GHz", "L2 Cache", "L3 Cache", "L2 Total", "64-bit?", "Architecture", "FG Spec"].include?(column) %>
    <% h[column.titleize] =  PricingData.lookup(tbl, result, column) %>
    <% end %>
    <% end %>
    <% h.keys.sort.each do |k| %>
    <tr>
      <td><%= k %>:</td>
      <td><%= h[k] || 'N/A' %></td>
    </tr>
    <% end %>
    <% end %>
  <% end %>
</table>
<% end %>
<h2>
</fieldset>
<% end %>
  <p>
    <% @system_pricing.valid? %>
    <%= error_messages_for :system_pricing, :header_message => "Some problems were found with this system's pricing" %>
    <table class="awesome" width="100%">
      <caption>Components for Pricing:</caption>
      <tr>
<% if @system_pricing.pricing_type %>
        <th>Pricing Type:</th>
        <td><%= @system_pricing.pricing_type.name %> <%= f.hidden_field :pricing_type_id, {:value => @system_pricing.pricing_type_id} %> <%= link_to "Use a Different Type", {:action => "create", :system_pricing => {:system_id => @system_pricing.system_id, :noset_type => true}} %>
          <% if @system_pricing.pricing_type.replaced? or @system_pricing.pricing_values.select{|x| x.replaced?}.length > 0 %>
            <br /><b><span class="error">Warning: The pricing information used for this system is outdated.</span>
          <% end %>
        </td>
<% else %>
        <th><%= f.label :pricing_type_id, "Choose a Pricing Type:" %></th>
        <td><%= f.select :pricing_type_id, PricingType.active.map{|x| [x.name, x.id]} %></td>
<% end %>
<th>Score:</th>
      </tr>
      <% if @system_pricing.pricing_type %>
        <% (@system_pricing.pricing_type.pricing_components + @system_pricing.pricing_values.map{|x| x.pricing_component}).uniq.each do |pc| %>
          <tr>
            <th><%= pc.name %><% unless pc.required? %> (optional)<% end %></th>
            <td>
              <% if pc.use_value_as_score %>
	      <% f.fields_for "pricing_component_values" do |v| %>
                <%= v.text_field 'component_' + pc.id.to_s, :onchange =>  "update_calculated_price(event.target.form);", :value => f.object.pricing_component_values.send('component_' + pc.id.to_s) %>
		<% end %>
              <% else %>
                <%= collection_select :system_pricing, :pricing_value_ids, (pc.multiple ? [] : [[nil, "<Select One>"]]) + pc.pricing_values.sort_by(&:value_cents).map{|x| [x.id, x.name]}, :first, :last, { :selected => @system_pricing.pricing_value_ids }, { :disabled => false && !pc.lookup_type.nil?, :id => 'pricing_values_for_' + pc.id.to_s, :multiple => pc.multiple, :name => 'system_pricing[pricing_value_ids][]', :onchange =>  "update_calculated_price(event.target.form);", :class => (@system_pricing.missing_required.include?(pc.name)) ? 'fieldWithErrors' : ''} -%>
              <% end %>
            </td>
            <td id="pricing_component_<%= pc.id %>"><%= @system_pricing.pricing_values.select{|x| x.pricing_component_id == pc.id}.inject(0){|t, x| t += x.value_cents}.to_dollars %></td>
          </tr>
        <% end %>
      <% end %>
<% if @system_pricing.pricing_type %>
<tr>
        <th>Pricing Equation:</th>
        <td><span id="equation_used"><%= @system_pricing.to_equation_text %></span></td>
        <td><span id="equation"><%= @system_pricing.to_equation %></span></td>
</tr>
<tr>
        <th>Total Price: <%= loading_indicator_tag("calculated_price") %></th>
        <td>Calculated Price + Bonus = <span id="calculated_price">$<%= @system_pricing.calculate_price_cents/100.0 %></span> + <span id="bonus_price">$<%= @system_pricing.pricing_bonus %></span></td>
        <td><span id="total_price">$<%= @system_pricing.calculated_price %></span></td>
</tr>

<% end %>
    </table>
    <%= javascript_tag "update_calc_url = #{url_for(:action => "calculate").to_json}; calculated_price_loading_id = #{loading_indicator_id("calculated_price").inspect};" %>
  </p>
  <% end %>
<% if @system_pricing.pricing_type %>
  <%= f.hidden_field :magic_bit, {:value => "1"} %>

<br />
<fieldset>
<center>Pricing Bonuses:</center>

<% kdh = {:onkeydown => line_item_on_keydown("pricing_bonuses")} %>
<% interface = OH.new; values = @system_pricing.pricing_bonuses.map{|x| h = x.to_hash(:amount, :reason, :id); h["amount_cents"] = h[:amount]; h} %>
<% interface[:amount_cents] = text_field_tag 'amount_cents', nil, kdh.merge({}) %>
<% interface[:reason] = text_field_tag 'reason', nil, kdh.merge({}) %>
<%= line_item("pricing_bonuses", "PricingBonusFrontend", interface, values, true) %>

<%= javascript_tag "update_calculated_price($(#{(f.object.id.nil? ? "new_system_pricing" : "edit_system_pricing_#{f.object.id}").inspect}));" %>

</fieldset>

  <p>
    <%= f.label :notes %><br />
    <%= f.text_area :notes %>
  </p>
<% end %>
