<p>
  <b>System ID#:</b>
  <%=h @system_pricing.system_id %>
</p>

<p>
  <b>Pricing type:</b>
  <%=h @system_pricing.pricing_type.name %>
</p>

<p>
  <b>Calculated Price:</b>
  $<%=h @system_pricing.calculated_price %>
</p>

<p>
  <b>Notes:</b>
  <%=h @system_pricing.notes %>
</p>


<%= link_to 'Edit', {:action => "edit", :id => @system_pricing.id} %> |
<%= link_to 'Back', {:action => "index"} %>
