<div id="form-header">
  <% if @error!=nil %>
    <span style="color: red">ERROR: <%= @error %></span>
  <% end %>
</div>

<h2>Search for disktest batches</h2>

<% if @disktest_batches -%>
  <%= render :partial => 'list', 'disktest_batches' => @disktest_batches %>
<% end -%>

<div id="main-section">
  <% form_tag :action => 'search' do -%>
  <%= error_messages_for :conditions, :header_message  => "Invalid search conditions" %>

  <% filters = [] -%>
  <% filters << 'created_at' %>
  <% filters << 'serial_number' %>
  <% filters << 'contact' %>
  <% filters << 'finalized' %>
  <%= conditions_html("conditions", filters) %>
  <%= submit_tag "Search", :class => "submit" %>
<% end -%>
</div>

<br />

<%= link_to 'New disktest_batch', {:action => "new"} %>
