<div class='filter'>
<h3>Filter work shifts:</h3>
<% form_tag :action => 'list' do %>
  <%= check_box :filter_criteria, :limit_to_worker, :checked => (@opts['limit_to_worker']=='1') %> Limit to worker:
  <%= select(:filter_criteria, :worker_id, Worker.find(:all, :order => "name").collect {|c| [c.name, c.id] }) %><br />
  <%= check_box :filter_criteria, :limit_to_job, :checked => (@opts['limit_to_job']=='1') %> Limit to job
  <%= select(:filter_criteria, :job_id, Job.find(:all, :order => "name").collect {|c| [c.name, c.id] }) %><br />
  <%= radio_button :filter_criteria, :presentation_mode, 'Edit', :checked => (@opts['presentation_mode']=='Edit') %> Edit
  <%= radio_button :filter_criteria, :presentation_mode, 'Display', :checked => (@opts['presentation_mode']=='Display') %> Display
  <%= radio_button :filter_criteria, :presentation_mode, 'Preview', :checked => (@opts['presentation_mode']=='Preview') %> Preview<br />
  <label for="start_start_date">Start date:</label> 
    <%= calendar_box 'filter_criteria', 'start_date' %>
  <label for="end_end_date">End date:</label> 
    <%= calendar_box 'filter_criteria', 'end_date' %>
  <%= submit_tag "Apply" %><br />
<% end %>
</div>
