<div class='filter'>

<%
    @opts = skedj.opts
    @conditions = skedj.conditions
%>

<h3>Filter work shifts:</h3>
<% form_tag({:action => params[:action]}, {:method => "get"}) do %>
  <%= conditions_html('conditions', skedj.opts[:conditions], Conditions, "multi") %>


<% if skedj.opts[:date_range_condition] %>
  <%= conditions_html('conditions', ["empty", skedj.opts[:date_range_condition]]).gsub(/To:/, "<br />To:", "force") %>
<% else %>
  <%= conditions_html('conditions', ["empty"])%>
<% end %>


<% if skedj.opts[:date_range_condition] %>
  <script>
    c = $('conditions_<%=  skedj.opts[:date_range_condition]%>_date_type');
    c.parentNode.removeChild(c);
  </script>
<% end %>
  <%= radio_button :opts, :presentation_mode, 'Edit', :checked => (@opts['presentation_mode']=='Edit') %> Edit
  <%= radio_button :opts, :presentation_mode, 'Display', :checked => (@opts['presentation_mode']=='Display') %> Display
  <%= radio_button :opts, :presentation_mode, 'Preview', :checked => (@opts['presentation_mode']=='Preview') %> Preview<br />
  <%= submit_tag "Go" %><br />
<% end %>
</div>
