<% shift_length = (( shift.end_time - shift.start_time ) / ( 60 * 15 )).to_int %>
<td class='<%= shift_style %>' colspan='<%= shift_length %>'>
<% if @opts['presentation_mode']=='Edit' %>
  [<%=h shift.id %>]
<% end %>
<% if shift[:kind]=='Meeting' %>
  <%=h shift.meeting_name %>
<% elsif shift[:kind]=='Unavailability' %>
  <%=h '(unavailable)' %>
<% else %>
  <%=h shift.name %>
<% end %>
<% if @opts['presentation_mode']=='Edit' %>
  <%= link_to 'c', { :action => 'copy', :id => shift.id }, :title => 'copy', :method => :post %> |
  <%= link_to 'e', { :action => 'edit', :id => shift }, :popup => true, :title => 'edit' %> |
  <%= link_to 'd', { :action => 'destroy', :id => shift }, :title => 'delete', :confirm => 'Are you sure?', :method => :post %>
  <!--
  <% if shift.splitable %> 
    | <%= link_to 's', { :action => 'edit', :id => shift }, :popup => true, :title => 'split' %>
  <% end %>
  <% if shift.mergeable %> 
    | <%= link_to 'm', { :action => 'edit', :id => shift }, :popup => true, :title => 'merge' %>
  <% end %>
  <% if shift.resizable %> 
    | <%= link_to 'r', { :action => 'edit', :id => shift }, :popup => true, :title => 'resize' %>
  <% end %> 
  -->
<% end %>
</td>
