<% def d_to_s(x)
x = Date.parse(x) if x.class == String
x.class == Date ? x.strftime("%a, %D") : Weekday.find(x).name
end
%>
<% def d_link(x)
  params[:controller] == "work_shifts" ?
   {:action => "index", :conditions => {:shift_date_enabled => true, :shift_date_start_date => x, :shift_date_end_date => x}}   : {:action => "view_weekly_schedule", :conditions => {:weekday_enabled => true, :weekday_id => x, :schedule_id => 1}}
end %>

<% is_ws = params[:controller] == "work_shifts" %>
<% if is_ws %>
<h1>Report of schedule problems between <%= @start_date.to_s %> and <%= @disp_end_date.to_s %></h1>
<% else %>
<h1>Report of schedule problems in the "<%= @schedule.name %>" schedule</h1>
<% end %>

<%= render :partial => "work_shifts/last_access" %>


<% form_tag do %>
<% if is_ws %>
  <%= calendar_box(nil, nil, :name => 'start_date', :id => 'start_date', :value => @start_date) %> - <%= calendar_box(nil, nil, :name => 'end_date', :id => 'end_date', :value => @disp_end_date) %>
<% else %>
  <%= label_tag :schedule_id %>
<%= select_tag :schedule_id, options_for_select(Schedule.find(:all, :order => "lft").collect {|c| [c.full_name, c.id] }, @schedule ? @schedule.id : nil) %>
<% end %>
<%= submit_tag "Find Problems" %>
<% end %>


<h2>Worker Conflicts</h2>
<% if @conflicts.length == 0 %>
none found
<% else %>
<ul>
  <% @conflicts.each do |x| %>
    <li><%= "On #{link_to d_to_s(x["date"].send(is_ws ? :to_s : :to_i)), d_link(x["date"])}, #{x["worker"]} is scheduled in #{x["job_1"]} and #{x["job_2"]} at the same time" %></li>
  <% end %>
</ul>
<% end %>
<h2>Unassigned Shifts</h2>
<% if @unassigned.length == 0 %>
none found
<% else %>
<ul>
  <% @unassigned.each do |x| %>
    <li><%= "On #{link_to d_to_s(x["date"].send(is_ws ? :to_s : :to_i)), d_link(x["date"])}, a #{x["job"]} shift has no worker" %></li>
  <% end %>
</ul>
<% end %>
<h2>Workers with no Breaks</h2>

<% nobreak_found = [] %>
<% @workers_day_hash.map do |w,h| %>
  <% h.each do |d, bl| %>
    <% if bl.length == 0 %>
      <% nobreak_found << [d, @workers_h[w]] %>
    <% end %>
  <% end %>
<% end %>
<ul>
<% nobreak_found.sort_by(&:first).each do |x,w| %>
<li>On <%= link_to "#{d_to_s(x)}", d_link(x) %>, <%= w.name %> works all day with no break</li>
<% end %>
</ul>
<h2>Gaps in Fully Covered Jobs</h2>

<table class="awesome">
  <tr>
    <th>Fully Covered Jobs</th>
    <% (@all_dates).each do |x| %>
      <th><%= link_to d_to_s(x), d_link(x) %></th>
    <% end %>
  </tr>
  <% @jobs.sort_by(&:name).each do |j| %>
  <tr>
    <th><%= j.name %></th>
    <% (@all_dates).each do |x| %>
    <td>
      <% @shift_gap_hash[j.id][x].each do |g| %>
      <b>GAP</b>: <%= g[0].strftime("%T") %> - <%= g[1].strftime("%T") %><br />
      <% end %>
    </td>
    <% end %>
  </tr>
  <% end %>
</table>
<h2>Weekly Hours Scheduled By Worker</h2>

<table class="awesome">
  <tr>
    <th>Worker</th>
    <th>Standard weekly hours</th>
    <% (@weeks).each do |x| %>
      <% x = 0 if x == 1 %>
      <th><%= link_to "#{x.class == Fixnum ? Weekday.find(x).name : x.strftime("%D")} - #{x.class == Fixnum ? Weekday.find(x + 6).name : (x + 6).strftime("%D")}", :action => is_ws ? "index" : "view_weekly_schedule", :conditions => is_ws ? {:shift_date_enabled => true, :shift_date_start_date => x, :shift_date_end_date => x + 6} : {:schedule_id => 1} %></th>
    <% end %>
  </tr>
  <% @workers.sort_by(&:name).each do |worker| %>
  <tr>
    <th><%= worker.name %></th>

    <td><%= worker.standard_weekly_hours %></td>

    <% (@weeks).each do |w| %>
    <td>
      <%= @workers_week_hash[worker.id][w] %>
    </td>
    <% end %>
  </tr>
  <% end %>
</table>
