<h1>Report of schedule problems between <%= @start_date.to_s %> and <%= @disp_end_date.to_s %></h1>

<% form_tag do %>
  <%= calendar_box(nil, nil, :name => 'start_date', :id => 'start_date', :value => @start_date) %> - <%= calendar_box(nil, nil, :name => 'end_date', :id => 'end_date', :value => @disp_end_date) %> <%= submit_tag "Find Problems" %>
<% end %>

<h2>Worker Conflicts</h2>
<% if @conflicts.length == 0 %>
none found
<% else %>
<ul>
  <% @conflicts.each do |x| %>
    <li><%= "On #{link_to x["date"].to_s, :action => "index", :conditions => {:shift_date_enabled => true, :shift_date_start_date => x["date"], :shift_date_end_date => x["date"]}}, #{x["worker"]} is scheduled in #{x["job_1"]} and #{x["job_2"]} at the same time" %></li>
  <% end %>
</ul>
<% end %>
<h2>Unassigned Shifts</h2>
<% if @unassigned.length == 0 %>
none found
<% else %>
<ul>
  <% @unassigned.each do |x| %>
    <li><%= "On #{link_to x["date"].to_s, :action => "index", :conditions => {:shift_date_enabled => true, :shift_date_start_date => x["date"], :shift_date_end_date => x["date"]}}, a #{x["job"]} shift has no worker" %></li>
  <% end %>
</ul>
<% end %>
<h2>Gaps in Fully Covered Jobs</h2>

<table class="awesome">
  <tr>
    <th>Fully Covered Jobs</th>
    <% (@all_dates).each do |x| %>
      <th><%= link_to x.strftime("%a, %D"), :action => "index", :conditions => {:shift_date_enabled => true, :shift_date_start_date => x, :shift_date_end_date => x} %></th>
    <% end %>
  </tr>
  <% @jobs.sort_by(&:name).each do |j| %>
  <tr>
    <th><%= j.name %></th>
    <% (@all_dates).each do |x| %>
    <td>
      <% @shift_gap_hash[j.id][x].each do |g| %>
      <b>GAP</b>: <%= g[0].strftime("%T") %> - <%= g[1].strftime("%T") %><br />
      <% end %>
    </td>
    <% end %>
  </tr>
  <% end %>
</table>
<h2>Worker Breaks</h2>

<table class="awesome">
  <tr>
    <th>Worker</th>
    <% (@all_dates).each do |x| %>
      <th><%= link_to "#{x.strftime("%D")}", :action => "index", :conditions => {:shift_date_enabled => true, :shift_date_start_date => x, :shift_date_end_date => x} %></th>
    <% end %>
  </tr>
  <% @workers.sort_by(&:name).each do |worker| %>
  <tr>
    <th><%= worker.name %></th>

    <% (@all_dates).each do |d| %>
    <td>
      <% list = @workers_day_hash[worker.id][d] %>
      <% if list.length == 0 %>
        <b>NO BREAKS</b>
      <% else %>
        <% list.each do |s,e| %>
          <%= s.strftime("%T") %>-<%= e.strftime("%T") %><br />
        <% end %>
      <% end %>
    </td>
    <% end %>
  </tr>
  <% end %>
</table>
<h2>Weekly Hours Scheduled By Worker</h2>

<table class="awesome">
  <tr>
    <th>Worker</th>
    <% (@weeks).each do |x| %>
      <th><%= link_to "#{x.strftime("%D")} - #{(x + 6).strftime("%D")}", :action => "index", :conditions => {:shift_date_enabled => true, :shift_date_start_date => x, :shift_date_end_date => x + 6} %></th>
    <% end %>
  </tr>
  <% @workers.sort_by(&:name).each do |worker| %>
  <tr>
    <th><%= worker.name %></th>

    <% (@weeks).each do |w| %>
    <td>
      <%= @workers_week_hash[worker.id][w] %>
    </td>
    <% end %>
  </tr>
  <% end %>
</table>
