<center>
<h1><%= @title %></h1>

<%# generate teh graph %>
<% tempfile = `mktemp -p #{File.join(RAILS_ROOT, "tmp", "tmp")}`.chomp %>
<% basename = File.basename(tempfile).sub(".", "$") %>
<%
#  File.open("gnuplot", "w") do |gp|
  Gnuplot.open do |gp|
    Gnuplot::Plot.new( gp ) do |plot|
      plot.set "terminal", "jpeg"
      plot.set "output", tempfile
      plot.set "key", "outside below noreverse enhanced autotitles columnhead box #{@data.keys.length > 1 ? "on" : "off"}"
      plot.notitle
      plot.ylabel ""
      plot.xlabel ""
      plot.xtic "rotate by 90"
      plot.grid
      string = "("
      string_a = []
      @graph_x_axis.each_with_index{|x,i|
        y = @x_axis[i]
        string_a << "\" #{y}\" #{x}"
      }
      string += string_a.join(", ")
      string += ")"
      plot.xtics string
      @data.each do |k,v|
        plot.data << Gnuplot::DataSet.new( [@graph_x_axis, v] ) do |ds|
          case @graph_type
          when "line"
            ds.with = "linespoints"
          when "bar"
            ds.with = "linespoints"
          when "barAAA" # FIXME
            ds.with = "boxes"
            plot.set "style", "fill solid 1.00 border -1"
          else
            raise NoMethodError
          end
          ds.title = k.to_s.titleize
        end
      end
    end
  end
  %>
<img src="<%= url_for :action => "get_temp_file", :id => basename %>" />
<%# generate teh table %>
<table style="border-collapse: collapse;" border="1" width="100%">
  <tr>
    <th />
    <% @data.each do |k,v| %>
        <th><%= k.to_s.titleize %></th>
    <% end %>
  </tr>
  <% @x_axis.each_with_index do |x,i| %>
    <tr>
      <th><%= x %></th>
      <% @data.each do |k,v|%>
        <td><%= v[i] %></td>
      <% end %>
    </tr>
  <% end %>
</table>
</center>

