  <p>
    <%= f.label :contact_id %><br />
    <%= contact_field('@recycling_shipment', :contact_id, :locals => {:options => {
                                :object_name => 'recycling_shipment',
                                :field_name => 'contact_id' }}) %>
  </p>
  <p>
    <%= f.label :bill_of_lading %><br />
    <%= f.text_field :bill_of_lading %>
  </p>
  <p>
    <%= f.label :received_at %><br />
    <%= calendar_box f.object_name, :received_at %>
  </p>
  <p>
    <%= f.label :resolved_at %><br />
    <%= calendar_box f.object_name, :resolved_at %>
  </p>
  <p>
    <%= f.label :notes %><br />
    <%= f.text_area :notes %>
  </p>
