<table class="awesome">
  <tr>
    <th>Contact</th>
    <th>Bill of lading</th>
    <th>Received at</th>
    <th>Resolved at</th>
    <th>Notes</th>
  </tr>

<% for recycling_shipment in @recycling_shipments %>
  <tr>
    <td><%=h recycling_shipment.contact_id %></td>
    <td><%=h recycling_shipment.bill_of_lading %></td>
    <td><%=h recycling_shipment.received_at %></td>
    <td><%=h recycling_shipment.resolved_at %></td>
    <td><%=h recycling_shipment.notes %></td>
    <td><%= link_to 'Edit', {:action => "edit", :id => recycling_shipment.id} %></td>
    <td><%= link_to 'Destroy', {:action => "destroy", :id => recycling_shipment.id}, :confirm => 'Are you sure?' %></td>
  </tr>
<% end %>
</table>
