<h1>Listing recycling shipments</h1>

  <%= render :partial => 'list' %>
  <%= will_paginate @recycling_shipments, :params => {:conditions => params[:conditions]} %>


  <% form_tag :action => 'search' do -%>
  <%= error_messages_for :conditions, :header_message  => "Invalid search conditions" %>
  <% filters = []; filters << 'contact'; filters << 'unresolved_shipment' %>
  <%= conditions_html("conditions", filters) %>
  <%= submit_tag "Search", :class => "submit" %>
  <% end %>

<br />

<%= link_to 'New recycling shipment', {:action => "new"} %>
