<h1>Listing shifts</h1>

<table>
  <tr>
  <% for column in Shift.content_columns %>
    <th><%= column.human_name %></th>
  <% end %>
  </tr>
  
<% for shift in @shifts %>
  <tr>
  <% for column in Shift.content_columns %>
    <td><%=h shift.send(column.name) %></td>
  <% end %>
    <td><%= link_to 'Show', :action => 'show', :id => shift %></td>
    <td><%= link_to 'Edit', :action => 'edit', :id => shift %></td>
    <td><%= link_to 'Destroy', { :action => 'destroy', :id => shift }, :confirm => 'Are you sure?', :method => :post %></td>
  </tr>
<% end %>
</table>

<%= will_paginate @shifts %>

<br />

<%= link_to 'New shift', :action => 'new' %>
<%= link_to 'View weekly schedule', :action => 'view_weekly_schedule' %>
