<% last_ninety = @contact.last_ninety_days_of_actual_hours %>
<% adoption = @contact.adoption_hours %>
<span class="hours"><%= last_ninety %></span>
last <%= Default['days_for_discount'].to_f %> days [<%= link_to('edit',
                          :action=>"list",
                          :controller=>'volunteer_tasks',
                          :contact_id=>@contact.id
                          ) %>] [<%= link_to('list',
                                             :action=>"hours_report",
                                             :controller=>"reports",
                                             :contact_id=>@contact.id
                                             ) %>]
<br /><span class="hours"><%= adoption %></span> points for adoption
<% if @contact.date_of_last_adoption %>
  <br /><span class="hours"><%= Date.today - @contact.date_of_last_adoption %></span> days since last adoption
<% end %>
