<% form_remote_tag(
                   :url => @options.merge(:controller => 'contacts'),
                   :loading => "Element.show('#{loading_indicator_id("form_for_contact_loading")}');
                  Form.disable('floating_form');",
                   :html => {:id => 'floating_form', :class => 'floating_form cashierable_form'}
                   ) do %>

  <%= cashiers_field %>

  <h4><%= (@options[:action]).titleize %> Contact</h4>

  <div id="<%= contact_messages_id(@options) %>" class="messages-container"></div>

  <input type="hidden" name="contact_query_id" value="<%= h contact_query_id(params) %>" />

  <% if @contact.id.nil? %>
    <%= javascript_tag "set_contact_name()" %>
  <% end %>

  <%= render :partial => 'form' %>

  <p class="form-footer">
    <%= loading_indicator_tag("form_for_contact_loading") %>
    <%= submit_tag (@options[:action]).titleize, :class => "submit save" %>
  </p>

  <%= cashiers_javascript %>
<% end %>
<%= javascript_tag "Form.focusFirstElement('floating_form');" %>
<% if @options[:action] == "new" %>
  <%= javascript_tag("$('contact_first_name').value = $('#{contact_query_id(@options)}').value;") %>
<% end %>
