<div class="user">
  <div class='form-element'>
    <%= check_box "contact", "is_user", {:class => 'person'} %>
    <%= observe_field(
                      "contact_is_user",
                      :function => "{var x = $('contact_user'); if ($('contact_is_user').checked) { x.show() } else { x.hide() }}"
                      ) %>
    <label for="contact_is_user">can login?</label>
  </div>

  <div id="contact_user" <%= @contact.is_user? or "style='display:none'"%>>
    <div class='login form-element'>
      <label for="user_login">Login</label>
      <%= text_field :user, :login %>
    </div>

    <div class='form-element'>
      <label for="user_email">Email</label>
      <%= text_field :user, :email %>
    </div>

    <div class='password form-element'>
      <label for="user_password">Password</label>
      <%= password_field :user, :password %>
    </div>

    <div class='form-element'>
      <label for="user_password_confirmation">Confirm Password</label>
      <%= password_field :user, :password_confirmation %>
    </div>

    <div class='form-element'>
      <label for="user_cashier_code">Cashier Code</label>
      <%= text_field :user, :cashier_code, :readonly => true %>
    </div>

    <% if @contact.is_user? %>
      <div class='form-element'>
        <%= button_to_function "Reset Cashier Code", remote_function({:url => {:action => :reset_cashier_code, :id => @user.id}, :loading => "Element.show('#{loading_indicator_id("cashier_code")}');"}) %>
        <%= loading_indicator_tag("cashier_code") %>
      </div>
    <% end %>

    <% for role in Role.find(:all) %>
      <div class="form-element role-check-box">
        <input type="checkbox" id="<%= h role.name %>"
               name="roles[]" value="<%= role.id %>"
               <%= (@user and @user.roles.include?(role)) ? 'checked' : '' %>
               />
        <label for="<%= h role.name %>"><%= (xx = /(.+)/.match(h(role.name))) ? xx[1] : h(role.name) %></label>
      </div>
    <% end %>
  </div>
</div>
