<h1>List of volunteer email addresses <%= @conditions ? @conditions.to_s : "" %></h1>

<% form_tag do %>
<%= check_box_tag 'include_comma', "1", @include_comma %><%= label_tag 'include_comma' %><br />
<%= conditions_html("conditions", ['contact_type', 'volunteered_hours_in_days']) %>
<%= submit_tag 'View Email List' %>
<% end %>


<% if @contacts %>
<% notfound = [] %>
<% found = [] %>
<h3>Matching contacts with email addresses:</h3>
<% for i in @contacts; if ( e = i.mailing_list_email ); found << "#{i.display_name} &lt;#{e}&gt;#{@include_comma ? "," : ""}"; else; notfound << "#{i.display_name} (##{ i.id })"; end; end %>
<pre>
<% for i in found -%>
<%= i %> 
<% end %>
</pre>

<h3>Matches without email addresses:</h3>
<pre>
<% for i in notfound -%>
<%= i %> 
<% end %>
</pre>
<% end %>


