<h3>Search for a contact</h3>
<% form_tag( { :controller => '/contacts', :action => 'lookup' }, { :id => 'tasty_test' } ) do %>
  <%= contact_field('@thing', 'contact') %>
<% end -%>

<h3>Search by conditions</h3>

<% form_tag( { :controller => '/contacts', :action => 'lookup' }, {:method => "GET"} ) do %>

  <div class="form-element" style="width: 100%;">
    <% filters = {} %>
    <% filters['created_at'] = date_or_date_range_picker('defaults', 'created_at') %>
    <% filters['worked_at'] = date_or_date_range_picker('defaults', 'worked_at') %>
    <% filters['bought_at'] = date_or_date_range_picker('defaults', 'bought_at') %>
    <% filters['donated_at'] = date_or_date_range_picker('defaults', 'donated_at') %>
    <% filters['id'] = text_field('defaults', 'id') %>
    <% filters['city'] = text_field('defaults', 'city') %>
    <% filters['postal_code'] = text_field('defaults', 'postal_code') %>
    <% filters['received_at'] = date_or_date_range_picker('defaults', 'received_at') %>
    <% filters['phone_number'] = text_field('defaults', 'phone_number') %>
    <% filters['email'] = text_field('defaults', 'email') %>
    <% filters['contact_type'] = collection_select("defaults", "contact_type", ContactType.find(:all), "id", "description") %>
    <% filters['volunteer_hours'] = select_visibility(
                                                      'defaults',
                                                      'volunteer_hours_type',
                                                      [['exact', text_field('defaults', 'volunteer_hours_exact')],
                                                       ['between', "%s to %s" % [text_field('defaults', 'volunteer_hours_low'),
                                                                                 text_field('defaults', 'volunteer_hours_high')]],
                                                       ['>=', text_field('defaults', 'volunteer_hours_ge')],
                                                       ['<=', text_field('defaults', 'volunteer_hours_le')],
                                                      ])
       %>
    <%= multiselect_of_form_elements( 'defaults', filters ) %>
    <div class="form-footer">
      <input type="submit" value="Find Contacts" />
    </div>
  </div>
<% end %>
<table class="list">
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Contact Types</th>
    <th>Usable Phone Number(s)</th>
    <th>Address</th>
    <th>Date Created</th>
  </tr>
  <% line=0; for c in @contacts %>
  <tr <%= (line+=1) % 2 == 0 ? 'class="even"' : ''%>>
    <td><%= link_to c.id, :action => "lookup", :controller => "contacts", :contact_id => c.id %></td>
    <td><%= c.display_name %></td>
    <td><%= Contact.connection.execute("SELECT description FROM contact_types_contacts AS ctc JOIN contact_types AS ct ON ctc.contact_type_id = ct.id WHERE contact_id = #{c.id} ORDER BY description;").map{|x| x.values}.join(", ") %></td>
    <td><%= c.phone_numbers.join(", ") %></td>
    <td><%= "#{c.city}, #{c.state_or_province}, #{c.postal_code}" %></td>
    <td><%= c.created_at %></td>
  </tr>
<% end %>
</table>
<%= will_paginate @contacts %>
