<h3>Search for a contact</h3>
<% form_tag( { :controller => '/contacts', :action => 'lookup' }, { :id => 'tasty_test' } ) do %>
  <%= contact_field('@thing', 'contact') %>
<% end -%>

<h3>Search by conditions</h3>

<% form_tag( { :controller => '/contacts', :action => 'lookup' }, {:method => "GET"} ) do %>

  <div class="form-element" style="width: 100%;">
    <%= conditions_html("defaults", ['created_at', 'worked_at', 'bought_at', 'donated_at', 'id', 'city', 'postal_code', 'received_at', 'phone_number', 'email', 'contact_type', 'volunteer_hours']) %>
    <div class="form-footer">
      <input type="submit" value="Find Contacts" />
    </div>
  </div>
<% end %>
<table class="list">
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Contact Types</th>
    <th>Usable Phone Number(s)</th>
    <th>Address</th>
    <th>Date Created</th>
  </tr>
  <% line=0; for c in @contacts %>
  <tr <%= (line+=1) % 2 == 0 ? 'class="even"' : ''%>>
    <td><%= link_to c.id, :action => "lookup", :controller => "contacts", :contact_id => c.id %></td>
    <td><%= c.display_name %></td>
    <td><%= Contact.connection.execute("SELECT description FROM contact_types_contacts AS ctc JOIN contact_types AS ct ON ctc.contact_type_id = ct.id WHERE contact_id = #{c.id} ORDER BY description;").map{|x| x.values}.join(", ") %></td>
    <td><%= c.phone_numbers.join(", ") %></td>
    <td><%= "#{c.city}, #{c.state_or_province}, #{c.postal_code}" %></td>
    <td><%= c.created_at %></td>
  </tr>
<% end %>
</table>
<%= will_paginate @contacts %>
