<%= render :partial => "lookup" %>
  <table class="list">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <!-- <th>Contact Types</th> --> <!-- Makes it take like 20 seconds to load -->
      <th>Date Created</th>
    </tr>
  <% line=0; for c in @contacts %>
    <tr <%= (line+=1) % 2 == 0 ? 'class="even"' : ''%>>
      <td><%= link_to c.id, :action => "lookup", :controller => "contacts", :contact_id => c.id %></td>
      <td><%= c.display_name %></td>
      <!-- <td><%# c.contact_types.map{|x| x.description}.join(", ") %></td> -->
      <td><%= c.created_at %></td>
    </tr>
  <% end %>
  </table>
