<div class="letter_head">
  <div class="logos">
    <img src="<%= h Default['logo'] || "/images/freegeeklogo.png" %>" alt="freegeeklogo.png"/>
    <img src="<%= h Default['address image'] %>" alt="<%= h Default['contact info'] %>"/>
  </div>
  <% hidable_contact_information ||= false %>
  <% if hidable_contact_information %>
    <div class="contact-info"><%= contact_information.nil? ? "" : array_to_html(h_over_array(contact_information), hideable(hidable_contact_information, "contact information", hideit)) %></div>
  <% else %>
    <div class="contact-info"><%= contact_information.nil? ? "" : array_to_html(h_over_array(contact_information)) %></div>
  <% end %>
</div>
