<div id="form-header">
  <% if @error!=nil %>
    <span style="color: red">ERROR: <%= @error %></span>
  <% end %>
</div>

<h2>Search for disktest runs</h2>

<% if @disktest_runs -%>
  <%= render :partial => 'list', 'disktest_runs' => @disktest_runs %>
<% end -%>

<div id="main-section">
  <% form_tag :action => 'search' do -%>
  <%= error_messages_for :conditions, :header_message  => "Invalid search conditions" %>

  <% filters = []
     filters << 'megabytes_size'
     filters << 'interface_type'
     filters << 'vendor'
     filters << 'model'
     filters << 'serial_number'
     filters << 'result'
     filters << 'created_at' %>

  <%= conditions_html("conditions", filters) %>
  <%= submit_tag "Search", :class => "submit" %>
<% end -%>
</div>
