  <%= render :partial => "volunteer_events/errors", :locals => {:f => f}%>
  <%= f.hidden_field :redirect_to, :value => @referer %>

  <p>
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.label :weekday_id %><br />
    <%= select(f.object_name, "weekday_id", Weekday.find(:all).sort_by(&:id).collect{|p| [p.name, p.id]}, :include_blank => true) %>
  </p>
  <% unless f.object.description and f.object.description.match(/Roster #/) %>
  <p>
    <%= f.label :next_cycle_date, "Week of next cycle (to generate every other week)" %>
    <%= calendar_box f.object_name, :next_cycle_date, :value => f.object.next_cycle_date %>
  </p>
  <% end %>
  <p>
    <%= f.label :notes %><br />
    <%= f.text_area :notes %>
  </p>
  <%= render :partial => 'volunteer_events/volunteer_shifts' %>
  <%= render :partial => 'volunteer_events/resources' %>
