<% # The following is used when the browser doesn't have javascript enabled %>
<% classAttr = cycle("", " even") %>
<% @options = params.merge(:controller => base_controller, :action => "view",
                           :id => disbursement.send("#{Disbursement.primary_key}")) %>

<tr class="<%= classAttr %>"
    id="<%= element_row_id(@options) %>" <%= "style=\"display: none;\"" if hidden %>>
  <% for column in columns %>
    <% column_value = eval(column.eval) rescue nil %>
    <td>
      <%= formated_value(column_value, column.sanitize?) %>
    </td>
  <% end %>
  <td class="actions">
    <%= loading_indicator_tag("disbursement_#{disbursement.id}_loading") %>
    <% print_options = @options.merge(:action => 'receipt') %>
    <a onclick="window.open('<%= url_for(print_options) %>','Receipt_<%= disbursement.id %>','');" title="Print" style="cursor: pointer;">
      Print
    </a>
    <%= render :partial => "edit_update_transaction",
        :locals => {:transaction => disbursement}%>
    <% if GizmoReturnsController.sb_has_required_privileges("new") and !disbursement.is_fully_returned? %>
      <%= link_to("Return", {:action => "new", :controller => "gizmo_returns", :disbursement_id => disbursement.id}) %>
    <% end %>
 </td>
</tr>
