<% # The following is used when the browser doesn't have javascript enabled %>
<% classAttr = cycle("", " even") %>
<% @options = params.merge(:controller => base_controller, :action => "view",
                           :id => disbursement.send("#{Disbursement.primary_key}")) %>

<tr class="<%= classAttr %>"
    id="<%= element_row_id(@options) %>" <%= "style=\"display: none;\"" if hidden %>>
  <% for column in columns %>
    <% column_value = eval(column.eval) rescue nil %>
    <td>
      <%= formated_value(column_value, column.sanitize?) %>
    </td>
  <% end %>
  <td class="actions">
    <%= loading_indicator_tag("disbursement_#{disbursement.id}_loading") %>
    <%= render :partial => "edit_update_transaction",
        :locals => {:transaction => disbursement,
          :allowed_roles => ["BEAN_COUNTERS"]}%>
â‡  </td>
</tr>
