<% @donation = donation %>
<% c = 0 %>
<% @donation.receipt_types.each do |rt| %>
<% if c > 0 %>
<div class="noprint" style="clear: left;">
<hr />
<hr />
<hr />
</div>
<% end %>
<% c += 1 %>
<%= render :partial => 'transaction/receipt_layout', :locals => {:receipt_type => rt} %>
<%= render :partial => "donation_receipt_guts", :locals => {:donation => @donation, :receipt_type => rt} %>

<p><%= h @donation.comments %></p>
<hr />
<div style="page-break-after: always;">
<p class="footer longfooter">
<% if rt == 'receipt' %>
We affirm that no goods or services were provided in return for the contribution amounts listed above (required fees excepted).<br/><br/>
Retain this receipt for your taxes.
<% else %>
Please return a copy of this invoice with payment.
<% end %>
<% if params[:controller] == 'donations' && (rt == 'invoice' || @donation.receipt_types.length == 1) %>
<div id="contribution_blurb" <%= @donation.invoiced? ? '' : 'style="display: none"' %>>
<% if Default["contribution_blurb"] %>
<%= Default["contribution_blurb"] %>
<% end %>
<% end %>
</div>
        <% if params[:controller] == 'donations' && @donation.created_at.to_date == Date.today && (rt == 'receipt') %>
<br />
<fieldset style="border-color: 000000;">
Show this coupon to save 10% in the Free Geek Thrift Store, located next door.<br /><br />
<b>Coupon valid today only: <%= @donation.created_at.to_date.strftime("%D") %></b><br /><br />

<span style="font-size: small;">
This is one small way we'd like to say <b>THANK YOU</b> for donating your
used equipment. Your financial and equipment donations help us teach
thousands in our community valuable work skills while diverting
e-waste from our landfills.
</span>
</fieldset>
        <% end %>
</p>
</div>
</div>
<% end %>
<%= render :partial => 'transaction/receipt_footer' %>
