<% @donation = donation %>
<% @extras = @donation.all_recursive_supersedes %>
<div class="item_list">
<table bgcolor="#cccccc" width="100%" align="center" border="1">
<tbody><tr>
<% l = "15" %>
<% if @extras.length > 0 %>
<% l = "10" %>
    <td width="10%"><strong>Date:</strong></td>
    <td width="10%"><strong>Invoice #:</strong></td>
<% end %>
    <td width="<%= l %>%"><strong>Quantity:</strong></td>
    <td width="60%"><strong>Description:</strong></td>
    <td width="<%= l %>%"><strong>Est Value:</strong></td>
</tr>

<% ge = (@extras.map(&:gizmo_events) + [@donation.gizmo_events]).flatten %>

<% ge.each do |event| -%>
  <% if !GizmoType.fee?(event.gizmo_type) and event.gizmo_type.name != 'invoice_resolved' -%>
  <tr>
    <% if @extras.length > 0 %>
      <% if event.donation_id != @donation.id %>
        <td><%= event.donation.occurred_at.to_date %></td>
        <td>#<%= event.donation_id %></td>
      <% else %>
        <td colspan="2">&nbsp;</td>
      <% end %>
    <% end %>
    <td> <%= event.gizmo_count %> </td>
    <td> <%= h event.attry_description %> </td>
    <td>______</td>
  </tr>
  <% end -%>
<% end -%>

<% if @extras.length > 0 %>
  <tr><td colspan="6">&nbsp;</td></tr>
<% else %>
  <tr><td colspan="4">&nbsp;</td></tr>
<% end %>

<tr>
    <% if @extras.length > 0 %>
      <td colspan="3">&nbsp;</td>
    <% else %>
      <td>&nbsp;</td>
    <% end %>
    <td>Total Estimated Value (tax deductible):</td>
    <td>_________</td>
</tr>

<% ge.each do |event| -%>
  <% if (GizmoType.fee?(event.gizmo_type) || (event.gizmo_type.required_fee_cents > 0)) && !event.covered -%>
  <tr>
    <% if @extras.length > 0 %>
      <% if event.donation_id != @donation.id %>
        <td><%= event.donation.occurred_at.to_date %></td>
        <td>#<%= event.donation_id %></td> 
     <% else %>
        <td colspan="2">&nbsp;</td>
      <% end %>
    <% end %>
    <td><%= event.gizmo_count %> </td>
    <td><%= h event.attry_description %> </td>
    <td><%= my_number_to_currency(event.gizmo_count * event.unit_price_cents) %></td>
  </tr>
  <% end -%>
<% end -%>

<% payments = (@extras.map(&:payments) + [@donation.payments]).flatten %>

<% unless payments.length == 1 && payments.first.payment_method.description.downcase == "invoice" %>

<% payments.each do |payment| %>
  <tr>
    <% if @extras.length > 0 %>
      <% if payment.donation_id != @donation.id %>
        <td><%= payment.donation.occurred_at.to_date %></td>
        <td>#<%= payment.donation_id %></td>
        <td>&nbsp;</td>
        <% else %>
        <td colspan="3">&nbsp;</td>
      <% end %>
    <% else %>
      <td>&nbsp;</td>
    <% end %>
    <td align="left"><%= payment.payment_method.description.match("invoice") ? "<b>" : "" %><%= h(payment.payment_method.description).titleize %> <%= payment.payment_method.description.match("invoice") ? "Total" : "Paid" %>:<%= payment.payment_method.description.match("invoice") ? "</b>" : "" %></td>
    <td><%= my_number_to_currency(payment.amount_cents) %></td>
  </tr>
<% end %>

<% end %>

<% if @donation.invoice_resolved? -%>
  <tr>
    <% if @extras.length > 0 %>
      <td colspan="3">&nbsp;</td>
    <% else %>
      <td>&nbsp;</td>
    <% end %>
    <td> Required Fee Paid
      (<strong>not</strong> tax deductible): </td>
    <td><%= my_number_to_currency(@donation.required_fee_paid_cents + @donation.required_fee_owed_cents) %></font></td>
  </tr>

    <tr>
    <% if @extras.length > 0 %>
      <td colspan="3">&nbsp;</td>
    <% else %>
      <td>&nbsp;</td>
    <% end %>
      <td> Contribution Paid (tax deductible): </td>
      <td><%= my_number_to_currency(@donation.cash_donation_paid_cents + @donation.cash_donation_owed_cents) %></td>
    </tr>
<% else -%>
  <% if @donation.required_fee_paid_cents.nonzero? %>
    <tr>
    <% if @extras.length > 0 %>
      <td colspan="3">&nbsp;</td>
    <% else %>
      <td>&nbsp;</td>
    <% end %>
      <td> Required Fee Paid
        (<strong>not</strong> tax deductible): </td>
      <td><%= my_number_to_currency(@donation.required_fee_paid_cents) %></font></td>
    </tr>
  <% end %>

  <% if @donation.invoiced? and @donation.required_fee_owed_cents.nonzero? %>
    <tr>
    <% if @extras.length > 0 %>
      <td colspan="3">&nbsp;</td>
    <% else %>
      <td>&nbsp;</td>
    <% end %>
      <td> Required Fee Due
        (<strong>not</strong> tax deductible): </td>
      <td><%= my_number_to_currency(@donation.required_fee_owed_cents) %></font></td>
    </tr>
  <% end %>

  <% if @donation.invoiced? %>
    <tr><td colspan="4">&nbsp;</td></tr>
    <tr>
    <% if @extras.length > 0 %>
      <td colspan="3">&nbsp;</td>
    <% else %>
      <td>&nbsp;</td>
    <% end %>
        <td><strong>Total Amount Still Owed:</strong></td>
        <td><strong><%= my_number_to_currency(@donation.amount_invoiced_cents) %></strong></td>
    </tr>
  <% end %>

  <% if @donation.cash_donation_paid_cents.nonzero? %>
    <tr>
    <% if @extras.length > 0 %>
      <td colspan="3">&nbsp;</td>
    <% else %>
      <td>&nbsp;</td>
    <% end %>
      <td> Contribution Paid (tax deductible): </td>
      <td><%= my_number_to_currency(@donation.cash_donation_paid_cents) %></td>
    </tr>
  <% end %>
  <% if @donation.invoiced? and @donation.cash_donation_owed_cents.nonzero? %>
    <tr>
    <% if @extras.length > 0 %>
      <td colspan="3">&nbsp;</td>
    <% else %>
      <td>&nbsp;</td>
    <% end %>
      <td> Cash Contribution Owed (tax deductible <strong>after payment</strong>) </td>
      <td><%= my_number_to_currency(@donation.cash_donation_owed_cents) %></td>
    </tr>
  <% end -%>
<% end %>
<% unless payments.length == 0 %>
<tr>
    <% if @extras.length > 0 %>
      <td colspan="3">&nbsp;</td>
    <% else %>
      <td>&nbsp;</td>
    <% end %>
    <td>Total Tax Deductible Contribution:</td>
    <td>_________</td>
</tr>
<% end %>

</tbody></table>
<% if @donation.superseded? %>
  <b>This invoice is superseded by receipt <%= link_to "#" + @donation.superseded_by.id.to_s, params.merge({:id => @donation.superseded_by.id}) %>.</b><br />
<% end %>
<% if @extras.length > 0 %>
  This invoice receipt includes and supersedes invoice<%= @extras.length > 1 ? "s" : "" %> <%= @extras.map(&:id).map{|x| "#" + x.to_s}.to_sentence %>.
<% end %>
