<% # The following is used when the browser doesn't have javascript enabled %>
<% classAttr = cycle("", " even") %>
<% @options = params.merge(:controller => base_controller, :action => "view",
                           :id => donation.send("#{Donation.primary_key}")) %>

<tr class="<%= h donation.displayed_payment_method %><%= classAttr %>"
    id="<%= element_row_id(@options) %>" <%= "style=\"display: none;\"" if hidden %>>
  <% for column in columns %>
    <% column_value = eval(column.eval) rescue nil %>
    <td>
      <%= formated_value(column_value, column.sanitize?) %>
    </td>
  <% end %>
  <td class="actions">
    <%= loading_indicator_tag("donation_#{donation.id}_loading") %>
    <% print_options = @options.merge(:action => 'receipt') %>
    <a onclick="window.open('<%= url_for(print_options) %>','Receipt_<%= donation.id %>','');" title="Print" style="cursor: pointer;">
      Print
    </a>
    <%= render :partial => "edit_update_transaction",
        :locals => {:transaction => donation,
          :allowed_roles => ["DONATION_ADMIN", "BEAN_COUNTERS"]}%>
  </td>
</tr>
