<div class="item_list">
<table bgcolor="#cccccc" width="100%" align="center" border="1">
<tbody><tr>
    <td width="15%"><strong>Quantity:</strong></td>
    <td width="60%"><strong>Description:</strong></td>
    <td width="15%"><strong>Est Value:</strong></td>
</tr>

<% @donation.gizmo_events.each do |event| %>
  <tr>
    <td> <%= event.gizmo_count %> </td>
    <td> <%= event.attry_description %> </td>
    <td>______</td>
  </tr>
<% end %>

<tr><td colspan="4">&nbsp;</td></tr>

<tr>
    <td></td>
    <td>Total Estimated Value (tax deductible):</td>
    <td>_________</td>
</tr>

<% if @donation.cash_donation_paid_cents.nonzero? %>
  <tr>
    <td></td>
    <td> Cash Donation Paid (tax deductible) </td>
    <td><%= my_number_to_currency(@donation.cash_donation_paid_cents) %></td>
  </tr>
<% end %>
<% if @donation.invoiced? and @donation.cash_donation_owed_cents.nonzero? %>
  <tr>
    <td></td>
    <td> Cash Donation Owed (tax deductible <strong>after payment</strong>) </td>
    <td><%= my_number_to_currency(@donation.cash_donation_owed_cents) %></td>
  </tr>
<% end %>

<tr>
    <td></td>
    <td>Total Deductible Donation:</td>
    <td>_________</td>
</tr>

<% if @donation.required_fee_paid_cents.nonzero? %>
  <tr>
    <td></td>
    <td> Required Fee Paid
      (<strong>not</strong> deductible): </td>
    <td><%= my_number_to_currency(@donation.required_fee_paid_cents) %></font></td>
  </tr>
<% end %>

<% if @donation.invoiced? and @donation.required_fee_owed_cents.nonzero? %>
  <tr>
    <td></td>
    <td> Required Fee Due
      (<strong>not</strong> deductible): </td>
    <td><%= my_number_to_currency(@donation.required_fee_owed_cents) %></font></td>
  </tr>
<% end %>

<% if @donation.invoiced? %>
  <tr><td colspan="4">&nbsp;</td></tr>
  <tr>
      <td></td>
      <td><strong>Total Amount Still Owed:</strong></td>
      <td><strong><%= my_number_to_currency(@donation.amount_invoiced_cents) %></strong></td>
  </tr>
<% end %>
</tbody></table>
<p><%= @donation.comments %></p>
<hr />
<p class="footer">We affirm that no goods or services were provided in return for the donation amounts listed above (required fees excepted).</p>
</div>
