<% @donation = donation %>
<% c = 0 %>
<% @donation.receipt_types.each do |rt| %>
<% if c > 0 %>
<div class="noprint" style="clear: left;">
<hr />
<hr />
<hr />
</div>
<% end %>
<% c += 1 %>
<%= render :partial => 'transaction/receipt_layout', :locals => {:receipt_type => rt} %>
<%= render :partial => "donation_receipt_guts", :locals => {:donation => @donation, :receipt_type => rt} %>

<p><%= h @donation.comments %></p>
<hr />
<p class="footer longfooter" style="page-break-after: always;">
<% if rt == 'receipt' %>
We affirm that no goods or services were provided in return for the contribution amounts listed above (required fees excepted).<br/><br/>
Retain this receipt for your taxes.
<% else %>
Please return a copy of this invoice with payment.
<% end %>
<% if params[:controller] == 'donations' && (rt == 'invoice' || @donation.receipt_types.length == 1) %>
<div id="contribution_blurb" <%= @donation.invoiced? ? '' : 'style="display: none"' %>>
<% if Default["contribution_blurb"] %>
<%= Default["contribution_blurb"] %>
<% end %>
<% end %>
</div>
</p>
</div>
<% end %>
<%= render :partial => 'transaction/receipt_footer' %>
