<div class="item_list">
<table bgcolor="#cccccc" width="100%" align="center" border="1">
<tbody><tr>
    <td width="15%"><strong>Quantity:</strong></td>
    <td width="60%"><strong>Description:</strong></td>
    <td width="15%"><strong>Est Value:</strong></td>
</tr>

<% @donation.gizmo_events.each do |event| -%>
  <% if !GizmoType.fee?(event.gizmo_type) -%>
  <tr>
    <td> <%= event.gizmo_count %> </td>
    <td> <%= h event.attry_description %> </td>
    <td>______</td>
  </tr>
  <% end -%>
<% end -%>

<tr><td colspan="4">&nbsp;</td></tr>

<tr>
    <td></td>
    <td>Total Estimated Value (tax deductible):</td>
    <td>_________</td>
</tr>

<% @donation.gizmo_events.each do |event| -%>
  <% if (GizmoType.fee?(event.gizmo_type) || (event.gizmo_type.required_fee_cents > 0)) && !event.covered -%>
  <tr>
    <td><%= event.gizmo_count %> </td>
    <td><%= h event.attry_description %> </td>
    <td><%= my_number_to_currency(event.gizmo_count * event.unit_price_cents) %></td>
  </tr>
  <% end -%>
<% end -%>

<% @donation.payments.each do |payment| %>
  <tr>
    <td>&nbsp;</td>
    <td align="left"><%= h(payment.payment_method.description).titleize %>:</td>
    <td><%= my_number_to_currency(payment.amount_cents) %></td>
  </tr>
<% end %>

<% if @donation.invoice_resolved? -%>
  <tr>
    <td></td>
    <td> Required Fee Paid
      (<strong>not</strong> deductible): </td>
    <td><%= my_number_to_currency(@donation.required_fee_paid_cents + @donation.required_fee_owed_cents) %></font></td>
  </tr>
<% else -%>
  <% if @donation.required_fee_paid_cents.nonzero? %>
    <tr>
      <td></td>
      <td> Required Fee Paid
        (<strong>not</strong> deductible): </td>
      <td><%= my_number_to_currency(@donation.required_fee_paid_cents) %></font></td>
    </tr>
  <% end %>

  <% if @donation.invoiced? and @donation.required_fee_owed_cents.nonzero? %>
    <tr>
      <td></td>
      <td> Required Fee Due
        (<strong>not</strong> deductible): </td>
      <td><%= my_number_to_currency(@donation.required_fee_owed_cents) %></font></td>
    </tr>
  <% end %>

  <% if @donation.invoiced? %>
    <tr><td colspan="4">&nbsp;</td></tr>
    <tr>
        <td></td>
        <td><strong>Total Amount Still Owed:</strong></td>
        <td><strong><%= my_number_to_currency(@donation.amount_invoiced_cents) %></strong></td>
    </tr>
  <% end %>
<% end %>

<% if @donation.invoice_resolved? -%>
    <tr>
      <td></td>
      <td> Donation Paid (tax deductible): </td>
      <td><%= my_number_to_currency(@donation.cash_donation_paid_cents + @donation.cash_donation_owed_cents) %></td>
    </tr>
<% else -%>
  <% if @donation.cash_donation_paid_cents.nonzero? %>
    <tr>
      <td></td>
      <td> Donation Paid (tax deductible): </td>
      <td><%= my_number_to_currency(@donation.cash_donation_paid_cents) %></td>
    </tr>
  <% end %>
  <% if @donation.invoiced? and @donation.cash_donation_owed_cents.nonzero? %>
    <tr>
      <td></td>
      <td> Cash Donation Owed (tax deductible <strong>after payment</strong>) </td>
      <td><%= my_number_to_currency(@donation.cash_donation_owed_cents) %></td>
    </tr>
  <% end -%>
<% end -%>
<tr>
    <td></td>
    <td>Total Deductible Donation:</td>
    <td>_________</td>
</tr>

</tbody></table>
