<% params[:gizmo_context_id] ||= @gizmo_context.id %>

<%= js = "gizmo_context = '#{escape_javascript h @gizmo_context.to_s}';"
    js += "show_description=0;"
    js += "bind_key('ctrl-e', toggle_description);";
    javascript_tag js %>

<table id="gizmo_event_lines">
  <tr>
    <th>type</th>
    <th class="description invisible">description</th>
    <th>qty</th>
    <% if params[:controller] == "sales" or params[:controller] == "disbursements" or params[:controller] == "gizmo_returns" %>
    <th>system id</th>
    <% end %>
    <% if params[:controller] == "recyclings" %>
      <% if Contract.usable.length > 1 %>
      <th>contract</th>
      <% end %>
    <% end %>
    <% if params[:controller] == "donations" or params[:controller] == "recyclings" or params[:controller] == "disbursements" %>
      <% if coveredness_enabled %>
        <th>covered</th>
    <th>total price</th>
      <% end %>
    <% end %>
    <% if params[:controller] == "sales" or params[:controller] == "donations" or params[:controller] == "gizmo_returns" %>
    <th>unit price</th>
    <th>total price</th>
    <% end %>
    <th></th>
    <% if @transaction.gizmo_events %>
      <% @gizmos_and_payments_js ||= ""
         for line in @transaction.gizmo_events.not_discount
           price = 0
           description = ''
           if @gizmo_context.name == "sale" or @gizmo_context.name == "gizmo_return"
             price = line.unit_price
           elsif @gizmo_context.name == "donation"
             price = line.fee_cents.to_dollars
           elsif @gizmo_context.name == "recycling" or @gizmo_context.name == "disbursement"
             nil
           else
             raise "BUG"
           end
           if !line.description.nil?
             description = line.description
           else
             description = ''
           end
           hash = {:gizmo_type_id => line.gizmo_type_id, :gizmo_count => line.gizmo_count, :description => description}
           hash[:unit_price] = price if (params[:controller] == "donations" or params[:controller] == "sales"  or params[:controller] == "gizmo_returns")
           hash[:system_id] = line.system_id if line.system_id
           hash[:contract_id] = line.recycling_contract_id if line.recycling_contract_id
           hash[:covered] = line.covered.nil? ? "undefined" : (line.covered == true ? "true" : "false") if (params[:controller] == "donations" or params[:controller] == "recyclings" or params[:controller] == "disbursements") && coveredness_enabled
           hash[:uneditable] = true if ! line.editable?
           hash[:id] = line.id
           @gizmos_and_payments_js += "add_gizmo_event(#{hash.to_json});"
         end
         %>
    <% end %>

  <tr id="gizmo_event_form">
    <td><select id="gizmo_type_id" onchange="<%= h @gizmo_context.name %>_gizmo_type_selected();" name="gizmo_type_id">
        <%= gizmo_events_options_for_transaction %>
      </select></td>
    <td class="description invisible"><input name="description" id="description" size="10"></td>
    <td><input name="gizmo_count" id="gizmo_count" size="6" onkeydown="return handle_ge(event);"></td>
    <% if params[:controller] == "sales" or params[:controller] == "disbursements"  or params[:controller] == "gizmo_returns" %>
    <td><input name="system_id" id="system_id" size="6" onkeydown="return handle_ge(event);"></td>
    <% end %>
    <% if params[:controller] == "recyclings" %>
      <% if Contract.usable.length > 1 %>
        <td><select id="contract_id" onkeydown="return handle_ge(event);" name="contract_id">
            <%= options_from_collection_for_select([Contract.find_by_name("default")] + Contract.usable.delete_if{|x| x.name == "default"}.sort_by(&:description), "id", "description") %>
          </select></td>
      <% end %>
    <% end %>
    <% if params[:controller] == "donations" or params[:controller] == "recyclings" or params[:controller] == "disbursements" %>
      <% if coveredness_enabled %>
        <td><input name="covered" id="covered" type="checkbox" onkeydown="return handle_ge(event);" checked="checked" onchange="<%= h @gizmo_context.name %>_gizmo_type_selected();"></td>
      <% end %>
    <% end %>
    <% if params[:controller] == "sales" or params[:controller] == "donations" or params[:controller] == "gizmo_returns" %>
    <td><input name="unit_price" id="unit_price" size="8" onkeydown="if(is_tab(event)) {return handle_gizmo_events();}"></td>
    <td></td>
    <% end %>
  </tr>
</table>
