<div id="<%= element_row_id(@options) %>" <%= "style=\"display:none;\"" if request.xhr? %>>
  <div id="<%= element_cell_id(@options) %>" class="<%= @options[:action] %>" colspan="<%= num_columns %>">

    <% form_remote_tag :url => @options.merge(:controller => base_controller),
          :loading => "Element.show('#{loading_indicator_id("form_for_#{@transaction_type}_loading")}'); Form.disable('#{element_form_id(@options)}');",
          :html => { :href => url_for(@options.merge(:controller => base_controller)),
            :id => element_form_id(@options) } do %>

      <h4><%= Inflector.titleize(@options[:action] + " " + @transaction_type)
        %><%= if @transaction.id then " ##{@transaction.id}" end %></h4>
      <% if @transaction.created_at && @transaction.updated_at %>
      <span>created <%= if defined?(@transaction.created_by) && @transaction.created_by then "by #{User.find_by_id(@transaction.created_by).login} " end %>at <%= @transaction.created_at %></span>
      <br /><span>updated <%= if defined?(@transaction.updated_by) && @transaction.updated_by then "by #{User.find_by_id(@transaction.updated_by).login} " end %>at <%= @transaction.updated_at %></span>
      <% end %>
      <% if request.xhr? %>
        <div id="<%= element_messages_id(@options) %>" class="messages-container"></div>
      <% else %>
        <%= render :partial => 'form_messages' %>
      <% end %>

      <%= render :partial => "#{@transaction_type}_form", :locals => { "@#{@transaction_type}".to_sym => @transaction } %>

      <p class="form-footer">
        <%= javascript_tag "bind_key('shift-ctrl-s', function(e){document.getElementById('commit').click();});" %>
        <%= submit_tag(Inflector.titleize(@options[:action]), 
                       :id => "commit",
                       :onclick => "return validate_#{@transaction_type}();",
                       :class => "submit save")
 %>
        <% cancel_params = @options.merge(:controller => base_controller, :action => 'cancel', :referring_action => @options[:action]) %>
        <%= submit_to_remote "cancel", "Cancel", { :url => cancel_params, :html => {:class => "cancel"}, :loading => "Element.show('#{loading_indicator_id("form_for_#{@transaction_type}_loading")}');" } %>

        <%= loading_indicator_tag "form_for_#{@transaction_type}_loading" %>
      </p>
    <% end %>

  </div>
</div
