<div class="header">
  <h2><%= @transaction_type.titleize %></h2>
  <div class="actions">
    <%= loading_indicator_tag("new_#{@transaction_type}_loading") %>
  </div>
</div>
<%= @transaction.html_explaination %>
<div id="<%= h element_messages_id(@options) %>" class="messages-container">
  <div id="<%= messages_id(params) %>">
    <%= render :partial => 'form_messages' %>
  </div>
</div>
<div id="<%= form_tbody_id(params) %>">

<% if @receipt %>
  <script>
    window.open('<%= url_for({:id => @receipt, :action => 'receipt'}) %>','Receipt_<%= @receipt %>','');
  </script>
<% end %>

<div id="<%= h element_row_id(@options) %>" <%= "style=\"display:none;\"" if request.xhr? %>>
  <div id="<%= h element_cell_id(@options) %>" class="<%= @options[:action] %>" colspan="<%= num_columns %>">

    <% form_remote_tag :url => @options.merge(:controller => base_controller),
       :loading => "Element.show('#{loading_indicator_id("form_for_#{@transaction_type}_loading")}'); Form.disable('#{element_form_id(@options)}');",
       :html => { :class => "cashierable_form", :href => url_for(@options.merge(:controller => base_controller)),
         :id => element_form_id(@options) } do %>
    <%# form_for @transaction, :url => @options.merge(:controller => base_controller), :html => {:method => 'POST'} do %>
    <input type="hidden" name="return_to_search" value="<%= @return_to_search %>"/>
    <%= cashiers_field %>
    <h4><%= (@options[:action] + " " + @transaction_type).titleize
            %><%= if @transaction.id then " ##{@transaction.id}" end %></h4>
    <% if @transaction.created_at && @transaction.updated_at %>
      <span>created <%= if defined?(@transaction.created_by) && @transaction.cashier_created_by then "by #{link_to User.find_by_id(@transaction.cashier_created_by).login, {:controller => "contacts", :action => "index", :contact_id => User.find_by_id(@transaction.cashier_created_by).contact_id}} " end %>at <%= @transaction.created_at %></span>
      <br /><span>updated <%= if defined?(@transaction.updated_by) && @transaction.cashier_updated_by then "by #{link_to User.find_by_id(@transaction.cashier_updated_by).login, {:controller => "contacts", :action => "index", :contact_id => User.find_by_id(@transaction.cashier_updated_by).contact_id}} " end %>at <%= @transaction.updated_at %></span>
    <% end %>
    <% if ["sale", "disbursement"].include?(@gizmo_context.name) && @transaction.id %>
      <br/>
      <% returns_array = @transaction.gizmo_returns.map{|x| link_to x.link_text, {:controller => "gizmo_returns", :action => "edit", :id => x.id}} %>
      <% returns_array << link_to("Add a new return", {:controller => "gizmo_returns", :action => "new", :params => {:gizmo_return => {(@gizmo_context.name + "_id").to_sym => @transaction.id}}}) %>
      <%= returns_array.length != 1 ? "Returns: " : "" %><%= returns_array.join(" - ") %>
    <% end %>
    <% if request.xhr? %>
      <div id="<%= element_messages_id(@options) %>" class="messages-container"></div>
    <% else %>
      <%= render :partial => 'form_messages' %>
    <% end %>

    <% if Contract.find(:all).length > 1 %>
      <pre id="contract_notes" style="background: yellow">
      </pre>
    <% end %>

  <%= js = "contracts_notes = new Array();"
      Contract.find(:all).collect{|x| [h(x.id), h(x.notes)]}.each{|x,y|
        js += "contracts_notes['#{x}'] = '#{escape_javascript(y)}';"
      }
     javascript_tag js %>

  <% if has_role?("ADMIN") %>
    <%= javascript_tag "bind_key('shift-ctrl-q', toggle_the_admin);" %>
    <div id="hidden_admin" class="<%= @transaction.adjustment ? "" : "hidden" %>">
      <label for="<%= @gizmo_context %>_adjustment">Is adjustment?</label>
      <%= check_box @gizmo_context, 'adjustment' %>
      <% if ["gizmo_return", "sale", "donation"].include?(@gizmo_context.to_s) %>
        <label for="<%= @gizmo_context %>_occurred_at">When did this occur?</label>
        <%= calendar_box @gizmo_context, "occurred_at",{},{:showOthers => true} %>
      <% end %>
    </div>
  <% end %>

    <%= render :partial => "#{@transaction_type}_form", :locals => { "@#{@transaction_type}".to_sym => @transaction } %>

    <% if params[:controller] == "donations" %>
      <%= javascript_tag "show_contract_notes()" %>
    <% elsif ["sales", "disbursements"].include?(params[:controller]) %>
      <%= javascript_tag "update_contract_notes()" %>
    <% else %>
      <%= javascript_tag "if ($('contract_notes')) $('contract_notes').hide();" %>
    <% end %>

    <p class="form-footer">
      <%= javascript_tag "bind_key('shift-ctrl-s', function(e){document.getElementById('commit').click();});" %>
      <%= submit_tag(@options[:action].titleize,
                     :id => "commit",
                     :onclick => "handle_all(); return validate_#{@transaction_type}();",
                     :class => "submit save")
          %>
      <input type="button" value="Cancel" onclick="window.location.href='<%= @return_to_search ? url_for({:action=>"search", :continue=>true}) : url_for( params.merge( { :action => 'new' } ) ) %>';" class="cancel" %>

      <%= loading_indicator_tag "form_for_#{@transaction_type}_loading" %>
    </p>
<% end %>
<%= cashiers_javascript %>
</div>
</div>
</div>
<hr />
<table class="list">
  <tbody>
    <%= render :partial => 'column_headings' %>
  </tbody>
  <tbody id="<%= tbody_id(params) %>">
    <tr></tr>
    <% if !@transactions.empty? %>
      <%= render :partial => @transaction_type, :collection => @transactions, :locals => { :hidden => false } %>
    <% end %>
  </tbody>
</table>
<% if @transactions.length == 15 %>
  <%= link_to "See more", {:action => "search", :conditions => {:created_at_enabled => true, :created_at_date_type=>"daily", :created_at_date => Date.today.strftime("%Y-%m-%d")}} %>
<% end %>
