<% # The following is used when the browser doesn't have javascript enabled %>
<% classAttr = cycle("", " even") %>
<% @options = params.merge(:controller => base_controller, :action => "view",
                           :id => recycling.send("#{Recycling.primary_key}"),
                           :transaction_type => @transaction_type) %>

<tr class="<%= classAttr %>"
    id="<%= element_row_id(@options) %>" <%= "style=\"display: none;\"" if hidden %>>
  <% for column in columns %>
    <% column_value = eval(column.eval) rescue nil %>
    <td>
      <%= formated_value(column_value, column.sanitize?) %>
    </td>
  <% end %>
  <td class="actions">
    <%= loading_indicator_tag("recycling_#{recycling.id}_loading") %>
    <%= render :partial => "edit_update_transaction",
               :locals => {:transaction => recycling,
                           :return_to_search => return_to_search,
                           :allowed_roles => ["ROLE_BEAN_COUNTERS"]}%>
  </td>
</tr>
