  <table  width="100%">
    <tr>
      <td colspan="3"><%= render :partial=>"helpers/letter_head",
                          :locals=> {:contact_information => @txn.contact_information, :hidable_contact_information => @transaction.hidable_contact_information, :hideit => @transaction.should_i_hide_it?}%></td>
    </tr>
    <tr>
      <td colspan="3"><hr /></td>
    </tr>

    <tr>
      <td colspan="2">
        <% if @transaction.class != Donation || receipt_type == 'receipt' %>
        <%= @context.titleize %>
        <% end %>
        <strong>
          <% if @txn.invoiced? && (@transaction.class != Donation || receipt_type == 'invoice') %>
            <font color="#FF0000" size="+2"><%= @txn.invoice_resolved_at.nil? ? "" : "Paid " %>Invoice</font>
          <% else %>
            Receipt
          <% end %>
        </strong>
      </td>
      <% if @context == 'donation' %>
        <td align="right"><%= h Default['tax id'] %></td>
      <% else %>
        <td align="right"><%= h Default['business id'] %></td>
      <% end %>
    </tr>
    <tr>
      <td colspan="3">Created by #<%=h User.find_by_id(@transaction.cashier_created_by).contact_id %></td>
    </tr>
    <tr>
      <td>Date: <%= @txn.occurred_at.strftime("%m/%d/%Y") %></td>
      <td align="center">
        <%= @context.titleize %> <strong><%= "# " + @txn.id.to_s %></strong>
      </td>
      <td align="right">
        <% if @txn.invoiced? %>
          <strong>
            Due: <%= @transaction.created_at.+(60*60*24*30).strftime("%m/%d/%Y") %>
          </strong>
        <% end %>
      </td>
    </tr>

    <% if params[:controller] == 'donations' && receipt_type == 'invoice' %>
    <tr id="suggested_fee" style="display: none">
      <td colspan="4">
        There is a suggested tax deductible contribution of $<%= @donation.reported_suggested_fee %> for these items.
      </td>
    </tr>
    <% end %>

