<% @sale = sale %>
<%= render :partial => 'transaction/receipt_layout' %>
<%= render :partial => "sale_receipt_guts", :locals => {:sale => @sale} %>

<%= render :partial => "storecredits_receipt" %>

<div style="font-size: 70%">
  <% policies = @sale.display_return_policies %>
  <% if policies.length > 0 %>
  <b>Return Policy</b>
  <br />
  <% policies.each do |pol| %>
  <b><%= pol.normal_description %>:</b> <%= pol.text %>
  <br />
  <% end %>
  <% end %>
</div>
<%= render :partial => 'transaction/receipt_footer' %>
