<% # The following is used when the browser doesn't have javascript enabled %>
<% classAttr = cycle("", " even") %>
<% @options = params.merge(:controller => base_controller, :action => "view",
                           :id => sale.send("#{Sale.primary_key}")) %>

<tr class="<%= h sale.displayed_payment_method %><%= classAttr %>"
    id="<%= element_row_id(@options) %>" <%= "style=\"display: none;\"" if hidden %>>
  <% for column in columns %>
    <% column_value = eval(column.eval) rescue nil %>
    <td>
      <%= formated_value(column_value, column.sanitize?) %>
    </td>
  <% end %>
  <td class="actions">
    <%= loading_indicator_tag("sale_#{sale.id}_loading") %>
    <% print_options = @options.merge(:action => 'receipt') %>
    <a onclick="window.open('<%= url_for(print_options) %>','Receipt_<%= sale.id %>','');" title="Print" style="cursor: pointer;">
      Print
    </a>
    <%= render :partial=> "edit_update_transaction",
        :locals => {:transaction => sale,
          :allowed_roles => ["STORE_ADMIN", "BEAN_COUNTER"]} %>
    <%= link_to("Returns", {:controller => "gizmo_returns", :action => "new", :params => {:gizmo_return => {("sale_id").to_sym => sale.id}}}) %>
  </td>
</tr>
