<% @sale = sale %>
<fieldset>
  <div class="row">
    <!--[form:sale]-->
    <div id="transaction_info">
      <div id="<%= contact_searchbox_id(@options) %>">
        <label for="donation_contact_type">What kind of contact?</label>

        <%= select_visibility( 'sale', 'contact_type', {
                               :anonymous => render( :partial => 'anonymous', :locals => {:disabled_code => true} ),
                               :named => render( :partial => 'contact_search',
                                                 :locals => {:options => {
                                                     :on_display => "if($('contact__default_discount_schedule')) {
                                              set_new_val($('sale_discount_schedule_id'),
                                                          parseInt($('contact__default_discount_schedule').innerHTML));
                                              set_new_val($('sale_discount_schedule_id_hidden'),
                                                          parseInt($('contact__default_discount_schedule').innerHTML));
                                            }",
                                                   }}
                                                 )}, {:onchange => "if($('sale_contact_type').value == 'named') {$('sale_contact_id').focus();};"}
                               ) %>
      </div>

      <div class="form-extras">
        <div class="form-element">
          <%= hidden_field 'sale', 'discount_schedule_id', {:id => 'sale_discount_schedule_id_hidden', :onchange => "sale_compute_totals();"} %>
          <label for="sale_discount_schedule_id" onclick="toggle_disabled_with_hidden('sale_discount_schedule_id');">Discount schedule</label>
          <select id="sale_discount_schedule_id" name="sale[discount_schedule_id]" onChange="sale_compute_totals();" class="always_disabled" disabled="disabled">
            <%= options_from_collection_for_select((DiscountSchedule.find_all_by_instantiable(true) + [DiscountSchedule.find_by_id(@sale.discount_schedule_id)]).uniq.sort_by(&:description), "id", "description", @sale.discount_schedule_id || DiscountSchedule.no_discount.id) %>
          </select>
        </div>

        <div class="form-element">
          <%= hidden_field 'sale', 'sale_type_id', {:id => 'sale_sale_type_id_hidden'} %>
          <label for="sale_sale_type_id" onclick="toggle_disabled_with_hidden('sale_sale_type_id');">Sale type</label>
          <select id="sale_sale_type_id" name="sale[sale_type_id]" class="always_disabled" disabled="disabled">
            <%= options_from_collection_for_select(SaleType.find(:all).sort_by(&:description), "id", "description", @sale.sale_type_id) %>
          </select>
        </div>

        <div class="form-element">
          <label for="sale_comments"  onclick="toggle_disabled_with_hidden('sale_comments');">Comments</label>
          <%= hidden_field 'sale', 'comments', {:id => 'sale_comments_hidden'} %>
          <%= text_area 'sale', 'comments' , {:cols => 20, :rows => 3, :class=>"text-input #{@sale.comments.to_s.length >= 1 ? "" : "always_disabled"}", :disabled => (@sale.comments.to_s.length == 0)} %>
        </div>

        <% if @sale.id and @sale.invoiced? %>
          <div class="form-element">
            <label for="sale_invoice_resolved_at">When was this invoice resolved?</label>
            <%= calendar_box 'sale', 'invoice_resolved_at',{},{:showOthers => true} %>
          </div>
        <% end %>
      </div>
    </div>

    <div id="transaction_line_items_div">
      <div id="sale_gizmos" class="datalist line_item">
        <%= render :partial => 'gizmo_events' %>
      </div>

      <div id="sale_payments" class="datalist line_item">
        <%= render :partial => 'payments' %>
      </div>

      <%= render :partial => 'sale_totals' %>

      <%= javascript_tag @gizmos_and_payments_js %>
    </div>

    <!--[eoform:sale]-->

  </div>
</fieldset>
      <% if receipt_printer_enabled %>
        <div>
          <%= javascript_tag "receipt_printer_default = #{receipt_printer_default.to_json};" %>
          Receipt Printer: <%= select_tag "receipt_printer", options_for_select([["Old Format (Choose a Printer)", ""]]) %>
        </div>
      <% end %>

      <% if receipt_printer_enabled %>
<%= javascript_include_tag("/jzebra/jzebra.js") + javascript_tag("monitorLoadingThenCall('set_printers();');") %>
<applet name='jzebra' code='jzebra.PrintApplet.class' alt='Error loading jZebra applet, please install and enable Java for text receipt printing' archive='/jzebra/jzebra.jar' width=0 height=0></applet>
      <% end %>

