<% if @show_wrapper %>
  <div id="<%= @transaction_type %>">
    <div id="<%= component_id(params) %>">
<% end %>

<div id="<%= h element_messages_id(params) %>" class="messages-container">
  <div id="<%= messages_id(params) %>">
    <%= render :partial => "messages" %>
  </div>
</div>

<div class="footer">
  <table class="list">
    <tbody>
      <%= render :partial => 'column_headings' %>
    </tbody>
    <tbody id="<%= tbody_id(params) %>">
      <tr></tr>
      <% if !(@transactions.nil? || @transactions.empty?) %>
        <%= render :partial => @transaction_type, :collection => @transactions, :locals => { :hidden => false} %>
      <% end %>
    </tbody>
  </table>

  <td class="indicator-container">
    <%= loading_indicator_tag("#{@transaction_type}_paginate_loading") %>
  </td>
  <% if !@transactions.nil? -%>
    <%= will_paginate @transactions, :remote_options => {
          :method => :get,
          :update => component_id(params),
          :loading => "Element.show('#{loading_indicator_id("#{@transaction_type}_paginate_loading")}');",
        },
        :params => {
          :conditions => params[:conditions],
          :dont_show_wrapper => 'true',
        }
        %>
  <% end -%>
</div>
<div class="list_refinement">
  <% refine_params = params.merge({:action => 'component_update'}) %>
  <%# form_tag ({ :action => 'search'}, :method => "GET") do %>
    <% form_remote_tag :url => { :action => 'component_update' },
       :loading => "$('#{loading_indicator_id( "refine_#{@transaction_type}_loading" )}').show()",
       :update => component_id( refine_params ) do %>
      <% filters = [] %>
      <% filters << 'created_at' %>
      <% if @model.new.respond_to?( :contact_id ) %>
        <% filters << 'contact' %>
      <% end %>
      <% if @model.new.respond_to?( :postal_code ) %>
        <% filters << 'anonymous' %>
      <% end %>
      <% if @model.new.respond_to?( :disbursement_type ) %>
        <% filters << 'disbursement_type_id' %>
      <% end %>
      <% if @model.new.respond_to?( :store_credit ) %>
        <% filters << 'store_credit_id' %>
      <% end %>
      <% if @model.new.respond_to?( :payments ) %>
        <% filters << 'payment_method' %>
        <% filters << 'unresolved_invoices' %>
        <% filters << 'payment_amount' %>
      <% end %>
      <% filters << 'gizmo_type_id' %>
      <% filters << 'id' %>
      <% filters << 'needs_attention' %>
      <% filters << 'contract' %>
      <% filters << 'contact_type' %>
      <% filters << 'organization' %>
      <% if has_role?("ADMIN") %>
        <% filters << 'created_by' %>
        <% if cashierable %>
          <% filters << 'cashier_created_by' %>
        <% end %>
      <% end %>
      <% if @model == Sale or @model == Disbursement %>
        <% filters << 'system' %>
      <% end %>
      <%= conditions_html("conditions", filters) %>

      <div class="form-footer">
        <%= submit_tag "Refine", :class => "submit" %>
        <%= loading_indicator_tag("refine_#{@transaction_type}_loading") %>
      </div>
    <% end %>
</div>
<% if @show_wrapper %>
</div>
</div>
<% end %>
