    <%= form_tag '/punch_entries/punch' do -%>
    <div class="punch-entry-form">
      <% if !flash[:message].blank? -%>
      <div class="message"><%= flash[:message] %></div>
      <% end -%>
      <fieldset>
        <legend>Volunteer Identification</legend>
        <label for="volunteer-id">Volunteer ID</label>
        <input type="text" id="volunteer-id"
               placeholder="Volunteer ID" name="volunteer_id" />
        <span class="seperator">OR</span>
        <label for="volunteer-first-name">First name</label>
        <input type="text" id="volunteer-first-name"
               placeholder="First name" name="first_name" />
        <label for="volunteer-last-name">Last name</label>
        <input type="text" id="volunteer-last-name"
               placeholder="Last Name" name="last_name" />
      </fieldset>
      <fieldset>
        <legend>Station</legend>
          <select id="station" name="station">
            <option value="">Select station when signing out</option>
            <%= options_from_collection_for_select(VolunteerTaskType.
                                                   instantiables.
                                                   effective_on(Time.now).
                                                   sort_by { |x|
                                                     x.description.downcase
                                                   },
                                                 :id,
                                                 :display_name)
                %>
          </select>
      </fieldset>
      <fieldset>
        <legend>Action</legend>
        <%= submit_tag "Sign in" %>
        <%= submit_tag "Sign out" %>
      </fieldset>
    </div>
    <% end -%>
