<% if !flash[:message].blank? -%>
  <div class="message"><%= flash[:message] %></div>
<% end -%>
<%= form_for @punch_entry,
             url: {action: 'update', id: @punch_entry.id} do |f| -%>
  <p>Contact: <%= @punch_entry.contact %> (#<%= @punch_entry.contact.id %>)</p>
  <label for="punch_entry_in_time">Sign-In time</label>
  <%= text_field_tag 'punch_entry[in_time][date]',
                     @punch_entry.in_time.to_date,
                     maxlength: 10,
                     size: 10,
                     class: 'date-picker'
      %>
  <%= text_field_tag 'punch_entry[in_time][time]',
                     @punch_entry.in_time.strftime('%R'),
                     maxlength: 10,
                     size: 5,
                     class: 'time-picker'
      %>
  <label for="punch_entry_out_time">Sign-Out time</label>
  <%= text_field_tag 'punch_entry[out_time][date]',
                     @punch_entry.out_time.to_date,
                     maxlength: 10,
                     size: 10,
                     class: 'date-picker'
      %>
  <%= text_field_tag 'punch_entry[out_time][time]',
                     @punch_entry.out_time.strftime('%R'),
                     maxlength: 10,
                     size: 5,
                     class: 'time-picker'
      %>
  <br />
  <%= f.check_box :flagged %>
  <label for="punch_entry_flagged">Flagged?</label>
  <label for="punch_entry_station">Station</label>
  <select id="punch_entry_station" name="punch_entry[station]">
      <option value="">-- Select station --</option>
      <%= options_from_collection_for_select(
          VolunteerTaskType.current,
          :id,
          :display_name,
          @punch_entry.volunteer_task.nil? ?
            nil : @punch_entry.volunteer_task.volunteer_task_type.id,
          )
          %>
  </select>
  <%= f.submit %>
<% end -%>
<%= render(partial: 'notations/display',
           locals: {notations: @punch_entry.notations}) %>
<%= render(partial: 'notations/form',
           locals: {type: 'PunchEntry',
                    id: @punch_entry.id}) %>
