<h1>New points_trade</h1>

<%= render :partial => "messages" %>

<% newaction = ({:index => :create, :new => :create, :edit => :update}[params[:action].to_sym] || params[:action]).to_s %>
<div>
<% remote_form_for(:points_trade, @points_trade, :url => {:action => newaction, :id => @points_trade.id}, :html => {:id => "points-trade"}, :loading => "Element.show('#{loading_indicator_id("form_for_points_trade_loading")}'); Form.disable('points-trade');") do |f| %>
  <div style="float:left;padding:5px;">
    <%= f.label :from_contact_id %><br />
    <%= contact_field('@points_trade', 'from_contact_id',
                    :locals => {:options =>
                      { 
                        :object_name => 'points_trade',
                        :field_name => 'from_contact_id',
                        :element_prefix => 'from_contact',
                        :display_edit => false,
                        :display_create => false,
                        :show_label => false,
                      },
                      :contact => @points_trade.from_contact
                    } ) %></p>
  </div>
  <div style="float:left;padding:5px;">
    <%= f.label :to_contact_id %><br />
<%= contact_field('@points_trade', 'to_contact_id',
                    :locals => {:options =>
                      { 
                        :object_name => 'points_trade',
                        :field_name => 'to_contact_id',
                        :element_prefix => 'to_contact',
                        :display_edit => false,
                        :display_create => false,
                        :show_label => false,
                      },
                      :contact => @points_trade.to_contact
                    } ) %>
  </div>
  <div style="float:left;padding:5px;">
    <%= f.label :points %><br />
    <%= f.text_field :points %><br />
    <%= f.submit "Save" %><%= loading_indicator_tag("form_for_points_trade_loading") %>
  </div>
<% end %>
</div>
<div style="clear:both">
<h1>Listing points_trades</h1>

<table>
  <tr>
    <th>From contact</th>
    <th>To contact</th>
    <th>Points</th>
  </tr>

<% for points_trade in @points_trades %>
  <tr id="points_trade_<%= points_trade.id %>">
    <td><%=h points_trade.from_contact.display_name %> (<%=h points_trade.from_contact_id %>)</td>
    <td><%=h points_trade.to_contact.display_name %> (<%=h points_trade.to_contact_id %>)</td>
    <td><%=h points_trade.points %></td>
    <td><%= link_to 'Edit', :action => "edit", :id => points_trade.id %></td>
    <td><%= link_to_remote 'Destroy', :url => {:action => "destroy", :id => points_trade.id}, :loading => "Element.show('#{loading_indicator_id("points_trade_#{points_trade.id}_loading")}');", :confirm => 'Are you sure?' %><%= loading_indicator_tag("points_trade_#{points_trade.id}_loading") %></td>
  </tr>
<% end %>
</table>
</div>
