<form action="<%= url_for :action => "combine_dups" %>">
  <table width="100%" border="1" style="border-collapse: collapse;">
    <tr>
      <th />
      <% for c in @contacts %>
        <th align="right">
          <%= c.id %>
        </th>
      <% end %>
    </tr>

    <tr>
      <th width="10%">
        Display Name
      </th>
      <% for c in @contacts %>
        <td align="right">
          <%= h c.display_name %>
        </td>
      <% end %>
    </tr>

    <tr><td colspan="<%= @contacts.length + 1 %>">These parts will be merged together, and combined between the keepers and the mergers:</td></tr>

    <tr>
      <th width="10%">
        Contact Methods
      </th>
      <% for c in @contacts %>
        <td align="right">
          <%= c.contact_methods.sort{|x,y| x.contact_method_type.description  <=> y.contact_method_type.description}.map{|x| "<b>" + h(x.contact_method_type.description) + ":</b> " + h(x.value)} %>
        </td>
      <% end %>
    </tr>

    <tr>
      <th width="10%">
        Notes
      </th>
      <% for c in @contacts %>
        <td align="right">
          <%= h c.notes %>
        </td>
      <% end %>
    </tr>

    <tr>
      <th width="10%">
        Contact Types
      </th>
      <% for c in @contacts %>
        <td align="right">
          <%= h c.contact_types.map{|x| x.description}.sort.join(", ") %>
        </td>
      <% end %>
    </tr>

    <% for i in ["sales", "disbursements", "donations", "gizmo_returns", "volunteer_tasks"] %>
      <tr>
        <th width="10%">
          Last <%= i.singularize.titleize %>
        </th>
        <% for c in @contacts %>
          <td align="right">
            <%= c.send(i).sort_by(&:created_at).first.created_at.strftime("%D") if !c.send(i).empty? %>
          </td>
        <% end %>
      </tr>
    <% end %>

    <tr>
      <th width="10%">
        Hours worked
      </th>
      <% for c in @contacts %>
        <td align="right">
          <%= c.volunteer_tasks.inject(0.0){|sum,i| sum + i.effective_duration} %>
        </td>
      <% end %>
    </tr>

    <tr>
      <th width="10%">
        Number of Printmes ran
      </th>
      <% for c in @contacts %>
        <td align="right">
          <%= c.spec_sheets.length %>
        </td>
      <% end %>
    </tr>

    <tr><td colspan="<%= @contacts.length + 1 %>">These parts will <b>NOT</b> be merged together. They will be taken from the keeper only:</td></tr>

    <tr>
      <th width="10%">
        Address
      </th>
      <% for c in @contacts %>
        <td align="right">
          <%= h(c.address.to_s) + '<br />' + h(c.city.to_s + ', ' + c.state_or_province.to_s + ' ' + c.postal_code.to_s) %>
        </td>
      <% end %>
    </tr>

    <tr>
      <th width="10%">
        First name
      </th>
      <% for c in @contacts %>
        <td align="right">
          <%= h c.first_name %>
        </td>
      <% end %>
    </tr>

    <tr>
      <th width="10%">
        Middle name
      </th>
      <% for c in @contacts %>
        <td align="right">
          <%= h c.middle_name %>
        </td>
      <% end %>
    </tr>

    <tr>
      <th width="10%">
        Last name
      </th>
      <% for c in @contacts %>
        <td align="right">
          <%= h c.surname %>
        </td>
      <% end %>
    </tr>

    <tr>
      <th width="10%">
        Organization
      </th>
      <% for c in @contacts %>
        <td align="right">
          <%= h c.organization %>
        </td>
      <% end %>
    </tr>

    <tr>
      <th width="10%">
        Is organization
      </th>
      <% for c in @contacts %>
        <td align="right">
          <%= c.is_organization %>
        </td>
      <% end %>
    </tr>

    <% if @contacts.map{|x| x.user}.delete_if{|x| x.nil? or x.blank?}.length > 0 %>
      <tr><td colspan="<%= @contacts.length + 1 %>">The user will sort of be merged. If only one of the records has a user, then that user will be kept. If both the keeper and the merger have a user, then the users persmissions will be merged, but their login name and password will be taken from the keeper. If multiple mergers have a user and the keeper does not have a user, then one of the mergers' users will be choosen (randomly) to be kept.</td></tr>

      <tr>
        <th width="10%">
          User
        </th>
        <% for c in @contacts %>
          <td align="right">
            <%= h c.user.login if c.user %>
          </td>
        <% end %>
      </tr>
    <% end %>

    <tr>
      <th width="10%">
        Merge
      </th>
      <% f_first=true %>
      <% for c in @contacts %>
        <td align="right">
          Keeper: <input name=ids[<%= c.id.to_s %>][keeper] type=checkbox <%= (f_first ? 'checked=checked' : '') %> id=<%= c.id.to_s %>_keeper onChange="if(this.checked == true){$('<%= c.id %>_merge').checked = false}">
          <br />Merge: <input name=ids[<%= c.id.to_s %>][merge] type=checkbox <%= (f_first ? '' : 'checked=checked') %> id=<%= c.id.to_s %>_merge  onChange="if(this.checked == true){$('<%= c.id %>_keeper').checked = false}">
        </td>
        <% f_first=false %>
      <% end %>
    </tr>
  </table>
  <br />
  <input type="submit" value="Save" />
</form>
