<% form_tag(:action => "badge") do %>
<div>
Enter Contact ID #'s:
<%= text_field_tag "contacts", params[:contacts] %>
</div>

<br />
<div style="clear: left">
<%= submit_tag "Find Contacts" %>
</div>

<% end %>

<% if @contacts %>
<H2>Will generate badges for the following contacts:</H2>
<% @contacts.each do |x| %>
#<%= x.id %>: <%= x.first_name %> <%= x.surname %>, <% if !@workers.include?(x) %><%= x.intern_title %><% else %>Staff<% end %><br />
<% end %>
<br />
<% @workers.each do |x| %>
<%= link_to "Upload staff image for #{x.worker.name}", {:action => "upload", :id => x.worker.id}, :target => "_blank" %> <br />
<% end %>
<br />
<%= button_to "Generate PDF", params.merge({:action => "generate_badges"}) %>
<br />


<% end %>
