  <p>
    <%= f.label :customer_name %><br />
    <%= f.text_field :customer_name %>
  </p>
  <p>
    <%= f.label :box_source %><br />
    <%= f.text_field :box_source %>
  </p>
  <p>
    <%= f.label :box_type %><br />
    <%= f.text_field :box_type %>
  </p>
  <p>
    <%= f.label :ticket_source %><br />
    <%= f.text_field :ticket_source %>
  </p>
  <p>
    <%= f.label :phone_number %><br />
    <%= f.text_field :phone_number %>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :issue %><br />
    <%= f.text_field :issue %>
  </p>
  <p>
    <%= f.label :os %><br />
    <%= f.text_field :os %>
  </p>
