  <p>
    <%= f.label :customer_name %><br />
    <%= f.text_field :customer_name, :onkeydown => "handle_enabling(event, 'open_struct_box_source');" %>
  </p>
  <p>
    <%= f.label :box_source %><br />
    onlick => focus on previous?
    <%= f.select :box_source, @rt_metadata["Box source"].map{|x| [x, x]}, {:include_blank => true}, {:disabled => 'disabled', :onkeydown => "handle_enabling(event, 'open_struct_system_id');"} %>
  </p>
  <% if @work_order.mode == 'ts' %>
  <p>
    <%= f.label :system_id, 'System ID' %>
    <%= f.text_field :system_id, {:disabled => 'disabled', :onkeydown => "handle_enabling(event, 'open_struct_receiver_contact_id');"} %>
  </p>
  <% end %>
  <p>
    <%= f.label :receiver_contact_id, "Receiver Contact ID" %><br />
    <%= f.text_field :receiver_contact_id, {:disabled => 'disabled', :onkeydown => "handle_enabling(event, 'open_struct_box_source');"} %>
  </p>
  <p>
    <%= f.label :box_type %><br />
    <%= f.select :box_type, @rt_metadata["Type of Box"].map{|x| [x, x]}, :include_blank => true %>
  </p>
    <%= f.hidden_field :ticket_source, :value => "Front Desk" %>
  <p>
    <%= f.label :phone_number, "Phone Number (optional)" %><br />
    <%= f.text_field :phone_number %>
  </p>
  <p>
    <%= f.label :email, "Email (optional)" %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :issue %><br />
    <%= f.select :issue, @rt_metadata["Tech Support Issue"].map{|x| [x, x]}, :include_blank => true %>
    <%# render :partial => 'issues' %>
  </p>
  <p style="clear: left">
    <br />
    <%= f.label :os, "Operating System (optional)" %><br />
    <%= f.select :box_type, WorkOrdersController::OS_OPTIONS.map{|x| [x, x]}, :include_blank => true %>
  </p>
