  <%= javascript_tag "linelist = ['open_struct_customer_name', 'open_struct_box_source', 'open_struct_system_id', 'open_struct_receiver_contact_id', 'open_struct_box_type', 'open_struct_phone_number', 'open_struct_email', 'open_struct_issue', 'open_struct_os', 'open_struct_submit']; optional = ['open_struct_phone_number', 'open_struct_email', 'open_struct_os']; hook_list = [];" %>  <p>
  <p>
    <%= f.label :customer_name %><br />
    <%= f.text_field :customer_name %>
  </p>
  <p>
    <%= f.label :box_source %><br />
    <%= f.select :box_source, @rt_metadata["Box source"].map{|x| [x, x]}, {:include_blank => true}, {:onkeydown => "handle_enabling(event, linelist, optional);"} %>
  </p>
  <p>
    <%= f.label :receiver_contact_id, "Receiver Contact ID" %><br />
    <%= f.text_field :receiver_contact_id %>
  </p>
  <p>
    <%= f.label :box_type %><br />
    <%= f.select :box_type, @rt_metadata["Type of Box"].map{|x| [x, x]}, :include_blank => true %>
  </p>
  <p>
    <%= f.label :phone_number, "Phone Number (optional)" %><br />
    <%= f.text_field :phone_number %>
  </p>
  <p>
    <%= f.label :email, "Email (optional)" %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :issue %><br />
    <%= f.select :issue, @rt_metadata["Tech Support Issue"].map{|x| [x, x]}, :include_blank => true %>
    <%# render :partial => 'issues' %>
  </p>
  <p>
    <%= f.label :os, "Operating System (optional)" %><br />
    <%= f.select :os, WorkOrdersController::OS_OPTIONS.map{|x| [x, x]}, :include_blank => true %>
  </p>
