<% if @warnings && @warnings.length > 0 %>
<% @warnings.each do |e| %>
<span class="error">Warning: <%= e %><br /><br /></span>
<% end %>
<% end %>
<%= error_messages_for :work_order %>

  <%= javascript_tag "linelist = ['open_struct_customer_name', 'open_struct_system_id', 'open_struct_box_source', 'open_struct_box_type', 'open_struct_adopter_id', 'open_struct_adopter_name', 'open_struct_phone_number', 'open_struct_email', 'open_struct_issue', 'open_struct_ticket_source', 'open_struct_sale_date', 'open_struct_sale_id', 'open_struct_receiver_contact_id', 'open_struct_additional_items', 'open_struct_comment', 'open_struct_os', 'open_struct_warranty', 'open_struct_submit']; optional = ['open_struct_phone_number', 'open_struct_email', 'open_struct_os', 'open_struct_sale_id', 'open_struct_sale_date']; hook_list = [];" %>
  <%= javascript_tag 'hook_list["open_struct_phone_number"] = function() {if($("open_struct_phone_number").value == "") {if(!confirm("Now would be a great time to remind the user we recycle unclaimed hardware after 45 days! Are you sure you do not want to provide a phone number?")){$("open_struct_adopter_name").focus();}};};' %>
  <%= javascript_tag 'hook_list["open_struct_system_id"] = function () {Element.show("system_info_loading_indicator_id"); var myhash = new Hash(); myhash.set("id", $("open_struct_system_id").value); new Ajax.Request(system_info_url + "?" + myhash.toQueryString(), {asynchronous:false, evalScripts:true});}' %>
  <%= javascript_tag 'hook_list["open_struct_adopter_id"] = function () {if($("contact__display_name")){$("open_struct_adopter_name").value = $("contact__display_name").innerHTML;};if($("contact__phone_number")){$("open_struct_phone_number").value = $("contact__phone_number").innerHTML;};if($("contact__email")){$("open_struct_email").value = $("contact__email").innerHTML;};}' %>
  <%= javascript_tag 'hook_list["open_struct_os"] = function () {Element.show("warranty_info_loading_indicator_id"); var myhash = new Hash(); myhash.set("box_source", $("open_struct_box_source").value); myhash.set("os", $("open_struct_os").value); myhash.set("box_type", $("open_struct_box_type").value); myhash.set("sale_date", $("open_struct_sale_date").value); myhash.set("os", $("open_struct_os").value); new Ajax.Request(warranty_info_url + "?" + myhash.toQueryString(), {asynchronous:false, evalScripts:true});}' %>
  <h2>Customer Information</h2>
  <p>
    <%= f.label :customer_name %><br />
    <%= f.text_field :customer_name %>
  </p>
  <p>
    <%= f.label :phone_number, "Phone Number (optional)" %><br />
    <%= f.text_field :phone_number %>
  </p>
  <p>
    <%= f.label :email, "Email (optional)" %><br />
    <%= f.text_field :email %>
  </p>

  <h2>Gizmo Information</h2>
  <%= f.label :box_type %>
    <% @rt_metadata["Type of Box"].each do |x| %>
    <div class='form-element'>
      <%= f.radio_button "box_type", x, {:checked => @work_order.box_type == x, :onclick => x.match(/(Server|Desktop|Laptop)/) ? "$('system_id_div').show();" : ""} %>
      <%= f.label "box_type", x, :value => x %>
    </div>
    <% end %>
  <p style="clear: left">
    <br />
    <%= f.label :additional_items, "Additional items left with tech support (or enter none)" %><br />
    <%= f.text_field :additional_items %>
  </p>
  <div <% unless f.object.box_type.to_s.match(/(Server|Desktop|Laptop)/) %>style="display: none"<% end %> id="system_id_div">
  <p>
    <%= f.label :system_id, 'System ID' %>
    <%= f.text_field :system_id %><%= loading_indicator_tag "system_info" %><br />
    <%= button_to_function "No System ID Available", "$('system_info_div').show();" %>
  </p>
  </div>
  <div <% unless f.object.box_type.to_s.match(/(Server|Desktop|Laptop)/) && f.object.system_id && f.object.system_id.to_s.length == 0  %>style="display: none"<% end %> id="system_info_div">
  <p>
    <%= f.label :box_source %><br />
    <%= f.select :box_source, @rt_metadata["Box source"].map{|x| [x, x]}, {:include_blank => true} %>
  </p>
  <!-- 
  <p>
    <%= f.label :ticket_source %><br />
    <%= f.select :ticket_source, @rt_metadata["Ticket Source"].map{|x| [x, x]}, :include_blank => true %>
  </p>
  -->
  <p>
    <%= f.label :sale_date, "Date acquired" %><br />
    <%= calendar_box f.object_name, :sale_date, :value => f.object.sale_date %>
  </p>
  </div>
  <h2>Support Information</h2>
  <p>
    <%= f.label :receiver_contact_id, "Receiving Technician ID" %><br />
    <%= f.text_field :receiver_contact_id %>
  </p>
  <p>
    <%= f.label :os, "Operating System (optional)" %><br />
    <%= f.select :os, WorkOrdersController::OS_OPTIONS.map{|x| [x, x]}, :include_blank => true %>
  </p>
  <p>
    <%= f.label :issue %>
    <%# f.select :issue, @rt_metadata["Tech Support Issue"].map{|x| [x, x]}, :include_blank => true %>
    <%= render :partial => 'issues', :locals => {:f => f} %>
  </p>
<div style="clear: both">
  <br />
  <p>
    <%= f.label :comment, "Description of issue" %>
    <%= f.text_area :comment %>
  </p>
</div>

