<% if name = @data["Name"] %>
<h3>Tech support notes matching name: <%= name %></h3>
<% results = TechSupportNote.contacts_with_notes(name) %>
<% if results.length == 0 %>
None found.<br />
<% end %>
<% results.each do |result| %>
<fieldset id="ts-note-<%= result.tech_support_note.contact_id %>">
<b>Tech support notes for <%= result.display_name %> (#<%= result.id%>)<% if TechSupportNotesController.sb_has_required_privileges("edit_note") %> (<%= link_to_remote "edit", :url => {:controller => "tech_support_notes", :id => result.tech_support_note.contact_id, :action => "edit_note"}, :loading => "$('#{loading_indicator_id("ts-new-note")}').show();" %>):<% else %>:<% end %></b><br />
<%= result.tech_support_note.notes.gsub("\n", "<br />") %>
</fieldset>
<% end %>
<% if TechSupportNotesController.sb_has_required_privileges("edit_note") %>
<div id="ts-note-new">
<%= link_to_remote "Add new notes", :url => {:controller => "tech_support_notes", :id => name, :action => "add_note"}, :loading => "$('#{loading_indicator_id("ts-new-note")}').show();" %>
<%= loading_indicator_tag("ts-new-note") %>
</div>
<% end %>
<% end %>
