<h1>New Work Order</h1>

<% if @data %>
<% if @warnings.length > 0 %>
<% @warnings.each do |e| %>
<span class="error">Warning: <%= e %><br /><br /></span>
<% end %>
<% end %>
<%= button_to "Edit Information", {:mode => params[:mode], :action => "new", :open_struct => params[:open_struct]} %>
<%= button_to "Submit Work Order", {:mode => params[:mode], :action => "submit", :open_struct => params[:open_struct]} %>
<%= render :partial => 'workorder', :locals => {:data => @data, :system => nil} %>
<% else %>
<% form_for(@work_order, :url => {:action => "create", :mode => params[:mode]}) do |f| %>
  <%# f.error_messages %>

  <%= render :partial => "form", :locals => {:f => f} %>

  <p>
    <%= f.submit "Preview" %>
  </p>
<% end %>
<% end %>
<% if params[:open_struct] %>
<%= javascript_tag "prep_disabled_list(linelist, optional, hook_list, false);" %>
<% else %>
<%= javascript_tag "prep_disabled_list(linelist, optional, hook_list, true);" %>
<% end %>
