<% if @error %>
<span class="error"><%= @error %><br /><br /></span>
<% end %>

<% if @data %>
<%= button_to "Edit Information", {:action => "new", :open_struct => params[:open_struct]} %>
<%= button_to "Submit Work Order", {:action => "submit", :open_struct => params[:open_struct]} %>
<%= render :partial => 'workorder', :locals => {:data => @data, :system => nil} %>
<% else %>
<% form_for(@work_order, :url => {:action => "create"}) do |f| %>
  <%# f.error_messages %>

  <%= render :partial => "form", :locals => {:f => f} %>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>
<% end %>
