  <p>
    <%= f.label :system_type %><br />
    <%= f.text_field :system_type %>
  </p>
  <p>
    <%= f.label :box_source %><br />
    <%= f.text_field :box_source %>
  </p>
  <p>
    <%= f.label :os_type %><br />
    <%= f.text_field :os_type %>
  </p>
  <p>
    <%= f.label :length_number, "Length" %><br />
    <%= f.text_field :length_number %>
    <%= f.select :length_unit, WarrantyLength::UNITS.map{|x| [x.to_s, x.to_s]}, :select => f.object.length_unit %>
  </p>
  <p>
    <%= f.label :effecitve_on %><br />
    <%= calendar_box('warrranty_lengths', 'effective_on') %>
  </p>
  <p>
    <%= f.label :ineffective_on %><br />
    <%= calendar_box('warrranty_lengths', 'ineffective_on') %>
  </p>
