  <p>
    <%= f.label :system_type %><br />
    <%= f.text_field :system_type %>
  </p>
  <p>
    <%= f.label :box_source %><br />
    <%= f.text_field :box_source %>
  </p>
  <p>
    <%= f.label :os_type %><br />
    <%= f.text_field :os_type %>
  </p>
  <p>
    <%= f.label :length %><br />
    <%= f.text_field :length %>
  </p>
  <p>
    <%= f.label :effecitve_on %><br />
    <%= f.date_select :effecitve_on %>
  </p>
  <p>
    <%= f.label :ineffective_on %><br />
    <%= f.date_select :ineffective_on %>
  </p>
