<table>
  <tr>
    <th>System type</th>
    <th>Box source</th>
    <th>Os type</th>
    <th>Length</th>
    <th>Effecitve on</th>
    <th>Ineffective on</th>
  </tr>

<% for warranty_length in @warranty_lengths %>
  <tr>
    <td><%=h warranty_length.system_type %></td>
    <td><%=h warranty_length.box_source %></td>
    <td><%=h warranty_length.os_type %></td>
    <td><%=h warranty_length.length %></td>
    <td><%=h warranty_length.effecitve_on %></td>
    <td><%=h warranty_length.ineffective_on %></td>
    <td><%= link_to 'Edit', {:action => "edit", :id => warranty_length.id} %></td>
    <td><%= link_to 'Destroy', {:action => "destroy", :id => warranty_length.id}, :confirm => 'Are you sure?' %></td>
  </tr>
<% end %>
</table>
