<table>
  <tr>
    <th>Cashier signed off by</th>
    <th>Action</th>
    <th>Contact</th>
    <th>Notes</th>
    <th>Spec Sheet</th>
  </tr>

<% for builder_task in @builder_tasks %>
  <tr>
    <td><%=h builder_task.cashier_signed_off_by %></td>
    <td><%=h builder_task.action_id %></td>
    <td><%=h builder_task.contact_id %></td>
    <td><%=h builder_task.notes %></td>
    <td><%= builder_task.spec_sheet ? (link_to "Spec Sheet ##{builder_task.spec_sheet.id}", {:controller => "spec_sheets", :action => "show", :id => builder_task.spec_sheet.id}) : "None" %></td>
    <td><%= link_to 'Show', {:action => "show", :id => builder_task.id} %></td>
    <td><%= link_to 'Edit', {:action => "edit", :id => builder_task.id} %></td>
  </tr>
<% end %>
</table>

<%= will_paginate @builder_tasks, :params => {:conditions => params[:conditions]} %>
