<h1>Editing builder_task</h1>

<%= form_for(@builder_task, :url => {:action => "update", :id => @builder_task.id}) do |f| %>
  <%= f.error_messages %>

  <%= render :partial => "form", :locals => {:f => f} %>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', {:action => "show", :id => @builder_task.id} %> |
<%= link_to 'Back', {:action => "index"} %>

<p>
  <h1>Sign off</h1>
  <%= render :partial => 'sign_off', :locals => {:builder_task => @builder_task} %>
</p>

