<div id="computer">
  <h2>Computer</h2>
  <table>
    <tr>
      <td>
        Vendor:
      </td>
      <td>
        <%= @report.system.vendor %>
      </td>
    </tr>
    <tr>
      <td>
        Model:
      </td>
      <td>
        <%= @report.system.model %>
      </td>
    </tr>
    <tr>
      <td>
        Serial Number:
      </td>
      <td>
        <%= @report.system.serial_number %>
      </td>
    </tr>
    <% xpath_foreach("//node[@class='processor']") do %>
      <% if xpath_if("product") %>
        <tr>
          <td>
            Processor:
          </td>
          <td>
            <%= xpath_value_of("product") %>
          </td>
        </tr>
        <% if xpath_if("size") %> 
          <tr>
            <td>
              Speed:
            </td>
            <td>
              <%= sprintf("%.0f", (xpath_value_of("size").to_d/1000000.0)) %>MHz
            </td>
          </tr>
        <% end %>
        <% if xpath_if("clock") %> 
          <tr>
            <td>
              FSB:
            </td>
            <td>
              <%= sprintf("%.0f", (xpath_value_of("clock").to_d/1000000.0)) %>MHz
            </td>
          </tr>
        <% end %>
      <% end %>
    <% end %>
    <tr>
      <td>
        BIOS Version:
      </td>
      <td>
        <%= xpath_value_of("//node[@id='firmware']/version") %>
      </td>
    </tr>
  </table>
</div>
