<table style="white-space:nowrap;">
  <tr>
    <th>Person</th>
    <th>System</th>
    <th>Type</th>
    <th>Role</th>
    <th>Created at</th>
    <th>Go Somewhere</th>
    <th>Notes</th>
  </tr>
<% for report in @reports %>
  <tr>
    <td>
<!-- s/|| report.contact_id/ once it gets into fgdb.rb -->
<% if thing = (report.contact_id && report.contact && report.contact.display_name != "(person without name)" && report.contact.display_name) || (report.contact_id && report.contact && report.contact.id) || report.contact_id %>
<%= link_to thing, {:action => "list_for_contact", :id => report.contact_id} %>
<% else %>
<%= "Unknown" %>
<% end %>
</td>
    <td><%= link_to report.system_id.to_s, {:action => "list_for_system", :id => report.system_id} %></td>
    <td><%= (report.type && report.type.name) || "Unknown" %></td>
    <td><%= (report.role && report.role.name) || "Unknown" %></td>
    <td><%= report.created_at.strftime("%D %I:%M%p") %></td>
    <td><%= link_to 'Show', {:action => "show", :id => report.id} %>
    <%= link_to 'XML', {:action => "dump", :id => report.id} %></td>
    <td><%= report.notes %></td>
  </tr>
<% end %>
</table>
