<table>
  <tr>
    <th>Person</th>
    <th>System</th>
    <th>Type</th>
    <th>Role</th>
    <th>Created at</th>
    <th></th>
  </tr>
<% for report in @reports %>
  <tr>
    <td>
<% if report.contact_id && report.contact  && report.contact.display_name %>
<%= link_to report.contact.display_name, {:action => "list_for_contact", :id => report.contact_id} %>
<% else %>
<%= "Unknown" %>
<% end %>
</td>
    <td><%= link_to report.system_id.to_s, {:action => "list_for_system", :id => report.system_id} %></td>
    <td><%= (report.type_id && report.type.name) || "Unknown" %></td>
    <td><%= (report.role_id && report.role.name) || "Unknown" %></td>
    <td><%= report.created_at.strftime("%D %I:%M%p") %></td>
    <td><%= link_to 'Show', {:action => "show", :id => report.id} %></td>
  </tr>
<% end %>
</table>
