<% table_width = @columns.length + 2 %>
<h1>Gizmo report <%= @date_range_string %></h1>
<script>
  var disbursements_toggle = 0;
  <% for c in @rows
       if c.kind_of?(GizmoCategory) %>
    var category<%=c.id%> = 0;
    <%end%>
    <%end%>
</script>
<table class="report">

  <tr>
    <th class="section_header" colspan="<%= table_width %>">Gizmo Flow</th>
  </tr>
  <tr>
    <td>ids: <%= @range %></td>
  </tr>
  <tr>
    <td class="spacer"></td>
    <% for klass,id in @columns %>
      <% context = klass ? klass.find(id).description : 'gizmo total' %>
      <th class="column_header <%= klass == DisbursementType ? "disbursement-breakout-column" : ""%>" <%= "onClick='set_display_mode(\".disbursement-breakout-column\", ++disbursements_toggle%2);'" %>><%= context.titleize %></th>
    <% end %>
  </tr>

  <% for type in @rows %>
    <% if type.kind_of?(GizmoCategory) %>
      <tr class="category-row" onClick='set_display_mode(".category<%=type.id%>", ++category<%=type.id%>%2)'>
      <% elsif type.kind_of?(GizmoType) %>
      <tr class="type-row category<%= type.gizmo_category_id %>">
      <% else %>
      <tr>
        <%end%>
        <th class="row_header"><%= (type.respond_to?("description") ? type.description : type).to_s.titleize %></th>
        <% for col in @columns %>
            <% if col[0] == DisbursementType %>
            <td class="disbursement-breakout-column">
              <%else%>
            <td>
              <%end%>
              <%= number_with_delimiter(@gizmo_data[type][col]) %></td>
          <% end %>
      </tr>
      <% end %>

      <script>
        set_display_mode('.disbursement-breakout-column', 0)
        <% for c in @rows
             if c.kind_of?(GizmoCategory) %>
          set_display_mode('.category<%=c.id%>', 0)
          <%end%>
          <%end%>
      </script>
      <tr><td class="spacer" colspan="<%= table_width %>">&nbsp;</td></tr>

</table>


<p class="timestamp"> - generated <%= Time.now %></p>
