<% methods = PaymentMethod.find(:all) %>
<% table_width = @width + 2 %>
<h1>Income report <%= @date_range_string %></h1>
<% if @current_user %>
  <span class="print_only">
    Printed by <%= @current_user.login %><%= if @current_user.contact; " ( " + @current_user.contact.display_name + ")"; end %>
  </span>
<% end %>
<table class="report">

  <% for section in @sections %>
    <tr>
      <th class="section_header" colspan="<%= table_width %>"><%= section.to_s.titleize %></th>
    </tr>
    <% if @ranges.has_key? section %>
      <tr>
        <td colspan="3">ids: <%= @ranges[section] %></td>
      </tr>
    <% end %>
    <tr>
      <td class="spacer"></td>
      <% for method in @columns %>
        <th class="column_header"><%= method.titleize %></th>
      <% end %>
    </tr>

    <% for category in @rows[section] %>
      <tr>
        <th class="row_header"><%= category.titleize %></th>
        <% for method in @columns; income = @income_data[section][method][category] %>
          <td title="<%= income[:count]%> transactions"><%= number_with_delimiter('$%0.2f' % (income[:total]/100.0)) %></td>
        <% end %>
      </tr>
    <% end %>

    <tr><td class="spacer" colspan="<%= table_width %>">&nbsp;</td></tr>
  <% end %>

</table>


<p class="timestamp"> - generated <%= Time.now %></p>
