<h1>Go to report:</h1>

<% if @error!=nil %>
<div style="color: red">ERROR: <%= @error %></div>
<% end %>

<table>
<tr><td colspan=2>
<%= link_to "List all", :action => "list_all" %>
</td></tr>
<tr><td>
List for one contact:
</td><td>
<% form_tag ({:action => "list_for_contact"}) do %>
<%= text_field("id", nil) %><%= submit_tag "Get Report" %>
<% end %>
</td></tr>
<tr><td>
List for one system:
</td><td>
<% form_tag ({:action => "list_for_system"}) do %>
<%= text_field("id", nil) %><%= submit_tag "Get Report" %>
<% end %>
</td></tr>
<tr><td colspan=2>
<%= link_to 'New report', {:action => "new"} %>
</td></tr>
