<% load_xml %>

<div id="left" class="left">
  <div id="computer">
    <h2>Computer</h2>
    <table>
      <tr>
        <td>
          Vendor:
        </td>
        <td>
          <%= xpath_value_of("/node/vendor") %>
        </td>
      </tr>
      
      <tr>
        <td>
          Model:
        </td>
        <td>
          <%= xpath_value_of("/node/product") %>
        </td>
      </tr>
      
      <tr>
        <td>
          Serial Number:
        </td>
        <td>
          <%= xpath_value_of("/node/serial") %>
        </td>
      </tr>

      <% xpath_foreach("//node[@class='processor']") do %>
      <% if xpath_if("product") %>
      <tr>
        <td>
          Processor:
        </td>
        <td>
          <%= xpath_value_of("product") %>
        </td>
      </tr>
      
      <% if xpath_if("size") %> 
      <tr>
        <td>
          Speed:
        </td>
        <td>
          <%= sprintf("%.2f", (xpath_value_of("size").to_d/1000000.0)) %> MHz
        </td>
      </tr>
      <% end %>
      <% end %>
      <% end %>

      <tr>
        <td>
          BIOS Version:
        </td>
        <td>
          <%= xpath_value_of("//node[@id='firmware']/version") %>
        </td>
      </tr>
    </table>
  </div> <% #computer %>
  <div id="posted_info">
    <h2>Gizmo Info</h2>
    <table>
      <tr>
        <td>
          Date:
        </td>
        <td>
          <%= @report.created_at %>
        </td>
      </tr>
      <tr>
        <td>
          System ID:
        </td>
        <td>
          <%= @report.system_id %>
        </td>
      </tr>
      <tr>
        <td>
          Type:
        </td>
        <td>
          <%= @report.type.name %>
        </td>
      </tr>
      <tr>
        <td>
          Report ID:
        </td>
        <td>
          <%= @report.id %>
        </td>
      </tr>
      <tr>
        <td>
          Model:
        </td>
        <td>
          <%= @report.system.model %>
        </td>
      </tr>
      <tr>
        <td>
          Serial No:</td><td>
          <%= @report.system.serial_number %>
      </td></tr><tr><td>Vendor:</td><td>
          <%= @report.system.vendor %>
      </td></tr><tr><td>OS:</td><td>
          <%= @report.os %>
      </td></tr><tr><td>Job:</td><td>
          <%= @report.role.name %>
      </td></tr><tr><td>Technician:</td><td>
          <%= @report.contact_id %>
      </td></tr><tr><td>Old ID:</td><td>
          <%= @report.old_id %>
      </td></tr><tr><td style="vertical-align:bottom;">Instructor Initials:</td><td>
          <br>_________________________
      </td></tr><tr><td>Notes:</td><td>
          <%= @report.notes %>
    </table>
  </div><% #posted_info %>
  <div id="disburse">
    <h2>Disbursement Info</h2>
    <table summary="" width="100%">
      <!--
          <tr>
            <th colspan="8">Disbursement Info: CLASSROOM USE ONLY</th>
          </tr>
          -->
      <tr>
        <td colspan="2">Type of Disbursement:</td>
        <td colspan="2">[ &nbsp; ]<br>Grant</td>
        <td colspan="2">[ &nbsp; ]<br>24-hour</td>
        <td colspan="2">[ &nbsp; ]<br>Build</td>

      </tr>
      <tr>
        <td style="vertical-align:bottom;" colspan="2">Recipient Name:</td>
        <td colspan="6"><br>_________________________</td>
      </tr>
      <tr>
        <td style="vertical-align:bottom;" colspan="2">Date of dispersement:</td>
        <td colspan="6"><br>_________________________</td>
      </tr>
      <tr>
        <td style="vertical-align:bottom;" colspan="2">Recipient ID:</td>
        <td colspan="6"><br>_________________________</td>
      </tr>
      <tr>
        <td colspan="2">Type of Gizmo:</td>

        <td colspan="3">[ &nbsp; ]<br>CRT Monitor</td>
        <td colspan="3">[ &nbsp; ]<br>System</td>
      </tr>
    </table>
  </div> <% #disburse %>
  <div id="hard_drives">
    <h2>Hard Drives</h2>
    <% xpath_foreach("//node[contains(@id, 'disk')]") do %>
    <table>
      <tr>
        <td>
          Drive:
        </td>
        <td>
          <%= xpath_value_of("logicalname") %>
        </td>
      </tr>
      <tr>
        <td>
          Vendor:
        </td>
        <td>
          <%= xpath_value_of("vendor") %>
        </td>
      </tr>
      <tr>
        <td>
          Model:
        </td>
        <td>
          <%= xpath_value_of("product") %>
        </td>
      </tr>
      <% if xpath_if("size") %>
      <tr>
        <td>
          Capacity:
        </td>
        <td>
          <%= sprintf("%.2f", (xpath_value_of("size").to_d/1073741824.0)) %> Gb
        </td>
      </tr>
      <% end %>
      <% if xpath_if("node[contains(@id, 'volume')]") %>
      <tr>
        <td valign="top">Volumes: </td>
        <td>
          <table>
            <% xpath_foreach("node[contains(@id, 'volume')]") do %>
            <tr>
              <td>
                <%= xpath_value_of("logicalname") %>
              </td>
              <td>
                <%= xpath_value_of("description") %>
              </td>
              <td>
                <%= sprintf("%.2f", (xpath_value_of("capacity").to_d/1048576)) %> Mb
              </td>
            </tr>
            <% end %>
          </table>
        </td>
      </tr>
      <% end %>
    </table>
    <% end %>
  </div> <% #hard_drives %>
</div> <% #left %>
<div id="right" class="right">
  <div id="memory">
	<h2>Memory</h2>
	<% xpath_foreach("//node[@id='memory'] | //node[@id='memory:0']") do %>
	<% if xpath_if("size") %>
	<table>
	  <tr>
		<td>
		  Size:
		</td>
		<td>
          <%= (xpath_value_of("size").to_d/1048576.0).to_i.to_s %> Mb
		</td>
	  </tr>
	</table>
	<% end %>
	<% xpath_foreach("node[contains(@id, 'bank')]") do %>
	
	<h3>
	  <%= xpath_value_of("@id") %>
	</h3>
	<div class="indent">
	  <table>
		<tr>
		  <td>
			Description:
		  </td>
		  <td>
			<%= xpath_value_of("description") %>
		  </td>
		</tr>
		<% if xpath_if("size") %>
		<tr>
		  <td>
			Size:
		  </td>
		  <td>
            <%= (xpath_value_of("size").to_d/1048576.0).to_i.to_s %> Mb
		  </td>
		</tr>
        <% end %>
	  </table>
    </div>
	<% end %>
	<% end %>
  </div>
  <div id="optical_drives">
    <h2>Optical Drives</h2>
    <% xpath_foreach("//node[contains(@id, 'cdrom')]") do %>
    <table>
      <tr>
        <td>Drive:</td>
        <td>
          <%= xpath_value_of("logicalname") %>
        </td>
      </tr>
      <tr>
        <td>
          Description:
        </td>
        <td>
          <%= xpath_value_of("description") %>
        </td>
      </tr>
      <tr>
        <td>
          Model:
        </td>
        <td>
          <%= xpath_value_of("product") %>
        </td>
      </tr>
    </table>
    <% end %>
  </div> <% #optical_drives %>
  <div id="pci">
    <h2>PCI Bus</h2>
    <% xpath_foreach("//node[contains(@id, 'pci')]") do %>
    <h3><%= xpath_value_of("product") %></h3>
    <% xpath_foreach("node[
                      contains(@handle, 'PCI:')
                      and not(@class='bus')
                      and not(@class='bridge')
                      and not(@class='storage')
                      and not(@class='system')
                      and not(@class='memory')
                      ]") do %>
    <table>
      <% if xpath_if("@class") %>
      <tr>
        <td>Type: </td>
        <td>
          <%= xpath_value_of("@class") %>
        </td>
      </tr>
      <% end %>
      <% if xpath_if("vendor|businfo") %>
      <tr>
        <td>Description: </td>
        <td>
          <%= xpath_value_of("description") %>
          (<%= xpath_value_of("businfo") %>)
        </td>
      </tr>
      <% end %>
      <% if xpath_if("vendor") %>
      <tr>
        <td>Vendor: </td>
        <td>
          <%= xpath_value_of("vendor") %>
        </td>
      </tr>
      <% end %>
      <% if xpath_if("product") %>
      <tr>
        <td>Product: </td>
        <td>
          <%= xpath_value_of("product") %>
        </td>
      </tr>
      <% end %>
    </table>
    <% end %>
    <% end %>
  </div> <% #pci %>
</div> <% #right %>
