<span class="print_only">
  <%= render :partial => "helpers/letter_head",
      :locals => {:contact_information => @contact.nil? ? nil : @contact.display_name_address} %>
</span>
  <h1>Report of <%= @hours_type %> hours worked <%= @date_range_string %></h1>
  <%= render :partial => "form", :locals => {:name => "volunteers_form"} %>

  <% if @defaults.valid? %>

<% table_width = 2 %>
<% for section,types in @data %>
  <table width="100%" id="<%= section -%>_report"><caption><%= (section).to_s.titleize %></caption>
    <% for type in types.keys.sort {|a,b|
           if /total/i.match(a)
             1
           elsif /total/i.match(b)
             -1
           else
             a.downcase <=> b.downcase
           end } %>
      <% if @data[section][type].nonzero? || section != :volunteer_task_type %>
        <tr class="task"><td class="task_name"><%= type %></td> <td class="task_data"><%= @data[section][type].tp %></td></tr>
      <% end %>
    <% end %>
  </table>
  <p> </p>
<% end %>

<p class="timestamp"> - generated <%= Time.now %></p>
<% end %>
