  <p>
    <%= f.label :effective_at %><br />
    <%= f.date_select :effective_at %>
  </p>
  <p>
    <%= f.label :ineffective_at %><br />
    <%= f.date_select :ineffective_at %>
  </p>
  <p>
    <%= f.label :weekday_id %><br />
    <%= f.text_field :weekday_id %>
  </p>
  <p>
    <%= f.label :start_time %><br />
    <%= f.datetime_select :start_time %>
  </p>
  <p>
    <%= f.label :end_time %><br />
    <%= f.datetime_select :end_time %>
  </p>
  <p>
    <%= f.label :slot_count %><br />
    <%= f.text_field :slot_count %>
  </p>
  <p>
    <%= f.label :volunteer_task_type_id %><br />
    <%= f.text_field :volunteer_task_type_id %>
  </p>
  <p>
    <%= f.label :roster_id %><br />
    <%= f.text_field :roster_id %>
  </p>
