<!-- TODO: this breaks the filter_criteria conditions_html. I don't think it can be used multiple times on a page. needs some refactoring probably. -->
<div class='generate'>
<h3>Generate:</h3>
<% form_tag :action => 'generate', :controller => 'volunteer_default_shifts' do %>
  <p><label for="start_start_date">Start date:</label> <%= calendar_box skedj.opts[:generate_param_key], :start_date, defined?(@start_date) ? {:value => @start_date} : {}  %></p>
  <p><label for="end_end_date">End date:</label> <%= calendar_box skedj.opts[:generate_param_key], :end_date, defined?(@end_date) ? {:value => @end_date} : {} %></p>
  <% params[:gconditions] = params[:conditions] ? params[:conditions].dup : {} %>
  <%= conditions_html('gconditions', ["empty"]) %>
  <% @gconditions = Conditions.new %>
  <% @gconditions.apply_conditions(params[:gconditions]) %>
  <%= conditions_html('gconditions', skedj.opts[:generate_conditions]) if skedj.opts[:generate_conditions] %>
  Resources <%= check_box_tag skedj.opts[:generate_param_key] + "[do_resources]", 1, defined?(@do_resources) ? @do_resources :  true %>
  Shifts <%= check_box_tag skedj.opts[:generate_param_key] + "[do_shifts]", 1, defined?(@do_shifts) ? @do_shifts : true %>
  <% forcing = (defined?(@force_generate) && @force_generate) %>
  <% if forcing %>
    Force Generate <%= check_box_tag skedj.opts[:generate_param_key] + "[force_generate]", 1, true %>
  <% end %>
  <% if defined?(@conflicting_assignments) and @conflicting_assignments.length > 0 %>
    <h4 style='color: red'>Some shifts cannot be generated because it would create schedule conflicts for some contacts. Please choose what you would like to happen for these:</h4>
    <% @conflicting_assignments.each do |arr| %>
      <% day, da, a_list = arr.first, arr[1], arr.last %>
      <div>
        <% n = "assignment_conflict_#{da.id}_#{day}" %>
        <% f = "conflicting_assignments_responses[#{n}]" %>
        <label for="<%= f %>">During <%= a_list.map{|a| a.time_range_s}.join(", ") %> on <%= Date.parse(day).to_s %>, <%= da.contact.display_name %> (#<%= da.contact_id %>) is already scheduled in <%= a_list.map{|a| a.slot_type_desc}.join(", ") %> (A), so they cannot be added to <%= da.slot_type_desc %> (B).</label>
        <%= radio_button_tag f, "leave", @conflicting_assignments_responses[n] == "leave" %> leave scheduled in A and skip generating B<br />
        <%= radio_button_tag f, "replace", @conflicting_assignments_responses[n] == "replace" %> remove assignment to A while generating B
      </div>
    <% end %>
  <% end %>
  <p><%= submit_tag forcing ? "FORCE Generate and OVERWRITE data" : "Generate" %></p>
<% end %>
</div>

