<h1>New volunteer_default_shift</h1>

<%= form_for(@volunteer_default_shift, :url => {:action => "create"}) do |f| %>
  <%= f.error_messages %>

  <%= render :partial => "form", :locals => {:f => f} %>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', {:action => "index"} %>
