<p>
  <b>Effective at:</b>
  <%=h @volunteer_default_shift.effective_at %>
</p>

<p>
  <b>Ineffective at:</b>
  <%=h @volunteer_default_shift.ineffective_at %>
</p>

<p>
  <b>Weekday:</b>
  <%=h @volunteer_default_shift.weekday_id %>
</p>

<p>
  <b>Start time:</b>
  <%=h @volunteer_default_shift.start_time %>
</p>

<p>
  <b>End time:</b>
  <%=h @volunteer_default_shift.end_time %>
</p>

<p>
  <b>Slot count:</b>
  <%=h @volunteer_default_shift.slot_count %>
</p>

<p>
  <b>Volunteer task type:</b>
  <%=h @volunteer_default_shift.volunteer_task_type_id %>
</p>

<p>
  <b>Roster:</b>
  <%=h @volunteer_default_shift.roster_id %>
</p>


<%= link_to 'Edit', {:action => "edit", :id => @volunteer_default_shift.id} %> |
<%= link_to 'Back', {:action => "index"} %>
